<div class="row mt-4">
    <!-- chart - line series -->
    <div class="col-12 mt-4 mb-5">
        <div class="card">
            <div class="card-header">
                <span class="h4">{{ 'behaviour.chart1CardTitle' | translate }}</span>
            </div>
            <div class="card-body">
                <app-chart-multiple-axes name="bh-general-behavior" value1="page_views"
                    [valueName1]="'general.pageViews' | translate" value2="bounce_rate"
                    [valueName2]="'general.bounceRate' | translate" valueFormat2="%" [status]="brVsPagesViewedReqStatus"
                    [data]="brVsPagesViewed">
                </app-chart-multiple-axes>
            </div>
        </div>
    </div>
</div>

<!-- charts - pie -->
<div class="row">
    <!-- sessions new vs returning visitor -->
    <div class="col-12 col-lg-6 col-xl-3 mt-4 mb-5">
        <div class="card height-fluid">
            <div class="card-header">
                <span class="h4">{{ 'behaviour.chart2CardTitle' | translate }}</span>
            </div>
            <div class="card-body">
                <app-chart-pie name="bh-sessions-ret-visitor" [data]="behavior.newUsersVsCurrent"
                    [status]="behaviorReqStatus[0].reqStatus" [minLegendHeight]="150" legendPosition="bottom">
                </app-chart-pie>
            </div>
        </div>
    </div>

    <!-- sales new vs returning visitor -->
    <div class="col-12 col-lg-6 col-xl-3 mt-4 mb-5">
        <div class="card height-fluid">
            <div class="card-header">
                <span class="h4">{{ 'behaviour.chart3CardTitle' | translate }}</span>
            </div>
            <div class="card-body">
                <app-chart-pie name="bh-sales-ret-visitor" [data]="behavior.salesNewUsersVsCurrent"
                    [status]="behaviorReqStatus[1].reqStatus" [minLegendHeight]="150" legendPosition="bottom">
                </app-chart-pie>
            </div>
        </div>
    </div>

    <!-- sales by conversion source -->
    <div class="col-12 col-lg-6 col-xl-3 mt-4 mb-5">
        <div class="card height-fluid">
            <div class="card-header">
                <span class="h4">{{ 'behaviour.chart4CardTitle' | translate }}</span>
            </div>
            <div class="card-body">
                <app-chart-pie name="bh-sales-by-conv-sorce" [data]="behavior.salesBySource"
                    [status]="behaviorReqStatus[2].reqStatus" [minLegendHeight]="150" legendPosition="bottom">
                </app-chart-pie>
            </div>
        </div>
    </div>

    <!-- sales by sector -->
    <div class="col-12 col-lg-6 col-xl-3 mt-4 mb-5">
        <div class="card height-fluid">
            <div class="card-header">
                <span class="h4">{{ 'behaviour.chart5CardTitle' | translate }}</span>
            </div>
            <div class="card-body">
                <app-chart-pie name="bh-sales-by-sorce" [data]="behavior.salesBySector"
                    [status]="behaviorReqStatus[3].reqStatus" [minLegendHeight]="150" legendPosition="bottom">
                </app-chart-pie>
            </div>
        </div>
    </div>
</div>

<!-- PROSPECTING / REMARKETING -->
<div class="row">
    <div class="col-12">
        <span class="h3">Prospecting / Remarketing</span>
    </div>

    <!-- sessions by audience type -->
    <div class="col-12 col-lg-6 col-xl-3 mt-4 mb-5">
        <div class="card height-fluid">
            <div class="card-header">
                <span class="h4">{{ 'behaviour.chart6CardTitle' | translate }}</span>
            </div>
            <div class="card-body">
                <app-chart-pie name="bh-sessions-by-audience" [data]="behavior.sessionsByAudience"
                    [status]="behaviorReqStatus[4].reqStatus" [minLegendHeight]="150" legendPosition="bottom">
                </app-chart-pie>
            </div>
        </div>
    </div>

    <!-- new users by audience type -->
    <div class="col-12 col-lg-6 col-xl-3 mt-4 mb-5">
        <div class="card height-fluid">
            <div class="card-header">
                <span class="h4">{{ 'behaviour.chart7CardTitle' | translate }}</span>
            </div>
            <div class="card-body">
                <app-chart-pie name="bh-users-by-audience" [data]="behavior.newUsersByAudience" [minLegendHeight]="150"
                    legendPosition="bottom" [status]="behaviorReqStatus[5].reqStatus">
                </app-chart-pie>
            </div>
        </div>
    </div>

    <!-- quantity by audience type -->
    <div class="col-12 col-lg-6 col-xl-3 mt-4 mb-5">
        <div class="card height-fluid">
            <div class="card-header">
                <span class="h4">{{ 'behaviour.chart8CardTitle' | translate }}</span>
            </div>
            <div class="card-body">
                <app-chart-bar name="bh-quantity-by-audience" [data]="behavior.quantityByAudience"
                    legendPosition="bottom" [status]="behaviorReqStatus[6].reqStatus">
                </app-chart-bar>
            </div>
        </div>
    </div>

    <!-- revenue and aup by audience type -->
    <div class="col-12 col-lg-6 col-xl-3 mt-4 mb-5">
        <div class="card">
            <div class="card-header">
                <span class="h4">{{ 'behaviour.chart9CardTitle' | translate }}</span>
            </div>
            <div class="card-body">
                <app-chart-column-line-mix name="bh-revenue-aup-audience" [data]="behavior.revenueAupByAudience"
                    category="audience" columnValue="revenue" columnName="Revenue" lineValue="aup" lineName="AUP"
                    valueFormat="USD" [status]="behaviorReqStatus[7].reqStatus"
                    [joinTextInTooltip]="'others.in' | translate">
                </app-chart-column-line-mix>
            </div>
        </div>
    </div>
</div>