
.card .card-header {
    display: flex;
    align-items: center;
    min-height: 53px;

    span {
        display: block;
        line-height: 16px;
        margin-bottom: 0;
        margin-top: 4px;
    }
}

@media screen and (max-width: 1433px) and (min-width: 1207px){
    .card .card-header {
        min-height: 69px;
    }
}

@media screen and (max-width: 1207px) and (min-width: 1200px){
    .card .card-header {
        min-height: 85px;
    }
}