<!-- KPIS -->
<div class="row mt-2">
    <div class="col-12">
        <div class="stats-container">
            <app-card-stat *ngFor="let stat of kpis" [stat]="stat" [loader]="kpisReqStatus <= 1" [smallHeader]="true"
                height="100px">
            </app-card-stat>
        </div>
        <p class="text-center text-muted mt-3 mb-0" [hidden]="kpisReqStatus !== 3">
            Error al consultar datos
        </p>
    </div>
</div>

<!-- COUNTRIES AND RETAILERS TRAFFIC CHARTS -->
<div class="row mt-5" *ngIf="!levelPage?.retailer">
    <div class="col-12" *ngIf="levelPage?.latam">
        <div class="pills-container">
            <ul class="nav nav-pills nav-fill">
                <li class="nav-item">
                    <a class="nav-link p-2" [ngClass]="{'active': selectedTab1 === 1}"
                        (click)="getTrafficByCountriesAndRetailers('countries');">Tráfico por Países</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link p-2" [ngClass]="{'active': selectedTab1 === 2}"
                        (click)="getTrafficByCountriesAndRetailers('retailers')">Tráfico por Retailers</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-12 mt-4">
        <div class="card height-fluid">
            <div class="card-header">
                <span class="h4" *ngIf="levelPage?.latam">
                    Tráfico por {{ selectedTab1 === 1 ? 'Países' : 'Retailers' }}
                </span>
                <span class="h4" *ngIf="levelPage?.country">
                    Tráfico por Retailers
                </span>
            </div>
            <div class="card-body">
                <app-chart-line-series [series]="counOrRet" name="indexed-sessions-by-retailer" yTitle="Tráfico"
                    [status]="countOrRetReqStatus">
                </app-chart-line-series>
            </div>
        </div>
    </div>
</div>

<!-- TRAFFIC CHARTS -->
<div class="row mt-1">
    <!-- devices -->
    <div class="col-12 col-md-6 mt-4">
        <div class="card">
            <div class="card-header">
                <span class="h4">Tráfico por dispositivos</span>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12 col-xl-6 mt-5 mt-xl-0">
                        <div class="chart-legend legend-center mt-0">
                            <div class="legend-container" *ngIf="traffic?.desktop?.length > 0">
                                <div class="legend-square on color-1"></div>
                                <div class="legend-label">Desktop {{ traffic?.desktop[1].value }}%</div>
                            </div>
                        </div>
                        <app-chart-pictorial [data]="traffic?.desktop" name="indexed-devices-desktop"
                            [uniqueDimensionConf]="{color: '#67B6DC'}" category="name" iconType="monitor" height="280px"
                            [status]="trafficReqStatus[0].reqStatus">
                        </app-chart-pictorial>
                    </div>
                    <div class="col-12 col-xl-6 mt-5 mt-xl-0">
                        <div class="chart-legend legend-center mt-0">
                            <div class="legend-container" *ngIf="traffic?.mobile?.length > 0">
                                <div class="legend-square on color-2"></div>
                                <div class="legend-label">Mobile {{ traffic?.mobile[1].value }}%</div>
                            </div>
                        </div>
                        <app-chart-pictorial [data]="traffic?.mobile" name="indexed-devices-mobile"
                            [uniqueDimensionConf]="{color: '#6794DC'}" category="name" iconType="cellphone"
                            height="280px" [status]="trafficReqStatus[0].reqStatus">
                        </app-chart-pictorial>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- gender -->
    <div class="col-12 col-md-6 mt-4">
        <div class="card">
            <div class="card-header">
                <span class="h4">Tráfico por Género</span>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12 col-xl-6 mt-5 mt-xl-0">
                        <div class="chart-legend legend-center mt-0">
                            <div class="legend-container" *ngIf="traffic?.men?.length > 0">
                                <div class="legend-square on color-1"></div>
                                <div class="legend-label">Hombres {{ traffic?.men[1].value }}%</div>
                            </div>
                        </div>
                        <app-chart-pictorial [data]="traffic?.men" name="indexed-gender-man"
                            [uniqueDimensionConf]="{color: '#67B6DC'}" category="name" iconType="man" height="280px"
                            [status]="trafficReqStatus[1].reqStatus">
                        </app-chart-pictorial>
                    </div>

                    <div class="col-12 col-xl-6 mt-5 mt-xl-0">
                        <div class="chart-legend legend-center mt-0">
                            <div class="legend-container" *ngIf="traffic?.women?.length > 0">
                                <div class="legend-square on color-2"></div>
                                <div class="legend-label">Mujeres {{ traffic?.women[1].value }}%</div>
                            </div>
                        </div>
                        <app-chart-pictorial [data]="traffic?.women" name="indexed-gender-woman"
                            [uniqueDimensionConf]="{color: '#6794DC'}" category="name" iconType="woman" height="280px"
                            [status]="trafficReqStatus[1].reqStatus">
                        </app-chart-pictorial>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- age -->
    <div class="col-12 col-md-6 mt-4">
        <div class="card">
            <div class="card-header">
                <span class="h4">Tráfico por Edad</span>
            </div>
            <div class="card-body">
                <app-chart-lollipop [data]="traffic?.age" name="indexed-age" category="age" value="visits"
                    height="280px" [status]="trafficReqStatus[2].reqStatus">
                </app-chart-lollipop>
            </div>
        </div>
    </div>

    <!-- age and gender -->
    <div class="col-12 col-md-6 mt-4">
        <div class="card">
            <div class="card-header">
                <span class="h4">Tráfico por Género y Edad</span>
            </div>
            <div class="card-body" style="height: 328px">
                <!-- loader -->
                <app-chart-loader *ngIf="chartsInitLoad && trafficReqStatus[3].reqStatus <= 1">
                </app-chart-loader>

                <!-- ready -->
                <app-chart-pyramid *ngIf="traffic?.genderAndAge?.length > 0" [data]="traffic?.genderAndAge"
                    name="indexed-age-and-gender" [status]="trafficReqStatus[3].reqStatus" height="280px">
                </app-chart-pyramid>

                <!-- empty data -->
                <div *ngIf="trafficReqStatus[3].reqStatus === 2 && traffic?.genderAndAge?.length === 0"
                    class="chart-error-container text-muted">
                    <p class="text-center">
                        Sin datos disponibles <br>
                        Muestra insuficiente
                    </p>
                </div>

                <!-- error -->
                <div *ngIf="chartsInitLoad && trafficReqStatus[3].reqStatus === 3"
                    class="chart-error-container text-muted">
                    <span>Error al consultar datos</span>
                </div>
            </div>
        </div>
    </div>

    <!-- weekday and hour -->
    <div class="col-12 col-lg-6 mt-4">
        <div class="card" style="height: 100%;">
            <div class="card-header">
                <span class="h4">Tráfico por día de la semana y hora del día</span>
            </div>
            <div class="card-body">
                <app-chart-heat-map [data]="traffic?.weekdayAndHour" name="indexed-weekday-sesions"
                    categoryX="weekdayName" height="100%" [status]="trafficReqStatus[4].reqStatus">
                </app-chart-heat-map>
            </div>
        </div>
    </div>

    <div class="col-12 col-lg-6 mt-4">
        <!-- weekday -->
        <div class="card">
            <div class="card-header">
                <span class="h4">Tráfico por día de la semana</span>
            </div>
            <div class="card-body">
                <app-chart-bar-horizontal [data]="traffic?.weekday" name="indexed-traffic-day" category="weekdayName"
                    value='value' height="250px" [status]="trafficReqStatus[5].reqStatus">
                </app-chart-bar-horizontal>
            </div>
        </div>

        <div class="card mt-4">
            <!-- hour -->
            <div class="card-header">
                <span class="h4">Tráfico por hora del día</span>
            </div>
            <div class="card-body">
                <app-chart-lollipop [data]="traffic?.hour" name="indexed-traffic-hour" category="hour" value="value"
                    height="250px" [status]="trafficReqStatus[6].reqStatus">
                </app-chart-lollipop>
            </div>
        </div>
    </div>
</div>

<!-- NEW VISITORS & BR CHARTS -->
<div class="row">
    <div class="col-12 col-md-6 col-lg-4 mt-4">
        <div class="card height-fluid">
            <div class="card-header">
                <span class="h4">Visitantes nuevos - Visitantes recurrentes</span>
            </div>
            <div class="card-body">
                <app-chart-pie [data]="traffic?.newUsersVsCurrent" name="indexed-sessions-ret-visitor"
                    legendPosition="bottom" [status]="trafficReqStatus[7].reqStatus">
                </app-chart-pie>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6 col-lg-8 mt-4">
        <div class="card height-fluid">
            <div class="card-header">
                <span class="h4">Porcentaje de salidas y páginas vistas </span>
            </div>
            <div class="card-body">
                <app-chart-line-series [series]="exitsAndPagesViews" name="indexed-br-pages-view">
                </app-chart-line-series>
            </div>
        </div>
    </div>
</div>

<!-- MODELS AND CATEGORIES TABLES -->
<div class="row mt-5">
    <div class="col-12 col-md-6 mt-4">
        <div class="card">
            <div class="card-header">
                <span class="h4">Modelos más visitados</span>
            </div>
            <div class="card-body">
                <app-generic-table [displayedColumns]="topMostVisited.products.tableColumns"
                    [tableData]="topMostVisited.products" [tableDataChange]="topMostVisited.products.data"
                    errorMsg="Error al consultar modelos" emptyDataMsg="No se encontraron modelos">
                </app-generic-table>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6 mt-4">
        <div class="card height-fluid">
            <div class="card-header">
                <span class="h4">Categorías más visitadas</span>
            </div>
            <div class="card-body">
                <app-generic-table [displayedColumns]="topMostVisited.categories.tableColumns"
                    [tableData]="topMostVisited.categories" [tableDataChange]="topMostVisited.categories.data"
                    errorMsg="Error al consultar categorías" emptyDataMsg="No se encontraron categorías">
                </app-generic-table>
            </div>
        </div>
    </div>
</div>

<!-- AUDIENCES CHARTS -->
<div class="row my-5">
    <div class="col-12">
        <span class="h3">Audiencias - Afinidad y Mercado</span>
    </div>
    <div class="col-12 col-xl-6 mt-4">
        <div class="card">
            <div class="card-header header-info">
                <span class="h4 mr-2 mb-0">Categoría de afinidad</span>
                <div class="info-popover" ngbDropdown>
                    <a ngbDropdownToggle>
                        <i class="fas fa-info-circle"></i>
                    </a>
                    <div class="content" ngbDropdownMenu>
                        <p>
                            Las categorías de afinidad se utilizan para llegar a clientes potenciales, para que conozcan
                            la marca o producto. Estos son usuarios que se encuentran más arriba en el embudo de compra,
                            cerca del comienzo del proceso.
                        </p>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <app-chart-bar-horizontal [data]="audiences?.affinityCategory" name="indexed-category-coverage"
                    value="users" [singleColorBars]="true" [status]="audiencesReqStatus[0].reqStatus">
                </app-chart-bar-horizontal>

                <small class="text-muted mt-2 d-block d-sm-none">
                    Para mejor visualización usar la versión de <strong>Escritorio</strong>
                </small>
            </div>
        </div>
    </div>
    <div class="col-12 col-xl-6 mt-4">
        <div class="card">
            <div class="card-header header-info">
                <span class="h4 mr-2 mb-0">Segmento de mercado</span>
                <div class="info-popover" ngbDropdown>
                    <a ngbDropdownToggle>
                        <i class="fas fa-info-circle"></i>
                    </a>
                    <div class="content" ngbDropdownMenu>
                        <p>
                            Es más probable que los usuarios de estos segmentos estén listos para comprar productos o
                            servicios en la categoría especificada. Estos son los usuarios que se encuentran más abajo
                            en el embudo de compra, cerca del final del proceso.
                        </p>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <app-chart-bar-horizontal [data]="audiences?.marketSegment" name="indexed-market-segment" value="users"
                    [singleColorBars]="true" [status]="audiencesReqStatus[1].reqStatus">
                </app-chart-bar-horizontal>
                <small class="text-muted mt-2 d-block d-sm-none">
                    Para mejor visualización usar la versión de <strong>Escritorio</strong>
                </small>
            </div>
        </div>
    </div>
</div>