<nav class="navbar navbar-expand-md sticky-top navbar-dark bg-primary " id="navbar-main">
  <!-- navbar navbar-top navbar-expand-md navbar-dark sticky-top -->
  <div class="container-fluid">
    <!-- Brand -->
    <a class="h4 mb-0 text-white text-uppercase d-none d-lg-inline-block" routerLinkActive="active">
      <!-- {{ customTitle ? customTitle + (customSubtitle ? ' - ' + customSubtitle : '') : getTitleByRoute() }} -->
      {{ customTitle ? customTitle + (customSubtitle ? ' - ' + customSubtitle : '') : '' }}
    </a>
    <!-- User -->
    <ul class="navbar-nav align-items-center d-none d-md-flex">
      <li class="nav-item" ngbDropdown placement="bottom-right">
        <a class="nav-link pr-0" role="button" ngbDropdownToggle>
          <div class="media align-items-center">
            <!-- <span class="avatar avatar-sm rounded-circle"> -->
            <!-- <img alt="Image placeholder" src="assets/img/theme/team-4-800x800.jpg"> -->
            <i class="ni ni-single-02"></i>
            <div class="media-body ml-2 d-none d-lg-block">
              <span class="mb-0 text-sm font-weight-bold">{{ user?.email }}</span>
            </div>
          </div>
        </a>
        <div class="dropdown-menu-arrow dropdown-menu-right" ngbDropdownMenu>
          <!-- <a routerLinkActive="active" class="dropdown-item">
            <i class="ni ni-single-02"></i>
            <span>Mi perfil</span>
          </a>
          <a routerLinkActive="active" class="dropdown-item">
            <i class="ni ni-support-16"></i>
            <span>Soporte</span>
          </a> -->
          <!-- <div class="dropdown-divider"></div> -->
          <a class="dropdown-item" (click)="logout()">
            <i class="ni ni-user-run"></i>
            <span>Cerrar sesión</span>
          </a>
        </div>
      </li>
    </ul>
  </div>
</nav>