.main-content {
    background-attachment: fixed;
    background-image: url('/assets/img/brand/hp-wallpaper.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 0;
    position: relative;
    width: 100%;
}

.brand p {
    font-size: 24px;
}



// provisional example
.one-more-container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
  
  
.single-featured-background {
    position:relative;
    height: 100vh;
    overflow: hidden;
}

.onlyBg {
    background-image: url('/assets/img/brand/hp-wallpaper.jpg');
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    min-height: 100vh;
}

.one-more-container .onlyBg {
    transform: scale(1.3);
}
  
.super-title-container{
    position:relative;
}