.main-content {
    background-attachment: fixed;
    background-image: url('/assets/img/theme/auth-layout.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 0;
    position: relative;
    width: 100%;
}
