.main-content {
    background-attachment: fixed;
    background-image: url('/assets/img/brand/hp-wallpaper.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 0;
    position: relative;
    width: 100%;

    @media screen and (max-width: 576px) {
        background-image: none;
        background-color: #f8f9fe;
    }
}
