.header-info {
    display: block;

    .content span {
        background: #dee2e6;
        border-radius: 4px;
        display: flex;
        font-family: monospace;
        font-size: 11.5px;
        justify-content: center;
        margin-top: 4px;
        padding: 2px 4px;
    }
}
