<!-- KPIS CARDS -->
<div class="row mt-2">
    <div class="col-12 col-sm-6 col-lg-4 mt-lg-3" *ngFor="let stat of kpis">
        <app-card-stat [stat]="stat" [loader]="kpisReqStatus <= 1" height="100px">
        </app-card-stat>
    </div>
    <div class="col-12 mt-lg-3" [hidden]="kpisReqStatus !== 3">
        <p class="text-center text-muted mb-0">
            {{ 'general.errorData' | translate }}
        </p>
    </div>
</div>

<!-- USERS AND REVENUE -->
<div class="row mt-5">
    <div class="col-12">
        <div class="pills-container">
            <ul class="nav nav-pills nav-fill">
                <li class="nav-item">
                    <a class="nav-link p-2" [ngClass]="{'active': selectedTab1 === 1}"
                        (click)="getUsersOrRevenue('conversions', 'users')">
                        {{ 'general.usersVsSales' | translate }}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link p-2" [ngClass]="{'active': selectedTab1 === 2}"
                        (click)="getUsersOrRevenue('revenue-vs-aup')">
                        Revenue - AUP
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="col-12 mt-4">
        <div class="card">
            <div class="card-header">
                <span class="h4">
                    {{ selectedTab1 === 1 ? ('general.usersVsSales' | translate) : 'Revenue - AUP '}}
                </span>
            </div>
            <div class="card-body">
                <app-chart-multiple-axes [data]="usersOrRevenue"
                    [value1]="selectedTab1 === 1 ? 'transactions' : 'revenue'"
                    [value2]="selectedTab1 === 1 ? 'users' : 'aup'"
                    [valueName1]="selectedTab1 === 1 ? ('general.conversions' | translate) : 'Revenue'"
                    [valueName2]="selectedTab1 === 1 ? ('general.users' | translate): 'AUP'"
                    [valueFormat1]="selectedTab1 === 2 && 'USD'" [valueFormat2]="selectedTab1 === 2 && 'USD'"
                    name="pc-selector-traffic-vs-conversions" [status]="usersOrRevenueReqStatus">
                </app-chart-multiple-axes>
            </div>
        </div>
    </div>
</div>
<hr>

<!-- TRAFFIC AND CONVERSIONS -->
<div class="row mt-5">
    <div class="col-12">
        <div class="mb-3">
            <span class="h3">{{ 'pcSelector.section1Title1' | translate }}</span>
        </div>
    </div>
    <div class="col-12">
        <div class="pills-container">
            <ul class="nav nav-pills nav-fill">
                <li class="nav-item">
                    <a class="nav-link p-2" [ngClass]="{'active': selectedTab2 === 1}"
                        (click)="getTrafficOrConversions('traffic')">
                        {{ 'general.traffic' | translate }}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link p-2" [ngClass]="{'active': selectedTab2 === 2}"
                        (click)="getTrafficOrConversions('conversions')">
                        {{ 'general.conversions' | translate }}
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <!-- COUNTRIES -->
    <div class="col-12 col-lg-6 mt-4" *ngIf="levelPage.latam">
        <div class="card height-fluid">
            <div class="card-header">
                <span class="h4">
                    {{ (selectedTab2 === 1 ? 'general.traffic' : 'general.conversions' ) | translate }}
                    {{ 'charts.byCountry' | translate }}
                </span>
            </div>
            <div class="card-body">
                <app-chart-bar-horizontal [data]="trafficOrConversions?.countries" name="pc-selector-chats-by-country"
                    category="country" [singleColorBars]="true" [status]="trafficOrConversionsReqStatus[0].reqStatus">
                </app-chart-bar-horizontal>
            </div>
        </div>
    </div>

    <!-- RETAILERS -->
    <div class="col-12 col-lg-6 mt-4" *ngIf="levelPage.latam || levelPage.country"
        [ngClass]="{'col-lg-12' : !levelPage.latam}">
        <div class="card height-fluid">
            <div class="card-header">
                <span class="h4">
                    {{ (selectedTab2 === 1 ? 'general.traffic' : 'general.conversions' ) | translate }}
                    {{ 'charts.byRetailer' | translate }}
                </span>
            </div>
            <div class="card-body" [ngClass]="{'overfow-container': trafficOrConversions?.retailers?.length > 14}">
                <app-chart-bar-horizontal [data]="trafficOrConversions?.retailers" name="pc-selector-chats-by-retailer"
                    category="retailer" [truncateLabels]="true" [singleColorBars]="true"
                    [height]="trafficOrConversions?.retailers?.length > 14 ? '900px' : '350px'"
                    [status]="trafficOrConversionsReqStatus[1].reqStatus">
                </app-chart-bar-horizontal>
            </div>
        </div>
    </div>

    <!-- ASISTENTE VIRTUAL -->
    <ng-container *ngIf="selectedTab2 == 1">
        <div class="col-12 col-xl-4 mt-4">
            <div class="row">
                <div class="col-12 col-lg-6 col-xl-12">
                    <div class="card">
                        <div class="card-header">
                            <span class="h4">{{ 'pcSelector.chart4CardTitle1' | translate }}</span>
                        </div>
                        <div class="card-body">
                            <app-chart-pie [data]="trafficOrConversions?.exitRate" name="pc-selector-churn-rate"
                                legendPosition="bottom" height="200px"
                                [status]="trafficOrConversionsReqStatus[2].reqStatus">
                            </app-chart-pie>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6 col-xl-12 mt-4 mt-lg-0 mt-xl-4">
                    <div class="card">
                        <div class="card-header">
                            <span class="h4">{{ 'pcSelector.chart5CardTitle1' | translate }}</span>
                        </div>
                        <div class="card-body">
                            <app-chart-pie [data]="trafficOrConversions?.useRate" name="pc-selector-use-rate"
                                legendPosition="bottom" height="200px"
                                [status]="trafficOrConversionsReqStatus[4].reqStatus">
                            </app-chart-pie>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-xl-8 mt-4">
            <div class="card height-fluid">
                <div class="card-header">
                    <span class="h4">{{ 'pcSelector.chart6CardTitle1' | translate }}</span>
                </div>
                <div class="card-body">
                    <app-chart-funnel [data]="trafficOrConversions?.exitRateByStep" name="pc-selector-churn-rate"
                        height="515px" [status]="trafficOrConversionsReqStatus[3].reqStatus">
                    </app-chart-funnel>
                </div>
            </div>
        </div>

    </ng-container>

    <!-- CONVERSIONES POR PRODUCTO -->
    <div class="col-12 mt-4" *ngIf="selectedTab2 == 2">
        <div class="card height-fluid superimposed">
            <div class="card-header">
                <span class="h4">{{ 'pcSelector.chart7CardTitle1' | translate }}</span>
            </div>
            <div class="card-body">
                <app-chart-bar-horizontal [data]="trafficOrConversions?.products"
                    name="pc-selector-transactions-by-product" category="product" value="transactions"
                    [singleColorBars]="true" [status]="trafficOrConversionsReqStatus[5].reqStatus">
                </app-chart-bar-horizontal>
                <small class="text-muted mt-2 d-block d-sm-none">
                    {{ 'charts.mobileSuggestion' | translate }}
                    <strong> {{ 'charts.mobileSuggestion2' | translate }}</strong>
                </small>
            </div>
        </div>
    </div>

    <!-- CONVERSION RATE -->
    <div class="col-12 mt-4">
        <div class="card height-fluid">
            <div class="card-header">
                <span class="h4">{{ 'pcSelector.chart8CardTitle1' | translate }}</span>
            </div>
            <div class="card-body">
                <div class="chart-legend mt-0 mb-2" *ngIf="performance?.length > 0">
                    <div class="legend-container legend-right">
                        <div class="legend-square color-1"></div>
                        <div class="legend-label">
                            {{ 'general.users' | translate }}
                        </div>
                    </div>
                    <div class="legend-container ml-3">
                        <div class="legend-square color-2"></div>
                        <div class="legend-label">
                            {{ 'general.conversions' | translate }}
                        </div>
                    </div>
                    <div class="legend-container ml-3">
                        <div class="legend-square color-3"></div>
                        <div class="legend-label">
                            {{ 'general.conversionRate' | translate }}
                        </div>
                    </div>
                </div>
                <app-chart-bar-group [data]="performance" name="pc-selector-users-transactions-rate" height="325px"
                    valueBar1="users" valueBar2="transactions" valueLine1="conversion_rate"
                    [valueNameBar1]="'general.users' | translate" [valueNameBar2]="'general.conversions' | translate"
                    valueFormatLine1="%" [status]="performanceReqStatus">
                </app-chart-bar-group>
            </div>
        </div>
    </div>
</div>
<hr>

<!-- TRAFFIC AND CONVERSIONS - AUDIENCES (DEMOGRAPHICS) -->
<div class="row mt-5">
    <div class="col-12">
        <span class="h3">{{ 'general.audience' | translate }}</span>
    </div>
    <div class="col-12 mt-3">
        <div class="row">
            <div class="col-12">
                <div class="pills-container">
                    <ul class="nav nav-pills nav-fill">
                        <li class="nav-item">
                            <a class="nav-link p-2" [ngClass]="{'active': selectedTab3 === 1}"
                                (click)="getAudienceByMetric('traffic'); chartsInitLoad = chartsInitLoad && false">
                                {{ 'general.traffic' | translate }}
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link p-2" [ngClass]="{'active': selectedTab3 === 2}"
                                (click)="getAudienceByMetric('conversions'); chartsInitLoad = chartsInitLoad && false">
                                {{ 'general.conversions' | translate }}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- devices -->
            <div class="col-12 col-md-6 mt-4">
                <div class="card height-fluid">
                    <div class="card-header">
                        <span class="h4">
                            {{ (selectedTab3 === 1 ? 'general.traffic' : 'general.conversions' ) | translate }}
                            {{ 'charts.byDevice' | translate }}
                        </span>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 col-xl-6 mt-5 mt-xl-0">
                                <div class="chart-legend legend-center mt-0">
                                    <div class="legend-container" *ngIf="audience?.desktop?.length > 0">
                                        <div class="legend-square on color-4"></div>
                                        <div class="legend-label">Desktop {{ audience.desktop[1].value }}%
                                        </div>
                                    </div>
                                </div>
                                <app-chart-pictorial [data]="audience?.desktop" name="pc-selectordevices-desktop"
                                    [uniqueDimensionConf]="{color: '#67B6DC'}" category="name" iconType="monitor"
                                    height="280px" [status]="audienceReqStatus[0].reqStatus">
                                </app-chart-pictorial>
                            </div>
                            <div class="col-12 col-xl-6 mt-5 mt-xl-0">
                                <div class="chart-legend legend-center mt-0">
                                    <div class="legend-container" *ngIf="audience?.mobile?.length > 0">
                                        <div class="legend-square on color-5"></div>
                                        <div class="legend-label">Mobile {{ audience.mobile[1].value }}%</div>
                                    </div>
                                </div>
                                <app-chart-pictorial [data]="audience.mobile" name="pc-selectordevices-mobile"
                                    [uniqueDimensionConf]="{color: '#6794DC'}" category="name" iconType="cellphone"
                                    height="280px" [status]="audienceReqStatus[0].reqStatus">
                                </app-chart-pictorial>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- gender -->
            <div class="col-12 col-md-6 mt-4">
                <div class="card height-fluid">
                    <div class="card-header">
                        <span class="h4">
                            {{ (selectedTab3 === 1 ? 'general.traffic' : 'general.conversions' ) | translate }}
                            {{ 'charts.byGender' | translate }}
                        </span>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 col-xl-6 mt-5 mt-xl-0">
                                <div class="chart-legend legend-center mt-0">
                                    <div class="legend-container" *ngIf="audience?.men?.length > 0">
                                        <div class="legend-square on color-4"></div>
                                        <div class="legend-label">
                                            {{ 'others.men' | translate }} {{ audience.men[1].value }}%
                                        </div>
                                    </div>
                                </div>
                                <app-chart-pictorial [data]="audience.men" name="pc-selectorgender-man"
                                    [uniqueDimensionConf]="{color: '#67B6DC'}" category="name" iconType="man"
                                    height="280px" [status]="audienceReqStatus[1].reqStatus">
                                </app-chart-pictorial>
                            </div>

                            <div class="col-12 col-xl-6 mt-5 mt-xl-0">
                                <div class="chart-legend legend-center mt-0">
                                    <div class="legend-container" *ngIf="audience?.women?.length > 0">
                                        <div class="legend-square on color-5"></div>
                                        <div class="legend-label">
                                            {{ 'others.women' | translate }} {{ audience.women[1].value }}%
                                        </div>
                                    </div>
                                </div>
                                <app-chart-pictorial [data]="audience.women" name="pc-selectorgender-woman"
                                    [uniqueDimensionConf]="{color: '#6794DC'}" category="name" iconType="woman"
                                    height="280px" [status]="audienceReqStatus[1].reqStatus">
                                </app-chart-pictorial>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- age -->
            <div class="col-12 col-md-6 mt-4">
                <div class="card">
                    <div class="card-header">
                        <span class="h4">
                            {{ (selectedTab3 === 1 ? 'general.traffic' : 'general.conversions' ) | translate }}
                            {{ 'charts.byAge' | translate }}
                        </span>
                    </div>
                    <div class="card-body">
                        <app-chart-lollipop [data]="audience?.age" name="pc-selectorage" category="age"
                            [value]="selectedTab3 === 1 ? 'visits' : 'sales'" height="280px"
                            [status]="audienceReqStatus[2].reqStatus">
                        </app-chart-lollipop>
                    </div>
                </div>
            </div>

            <!-- age and gender -->
            <div class="col-12 col-md-6 mt-4">
                <div class="card">
                    <div class="card-header">
                        <span class="h4">
                            {{ (selectedTab3 === 1 ? 'general.traffic' : 'general.conversions' ) | translate }}
                            {{ 'charts.byGenderAndAge' | translate }}
                        </span>
                    </div>
                    <div class="card-body" style="height: 328px">
                        <!-- loader -->
                        <app-chart-loader *ngIf="chartsInitLoad && audienceReqStatus[3].reqStatus <= 1">
                        </app-chart-loader>

                        <!-- ready -->
                        <app-chart-pyramid *ngIf="audience?.genderAndAge?.length > 0" [data]="audience?.genderAndAge"
                            name="pc-selectorage-and-gender" [status]="audienceReqStatus[3].reqStatus" height="280px">
                        </app-chart-pyramid>

                        <!-- empty data -->
                        <div *ngIf="audienceReqStatus[3].reqStatus === 2 && audience?.genderAndAge?.length === 0"
                            class="chart-error-container text-muted">
                            <p class="text-center">
                                {{ 'general.withoutData' | translate }} <br>
                                {{ 'general.withoutData2' | translate }}
                            </p>
                        </div>

                        <!-- error -->
                        <div *ngIf="chartsInitLoad && audienceReqStatus[3].reqStatus === 3"
                            class="chart-error-container text-muted">
                            <span>{{ 'general.errorData' | translate }}</span>
                        </div>
                    </div>
                </div>
            </div>

            <!-- weekday and hour -->
            <div class="col-12 col-lg-6 mt-4" *ngIf="selectedTab3 === 1">
                <div class="card">
                    <div class="card-header">
                        <span class="h4">
                            {{ (selectedTab3 === 1 ? 'general.traffic' : 'general.conversions' ) | translate }}
                            {{ 'charts.byDayAndHour' | translate }}
                        </span>
                    </div>
                    <div class="card-body">
                        <app-chart-heat-map [data]="audience?.weekdayAndHour" name="pc-selectorweekday-sesions"
                            categoryX="weekdayName" height="615px" [status]="audienceReqStatus[5].reqStatus">
                        </app-chart-heat-map>
                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-6 mt-4">
                <!-- weekday -->
                <div class="card">
                    <div class="card-header">
                        <span class="h4">
                            {{ (selectedTab3 === 1 ? 'general.traffic' : 'general.conversions' ) | translate }}
                            {{ 'charts.byWeekday' | translate }}
                        </span>
                    </div>
                    <div class="card-body">
                        <app-chart-bar-horizontal [data]="audience?.weekday" name="pc-selectortraffic-day"
                            category="weekdayName" height="250px" [status]="audienceReqStatus[4].reqStatus">
                        </app-chart-bar-horizontal>
                    </div>
                </div>

                <div class="card mt-4" *ngIf="selectedTab3 === 1">
                    <!-- hour -->
                    <div class="card-header">
                        <span class="h4">
                            {{ (selectedTab3 === 1 ? 'general.traffic' : 'general.conversions' ) | translate }}
                            {{ 'charts.byHour' | translate }}
                        </span>
                    </div>
                    <div class="card-body">
                        <app-chart-lollipop [data]="audience?.hour" name="pc-selectortraffic-hour" category="hour"
                            height="250px" [status]="audienceReqStatus[6].reqStatus">
                        </app-chart-lollipop>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>