<!-- KPIS CARDS -->
<div class="row mt-2">
    <div class="col-12 col-sm-6 col-lg-4 mt-lg-3" *ngFor="let stat of kpis">
        <app-card-stat [stat]="stat" [loader]="kpisReqStatus <= 1" height="100px">
        </app-card-stat>
    </div>
    <div class="col-12 mt-lg-3" [hidden]="kpisReqStatus !== 3">
        <p class="text-center text-muted mb-0">
            Error al consultar datos
        </p>
    </div>
</div>

<!-- USERS AND REVENUE -->
<div class="row mt-5">
    <div class="col-12">
        <div class="pills-container">
            <ul class="nav nav-pills nav-fill">
                <li class="nav-item">
                    <a class="nav-link p-2" [ngClass]="{'active': selectedTab1 === 1}"
                        (click)="getUsersOrRevenue('conversions', 'users')">Usuarios - Conversiones</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link p-2" [ngClass]="{'active': selectedTab1 === 2}"
                        (click)="getUsersOrRevenue('aup-vs-revenue')">Revenue - AUP</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="col-12 mt-4">
        <div class="card">
            <div class="card-header">
                <span class="h4">{{ selectedTab1 === 1 ? 'Usuarios - Conversiones' : 'Revenue - AUP '}} </span>
            </div>
            <div class="card-body">
                <app-chart-multiple-axes [data]="usersAndRevenue"
                    [value1]="selectedTab1 === 1 ? 'conversions' : 'revenue'"
                    [value2]="selectedTab1 === 1 ? 'users' : 'aup'"
                    [valueName1]="selectedTab1 === 1 ? 'Conversiones' : 'Revenue'"
                    [valueName2]="selectedTab1 === 1 ? 'Usuarios' : 'AUP'" [valueFormat1]="selectedTab1 === 2 && 'USD'"
                    [valueFormat2]="selectedTab1 === 2 && 'USD'" name="pc-selector-traffic-vs-conversions"
                    [status]="usersAndRevenueReqStatus">
                </app-chart-multiple-axes>
            </div>
        </div>
    </div>
</div>
<hr>

<!-- TRAFFIC AND CONVERSIONS -->
<div class="row mt-5">
    <div class="col-12">
        <div class="mb-3">
            <span class="h3">Tráfico y Conversiones</span>
        </div>
    </div>
    <div class="col-12">
        <div class="pills-container">
            <ul class="nav nav-pills nav-fill">
                <li class="nav-item">
                    <a class="nav-link p-2" [ngClass]="{'active': selectedTab2 === 1}"
                        (click)="getTrafficOrConversions('traffic')">Tráfico</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link p-2" [ngClass]="{'active': selectedTab2 === 2}"
                        (click)="getTrafficOrConversions('conversions')">Conversiones</a>
                </li>
            </ul>
        </div>
    </div>

    <!-- COUNTRIES -->
    <div class="col-12 col-lg-6 mt-4" *ngIf="levelPage.latam">
        <div class="card height-fluid">
            <div class="card-header">
                <span class="h4">{{ selectedTab2 === 1 ? 'Tráfico' : 'Conversiones' }} por país</span>
            </div>
            <div class="card-body">
                <app-chart-bar-horizontal [data]="trafficOrConversions?.countries" name="pc-selector-chats-by-country"
                    category="country" [singleColorBars]="true" [status]="trafficOrConversionsReqStatus[0].reqStatus">
                </app-chart-bar-horizontal>
            </div>
        </div>
    </div>

    <!-- RETAILERS -->
    <div class="col-12 col-lg-6 mt-4" *ngIf="levelPage.latam || levelPage.country"
        [ngClass]="{'col-lg-12' : !levelPage.latam}">
        <div class="card height-fluid">
            <div class="card-header">
                <span class="h4">{{ selectedTab2 === 1 ? 'Tráfico' : 'Conversiones' }} por retailer</span>
            </div>
            <div class="card-body retailers-chart-container">
                <app-chart-bar-horizontal [data]="trafficOrConversions?.retailers" name="pc-selector-chats-by-retailer"
                    category="retailer" [truncateLabels]="true" [singleColorBars]="true"
                    [height]="trafficOrConversions?.retailers?.length > 14 ? '900px' : '350px'"
                    [status]="trafficOrConversionsReqStatus[1].reqStatus">
                </app-chart-bar-horizontal>
            </div>
        </div>
    </div>

    <!-- ASISTENTE VIRTUAL -->
    <ng-container *ngIf="selectedTab2 == 1">
        <div class="col-12 col-xl-4 mt-4">
            <div class="row">
                <div class="col-12 col-lg-6 col-xl-12">
                    <div class="card">
                        <div class="card-header">
                            <span class="h4">Tasa de Abandono al inicio del proceso</span>
                        </div>
                        <div class="card-body">
                            <app-chart-pie [data]="trafficOrConversions?.exitRate" name="pc-selector-churn-rate"
                                legendPosition="bottom" height="200px"
                                [status]="trafficOrConversionsReqStatus[2].reqStatus">
                            </app-chart-pie>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6 col-xl-12 mt-4 mt-lg-0 mt-xl-4">
                    <div class="card">
                        <div class="card-header">
                            <span class="h4">Tasa de Uso de Asistente Virtual</span>
                        </div>
                        <div class="card-body">
                            <app-chart-pie [data]="trafficOrConversions?.useRate" name="pc-selector-use-rate"
                                legendPosition="bottom" height="200px"
                                [status]="trafficOrConversionsReqStatus[4].reqStatus">
                            </app-chart-pie>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-xl-8 mt-4">
            <div class="card height-fluid">
                <div class="card-header">
                    <span class="h4">Tasa de Abandono por pregunta</span>
                </div>
                <div class="card-body">
                    <app-chart-funnel [data]="trafficOrConversions?.exitRateByStep" name="pc-selector-churn-rate"
                        height="515px" [status]="trafficOrConversionsReqStatus[3].reqStatus">
                    </app-chart-funnel>
                </div>
            </div>
        </div>

    </ng-container>

    <!-- CONVERSIONES POR PRODUCTO -->
    <div class="col-12 mt-4" *ngIf="selectedTab2 == 2">
        <div class="card height-fluid superimposed">
            <div class="card-header">
                <span class="h4">Conversiones por producto</span>
            </div>
            <div class="card-body">
                <app-chart-bar-horizontal [data]="trafficOrConversions?.products"
                    name="pc-selector-transactions-by-product" category="product" value="transactions"
                    [singleColorBars]="true" [status]="trafficOrConversionsReqStatus[5].reqStatus">
                </app-chart-bar-horizontal>
                <small class="text-muted mt-2 d-block d-sm-none">
                    Para mejor visualización usar la versión de <strong>Escritorio</strong>
                </small>
            </div>
        </div>
    </div>

    <!-- CONVERSION RATE -->
    <div class="col-12 mt-4">
        <div class="card height-fluid">
            <div class="card-header">
                <span class="h4">Usuarios, Conversiones y Tasa de conversión por fecha</span>
            </div>
            <div class="card-body">
                <div class="chart-legend mt-0 mb-2" *ngIf="performance?.length > 0">
                    <div class="legend-container legend-right">
                        <div class="legend-square color-1"></div>
                        <div class="legend-label">Usuarios</div>
                    </div>
                    <div class="legend-container ml-3">
                        <div class="legend-square color-2"></div>
                        <div class="legend-label">Conversiones</div>
                    </div>
                    <div class="legend-container ml-3">
                        <div class="legend-square color-3"></div>
                        <div class="legend-label">Tasa de conversión</div>
                    </div>
                </div>
                <app-chart-bar-group [data]="performance" name="pc-selector-users-transactions-rate" height="325px"
                    valueBar1="users" valueBar2="transactions" valueLine1="conversion_rate" valueNameBar1="Usuarios"
                    valueNameBar2="Conversiones" valueFormatLine1="%" [status]="performanceReqStatus">
                </app-chart-bar-group>
            </div>
        </div>
    </div>
</div>
<hr>

<!-- TRAFFIC AND CONVERSIONS - AUDIENCES (DEMOGRAPHICS) -->
<div class="row mt-5">
    <div class="col-12">
        <span class="h3">Audiencia</span>
    </div>
    <div class="col-12 mt-3">
        <div class="row">
            <div class="col-12">
                <div class="pills-container">
                    <ul class="nav nav-pills nav-fill">
                        <li class="nav-item">
                            <a class="nav-link p-2" [ngClass]="{'active': selectedTab3 === 1}"
                                (click)="getAudienceByMetric('traffic'); chartsInitLoad = chartsInitLoad && false;">Tráfico</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link p-2" [ngClass]="{'active': selectedTab3 === 2}"
                                (click)="getAudienceByMetric('conversions'); chartsInitLoad = chartsInitLoad && false;">Conversiones</a>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- devices -->
            <div class="col-12 col-md-6 mt-4">
                <div class="card">
                    <div class="card-header">
                        <span class="h4">{{selectedTab3 === 1 ? 'Tráfico' : 'Conversiones'}} por dispositivos</span>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 col-xl-6 mt-5 mt-xl-0">
                                <div class="chart-legend legend-center mt-0">
                                    <div class="legend-container" *ngIf="audience?.desktop?.length > 0">
                                        <div class="legend-square on color-4"></div>
                                        <div class="legend-label">Desktop {{ audience.desktop[1].value }}%
                                        </div>
                                    </div>
                                </div>
                                <app-chart-pictorial [data]="audience?.desktop" name="pc-selectordevices-desktop"
                                    [uniqueDimensionConf]="{color: '#67B6DC'}" category="name" iconType="monitor"
                                    height="280px" [status]="audienceReqStatus[0].reqStatus">
                                </app-chart-pictorial>
                            </div>
                            <div class="col-12 col-xl-6 mt-5 mt-xl-0">
                                <div class="chart-legend legend-center mt-0">
                                    <div class="legend-container" *ngIf="audience?.mobile?.length > 0">
                                        <div class="legend-square on color-5"></div>
                                        <div class="legend-label">Mobile {{ audience.mobile[1].value }}%</div>
                                    </div>
                                </div>
                                <app-chart-pictorial [data]="audience.mobile" name="pc-selectordevices-mobile"
                                    [uniqueDimensionConf]="{color: '#6794DC'}" category="name" iconType="cellphone"
                                    height="280px" [status]="audienceReqStatus[0].reqStatus">
                                </app-chart-pictorial>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- gender -->
            <div class="col-12 col-md-6 mt-4">
                <div class="card">
                    <div class="card-header">
                        <span class="h4">{{selectedTab3 === 1 ? 'Tráfico' : 'Conversiones'}} por Género</span>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 col-xl-6 mt-5 mt-xl-0">
                                <div class="chart-legend legend-center mt-0">
                                    <div class="legend-container" *ngIf="audience?.men?.length > 0">
                                        <div class="legend-square on color-4"></div>
                                        <div class="legend-label">Hombres {{ audience.men[1].value }}%</div>
                                    </div>
                                </div>
                                <app-chart-pictorial [data]="audience.men" name="pc-selectorgender-man"
                                    [uniqueDimensionConf]="{color: '#67B6DC'}" category="name" iconType="man"
                                    height="280px" [status]="audienceReqStatus[1].reqStatus">
                                </app-chart-pictorial>
                            </div>

                            <div class="col-12 col-xl-6 mt-5 mt-xl-0">
                                <div class="chart-legend legend-center mt-0">
                                    <div class="legend-container" *ngIf="audience?.women?.length > 0">
                                        <div class="legend-square on color-5"></div>
                                        <div class="legend-label">Mujeres {{ audience.women[1].value }}%</div>
                                    </div>
                                </div>
                                <app-chart-pictorial [data]="audience.women" name="pc-selectorgender-woman"
                                    [uniqueDimensionConf]="{color: '#6794DC'}" category="name" iconType="woman"
                                    height="280px" [status]="audienceReqStatus[1].reqStatus">
                                </app-chart-pictorial>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- age -->
            <div class="col-12 col-md-6 mt-4">
                <div class="card">
                    <div class="card-header">
                        <span class="h4">{{selectedTab3 === 1 ? 'Tráfico' : 'Conversiones'}} por Edad</span>
                    </div>
                    <div class="card-body">
                        <app-chart-lollipop [data]="audience?.age" name="pc-selectorage" category="age"
                            [value]="selectedTab3 === 1 ? 'visits' : 'sales'" height="280px"
                            [status]="audienceReqStatus[2].reqStatus">
                        </app-chart-lollipop>
                    </div>
                </div>
            </div>

            <!-- age and gender -->
            <div class="col-12 col-md-6 mt-4">
                <div class="card">
                    <div class="card-header">
                        <span class="h4">{{selectedTab3 === 1 ? 'Tráfico' : 'Conversiones'}} por Género y Edad</span>
                    </div>
                    <div class="card-body" style="height: 328px">
                        <!-- loader -->
                        <app-chart-loader *ngIf="chartsInitLoad && audienceReqStatus[3].reqStatus <= 1">
                        </app-chart-loader>

                        <!-- ready -->
                        <app-chart-pyramid *ngIf="audience?.genderByAge?.length > 0" [data]="audience?.genderByAge"
                            name="pc-selectorage-and-gender" [status]="audienceReqStatus[3].reqStatus" height="280px">
                        </app-chart-pyramid>

                        <!-- empty data -->
                        <div *ngIf="audienceReqStatus[3].reqStatus === 2 && audience?.genderByAge?.length === 0"
                            class="chart-error-container text-muted">
                            <p class="text-center">
                                Sin datos disponibles <br>
                                Muestra insuficiente
                            </p>
                        </div>

                        <!-- error -->
                        <div *ngIf="chartsInitLoad && audienceReqStatus[3].reqStatus === 3"
                            class="chart-error-container text-muted">
                            <span>Error al consultar datos</span>
                        </div>
                    </div>
                </div>
            </div>

            <!-- weekday and hour -->
            <div class="col-12 col-lg-6 mt-4" *ngIf="selectedTab3 === 1">
                <div class="card" style="height: 100%;">
                    <div class="card-header">
                        <span class="h4">{{selectedTab3 === 1 ? 'Tráfico' : 'Conversiones'}}
                            por día de la semana y hora del día</span>
                    </div>
                    <div class="card-body">
                        <app-chart-heat-map [data]="audience?.weekdayAndHour" name="pc-selectorweekday-sesions"
                            height="100%" [status]="audienceReqStatus[5].reqStatus">
                        </app-chart-heat-map>
                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-6 mt-4">
                <!-- weekday -->
                <div class="card">
                    <div class="card-header">
                        <span class="h4">{{selectedTab3 === 1 ? 'Tráfico' : 'Conversiones'}}
                            por día de la semana</span>
                    </div>
                    <div class="card-body">
                        <app-chart-bar-horizontal [data]="audience?.weekday" name="pc-selectortraffic-day"
                            category='weekday' value='value' height="250px" [status]="audienceReqStatus[4].reqStatus">
                        </app-chart-bar-horizontal>
                    </div>
                </div>

                <div class="card mt-4" *ngIf="selectedTab3 === 1">
                    <!-- hour -->
                    <div class="card-header">
                        <span class="h4">{{selectedTab3 === 1 ? 'Tráfico' : 'Conversiones'}}
                            por hora del día</span>
                    </div>
                    <div class="card-body">
                        <app-chart-lollipop [data]="audience?.hour" name="pc-selectortraffic-hour" category="hour"
                            value="visits" height="250px" [status]="audienceReqStatus[6].reqStatus">
                        </app-chart-lollipop>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>