.container {
    height: 100%;
    min-height: 100vh;

    @media screen and (max-height: 690px) {
        margin-bottom: 1.5rem;
        margin-top: 1.5rem;
    }

    .justify-content-start {
        align-items: center;
        height: 100%;
        min-height: 100vh;
    }
}

.input-group-text {
    cursor: pointer;
}

.logo-container img {
    width: 80px;
}

.select-lang-container {
    display: flex;
    justify-content: flex-end;

    .select-lang {
        width: 100px;

        .lang-details {
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }
    }
}
