.card-stats {
    overflow: hidden;
    width: 100%;

    .card-body {
        padding: 0;
    }
    
    .metric-container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 16px;
        padding: 1rem 1.5rem;
        height: calc(100% - 24px);
        
        &.with-icon{
            grid-template-columns: 1fr auto;
        }

        &.with-submetric {
            overflow-y: auto;
        }

        .icon {
            height: 2rem;
            width: 2rem;
        }
    }
    
    .submetric-container {
        background-color: #f0f0f0;
        bottom: 0;
        position: absolute;
        width: 100%;
    
        .submetric-data {
            padding: 0.3rem 1.5rem;
            height: 25px;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}
