.card-stats {
    overflow: hidden;
    width: 100%;

    .card-body {
        padding: 0;
    }
    
    .metric-container {
        display: grid;
        gap: 16px;
        grid-template-columns: 1fr;
        height: calc(100% - 24px);
        padding: 1rem 1.5rem;

        @media screen and (min-width: 1200px) and (max-width: 1328px) {
            padding: 1.3rem 1rem;
            grid-template-columns: 1fr;

            .icon {
                display: none;
            }
    
            .card-title {
                line-height: 16px;
            }
        }
    
        .metric-details {
            align-items: center;
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 0;
        
            span {
                display: block;
            }
        }

        .icon {
            height: 2rem;
            width: 2rem;
        }
        
        &.with-icon {
            grid-template-columns: 1fr auto;
        }

        &.with-submetric {
            overflow-y: auto;

            .metric-details {
                span {
                    line-height: 12px;
                    margin-top: 5px;
                }
            }
        }

        &.reduced-padding {
            padding: 1rem 1rem;

            @media screen and (min-width: 1200px) and (max-width: 1328px) {
                padding: 0.85rem 0.85rem;  
            }

            @media screen and (min-width: 1200px) and (max-width: 1483px) {
                .icon {
                    display: none;
                }
            }
        }
    }
    
    .submetrics-container {
        background-color: #f0f0f0;
        bottom: 0;
        position: absolute;
        width: 100%;
        display: flex;
    
        .submetrics-wrapper {
            align-items: center;
            display: flex;
            flex-wrap: nowrap;
            height: 25px;
            justify-content: space-between;
            padding: 0.1rem 1.5rem;
            overflow-x: overlay;
            width: 100%;

            &::-webkit-scrollbar {
                height: 3px;
            }

            @media screen and (min-width: 1200px) and (max-width: 1328px) {
                padding: 0.1rem 1rem;
            }
        }

        .submetric-data {
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        .submetric-details {
            display: contents;
            font-size: 13px;
            line-height: normal;
            margin-bottom: 0;
            margin-top: 0;
           
           
            span {
                display: inline-block;
            }
        }

        &.reduced-padding {
            .submetrics-wrapper {
                padding: 0.1rem 1rem;

                @media screen and (min-width: 1200px) and (max-width: 1328px) {
                    padding: 0.1rem 0.85rem;
                }
            }
        }
    }

    ::-webkit-scrollbar {
        width: 3px;
        height: 4px;
    }
}
