<div class="card card-stats mb-4 mb-xl-0" [style.height]="height">
    <div class="card-body">
        <div class="metric-container" [ngClass]="{ 'with-icon': stat.icon, 'with-submetric' : stat.subMetricTitle}">
            <div class="metric-data">
                <p class="card-title text-uppercase text-muted mb-0"
                    [ngClass]="{'h4': !smallHeader, 'h5': smallHeader}">{{ stat.metricTitle }}</p>
                <!-- content -->
                <ng-container *ngIf="!loader">
                    <ng-container [ngSwitch]="stat.metricFormat">
                        <span *ngSwitchCase="'percentage'" class="h3 font-weight-bold mb-0">
                            {{ stat.metricValue | number : '1.2-2' }}%
                        </span>
                        <span *ngSwitchCase="'decimals'" class="h3 font-weight-bold mb-0">
                            {{ stat.metricValue | number : '1.2-2' }}
                        </span>
                        <span *ngSwitchCase="'integer'" class="h3 font-weight-bold mb-0">
                            {{ stat.metricValue | number : '1.0-0' }}
                        </span>

                        <app-star-raiting *ngSwitchCase="'score'" [value]="stat.metricValue"></app-star-raiting>

                        <span *ngSwitchDefault class="h3 font-weight-bold mb-0">
                            {{ stat.metricValue }}
                        </span>
                    </ng-container>
                    <span class="h3 font-weight-bold mb-0">{{ stat.metricSymbol }}</span>
                </ng-container>

                <!-- loader -->
                <ng-container *ngIf="loader">
                    <div class="bar-loader"></div>
                </ng-container>
            </div>
            <div class="metric-icon" *ngIf="stat.icon">
                <div class="icon icon-shape text-white rounded-circle shadow" [style.background-color]="stat.iconBg">
                    <i [ngClass]="stat.icon"></i>
                </div>
            </div>
        </div>
        <div class="submetric-container text-muted" *ngIf="stat.subMetricTitle">
            <div class="submetric-data my-0 h5">
                <span class="text-nowrap mr-2 text-muted text-uppercase">{{ stat.subMetricTitle }}</span>
                <!-- content -->
                <ng-container *ngIf="!loader">
                    <ng-container [ngSwitch]="stat.subMetricFormat">
                        <span *ngSwitchCase="'percentage'" class="text-muted">
                            {{ stat.subMetricValue | number : '1.2-2' }}%
                        </span>
                        <span *ngSwitchCase="'decimals'" class="text-muted">
                            {{ stat.subMetricValue | number : '1.2-2' }}
                        </span>
                        <span *ngSwitchCase="'integer'" class="text-muted">
                            {{ stat.subMetricValue | number : '1.0-0' }}
                        </span>
                        <span *ngSwitchDefault class="text-muted">
                            {{ stat.subMetricValue }}
                        </span>
                    </ng-container>
                    <span class="text-muted">{{ stat.subMetricSymbol }}</span>
                </ng-container>

                <!-- loader -->
                <ng-container *ngIf="loader">
                    <div class="bar-loader"></div>
                </ng-container>
            </div>
        </div>
    </div>
</div>