
.media-container {
    max-height: calc(100vh - 64px);

    @media screen and (max-width: 1024px){
            align-items: center;
            display: flex;
            height: calc(100vh - 104px);
            justify-content: center;  
    }


    .media {
        height: auto;
        width: 100%;
    
        &.portrait {
            display: none;
            height: calc(100vh - 64px);
        }

        @media screen and (max-width: 1024px){
            &.landscape {
                display: none !important;
            }
    
            &.portrait {
                display: block;
            }
        }
    
        @media screen and (max-width: 767px){ 
            &.portrait {
                width: 80vw;
                height: auto;
            }
        }
    
    
        @media screen and (max-width: 1635px){ 
            &.landscape.md {
                display: block;
            }
            &.landscape.lg {
                display: none;
            }
        }
        @media screen and (min-width: 1636px){ 
            &.landscape.md {
                display: none;
            }
            &.landscape.lg {
                display: block;
            }
        }
    }    
}
