<div class="media-container mb--6">
    <!-- LANDSCAPE LARGE VIEW -->

    <!-- admin & hp roles -->
    <video *ngIf="userRoleName === 'admin' || userRoleName === 'hp'" class="media landscape md" autoplay loop>
        <source src="assets/video/map-retailers-landscape.mp4" type="video/mp4">
    </video>

    <!-- country & retailer roles -->
    <div *ngIf="userRoleName === 'country' || userRoleName === 'retailer'">
        <img class="media landscape md" src="assets/video/map-lights-landscape.gif">
    </div>


    <!-- LANDSCAPE LARGE VIEW -->

    <!-- admin & hp roles -->
    <video *ngIf="userRoleName === 'admin' || userRoleName === 'hp'" class="media landscape lg" autoplay loop>
        <source src="assets/video/map-retailers-landscape-lg.mp4" type="video/mp4">
    </video>
    <!-- country & retailer roles -->
    <div *ngIf="userRoleName === 'country' || userRoleName === 'retailer'">
        <img class="media landscape lg" src="assets/video/map-lights-landscape-lg.gif">
    </div>


    <!-- PORTRAIT VIEW -->

    <!-- admin & hp roles -->
    <video *ngIf="userRoleName === 'admin' || userRoleName === 'hp'" class="media portrait" autoplay loop>
        <source src="assets/video/map-retailers-portrait.mp4" type="video/mp4">
    </video>

    <!-- country & retailer roles -->
    <div *ngIf="userRoleName === 'country' || userRoleName === 'retailer'">
        <img class="media portrait" src="assets/video/map-lights-portrait.gif">
    </div>
</div>