<div class="container pb-7 pt-8 pb-md-7 pt-md-9">
  <div class="row justify-content-center">
    <div class="col-lg-5 col-md-7">
      <div class="card shadow border-0">
        <div class="card-body px-lg-5 py-lg-5">

          <div class="logo-container text-center">
            <img src="assets/img/brand/hp-logo.png">
          </div>

          <p class="text-center bold my-4"><b>Bienvenido al Programa HP COOP</b></p>

          <div class="text-center my-4">
            <small>
              Recibiste acceso a esta plataforma a través de la cuenta de correo electrónico <b>{{ usermail }}</b>,
              ahora sólo tienes que crear una contraseña
            </small>
          </div>
          <!-- Use password -->
          <app-set-psw submitBtnLegend="Usar contraseña" (passwordChange)="singup($event)"
            [submitting]="reqStatus === 1 || reqStatus === 2 ? true : false" [submitErrorLegend]="errorMsg">
          </app-set-psw>

          <div class="text-center">
            <small class="text-success" *ngIf="reqStatus === 2">
              Tus <b>credenciales</b> se han creado correctamente. Redirigiendo a la página de <b>Inicio de sesión.</b>
            </small>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>