.select-value {
    // max-width: calc(100% - 70px);
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.select-value-container {
    align-items: center;
    display: flex;
}

.text-muted {
    line-height: 18px;
    display: inline-block;
}

.mat-option-container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    
    span {
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;
    }

    .btn-secondary {
        box-shadow: 0 2px 2px rgb(50 50 93 / 5%), 0 1px 3px rgb(0 0 0 / 4%);
        display: none;
    }

    &:hover {
        span {
            width: calc(100% - 50px);
        }
        .btn-secondary {
            display: block;
        }
    }
}

::ng-deep .custom-tooltip {
    font-size: 12px !important;
    margin-bottom: 0px !important;
    margin-top: 0px !important;
    max-width: unset !important;
}
