<div class="row">
    <div class="col-12 col-sm-6 col-lg-3 mb-4">
        <div class="date-picker">
            <small class="text-muted mb-1"><b>Periodo</b></small>
            <mat-form-field appearance="fill">
                <mat-date-range-input [rangePicker]="picker">
                    <input matStartDate placeholder="Fecha inicio">
                    <input matEndDate placeholder="Fecha fin">
                </mat-date-range-input>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
            </mat-form-field>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-lg-3 mb-4">
        <small class="text-muted mb-1"><b>Sector</b></small>
        <mat-select [formControl]="sectors" multiple placeholder="Selecciona una sector">
            <mat-select-trigger>
                {{sectors.value ? sectors.value[0]?.name : ''}}
                <span *ngIf="sectors.value?.length > 1" class="example-additional-selection">
                    (+ {{sectors.value?.length === 2 ? 'otra' : 'otras'}}
                    {{ sectors.value?.length === 2 ? '' : sectors.value.length - 1}})
                </span>
            </mat-select-trigger>
            <mat-option *ngFor="let sector of sectorList" [value]="sector">{{sector.name}}</mat-option>
        </mat-select>
    </div>
    <div class="col-12 col-sm-6 col-lg-3 mb-4">
        <small class="text-muted mb-1"><b>Categoría</b></small>
        <mat-select [formControl]="categories" multiple placeholder="Selecciona una categoría">
            <mat-select-trigger>
                {{categories.value ? categories.value[0]?.name : ''}}
                <span *ngIf="categories.value?.length > 1" class="example-additional-selection">
                    (+ {{categories.value?.length === 2 ? 'otra' : 'otras'}}
                    {{ categories.value?.length === 2 ? '' : categories.value.length - 1}})
                </span>
            </mat-select-trigger>
            <mat-option *ngFor="let category of categoryList" [value]="category">{{category.name}}</mat-option>
        </mat-select>
    </div>
    <div class="col-12 col-sm-6 col-lg-3 mb-4">
        <small class="text-muted mb-1"><b>Campaña</b></small>
        <mat-select [formControl]="campaigns" multiple placeholder="Selecciona una campaña">
            <mat-select-trigger>
                {{campaigns.value ? campaigns.value[0]?.name : ''}}
                <span *ngIf="campaigns.value?.length > 1" class="example-additional-selection">
                    (+ {{campaigns.value?.length === 2 ? 'otra' : 'otras'}}
                    {{ campaigns.value?.length === 2 ? '' : campaigns.value.length - 1}})
                </span>
            </mat-select-trigger>
            <mat-option *ngFor="let campaign of campaignList" [value]="campaign">{{campaign.name}}</mat-option>
        </mat-select>
    </div>
</div>

<div class="row">
    <div class="col-12 text-right">
        <button type="button" class="btn btn-primary">
            <i class="fas fa-filter mr-2"></i>
            Filtrar
        </button>
    </div>
</div>