<form role="form" [formGroup]="form">
    <div class="row">

        <!-- country -->
        <div [hidden]="!isLatamSelected" class="col-12 col-sm-6 col-lg-2 mb-4">
            <span class="mb-1 h4">País</span>
            <mat-select formControlName="countries" multiple placeholder="Selecciona un País" disableOptionCentering>
                <div class="input-group input-group-alternative mb-1">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-search"></i></span>
                    </div>
                    <input class="form-control" [(ngModel)]="countryFilter" matInput type="text"
                        (keyup)="filterFromList('countries', 'country', $event.target.value)" placeholder="Buscar País"
                        [ngModelOptions]="{standalone: true}" (keydown.space)="$event.stopPropagation()">
                </div>
                <mat-select-trigger>
                    <div class="select-value-container">
                        <span class="select-value">
                            {{countries.value
                            ? countries.value[0]?.name
                            ? countries.value[0]?.name
                            : countries.value[1]?.name
                            : ''}}
                        </span>
                        <span *ngIf="countriesCounter > 1" class="example-additional-selection ml-1">
                            (+ {{countriesCounter === 2 ? 'otro' : 'otros' }}
                            {{ countriesCounter === 2 ? '' : countriesCounter - 1 }} )
                        </span>
                    </div>
                </mat-select-trigger>
                <mat-option #allSelectedCountries [value]="0" class="font-weight-bold"
                    (click)="toggleAllSelection('countries', 'country')">
                    Todos
                </mat-option>
                <ng-container *ngFor="let country of countryList">
                    <mat-option class="mat-option-container" [hidden]="country.hidden" [value]="country"
                        (click)="tosslePerOne('allSelectedCountries', 'countries', 'countryList')">
                        <span class="option-name">{{ country.name }}</span>
                        <button type="button" class="btn btn-sm btn-secondary"
                            (click)="uniqueSelection('countries', 'country', country)">
                            Solamente
                        </button>
                    </mat-option>
                </ng-container>

            </mat-select>
            <small class="text-danger" *ngIf="countries?.value?.length < 1 && countries.touched">
                Selecciona al menos un País
            </small>
            <small class="text-danger" *ngIf="countriesErrorMsg">
                {{ countriesErrorMsg }}
            </small>
        </div>

        <!-- retailer -->
        <div [hidden]="!isLatamSelected" class="col-12 col-sm-6 col-lg-2 mb-4">
            <span class="mb-1 h4">Retailer</span>
            <mat-select formControlName="retailers" multiple placeholder="Selecciona un Retailer"
                disableOptionCentering>
                <div class="input-group input-group-alternative mb-1">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-search"></i></span>
                    </div>
                    <input class="form-control" [(ngModel)]="retailerFilter" matInput type="text"
                        (keyup)="filterFromList('retailers', 'retailer', $event.target.value)"
                        placeholder="Buscar Retailer" [ngModelOptions]="{standalone: true}"
                        (keydown.space)="$event.stopPropagation()">
                </div>
                <mat-select-trigger>
                    <div class="select-value-container">
                        <span class="select-value">
                            {{
                            retailers.value
                            ? retailers.value[0]?.name
                            ? retailers.value[0]?.name
                            : retailers.value[1]?.name
                            : ''
                            }}
                        </span>
                        <span *ngIf="retailersCounter > 1" class="example-additional-selection ml-1">
                            (+ {{ retailersCounter === 2 ? 'otro' : 'otros' }}
                            {{ retailersCounter === 2 ? '' : retailersCounter - 1 }} )
                        </span>
                    </div>
                </mat-select-trigger>
                <mat-option #allSelectedRetailers (click)="toggleAllSelection('retailers', 'retailer')" [value]="0"
                    class="font-weight-bold">
                    Todos
                </mat-option>
                <ng-container *ngFor="let retailer of retailerList">
                    <mat-option class="mat-option-container" [hidden]="retailer.hidden" [value]="retailer"
                        (click)="tosslePerOne('allSelectedRetailers', 'retailers', 'retailerList')">
                        <span class="option-name">{{ retailer.name }}</span>
                        <button type="button" class="btn btn-sm btn-secondary"
                            (click)="uniqueSelection('retailers', 'retailer', retailer)">
                            Solamente
                        </button>
                    </mat-option>
                </ng-container>

            </mat-select>
            <small class="text-danger" *ngIf="retailers?.value?.length < 1 && retailers.touched">
                Selecciona al menos un Retailer
            </small>
            <small class="text-danger" *ngIf="retailersErrorMsg">
                {{ retailersErrorMsg }}
            </small>
        </div>

        <!-- period -->
        <div class="col-12 col-sm-6 mb-4" [ngClass]="{'col-lg-3' : !isLatamSelected, 'col-lg-2' : isLatamSelected}">
            <div class="date-picker">
                <span class="mb-1 h4">Periodo</span>
                <mat-form-field appearance="fill">
                    <mat-date-range-input [rangePicker]="picker">
                        <input matStartDate formControlName="startDate" placeholder="Fecha inicio">
                        <input matEndDate formControlName="endDate" placeholder="Fecha fin">
                    </mat-date-range-input>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-date-range-picker #picker></mat-date-range-picker>
                </mat-form-field>
                <small class="text-danger" *ngIf="!startDate.valid && startDate.touched">
                    Fecha inicio inválida
                </small>
                <small class="text-danger" *ngIf="!endDate.valid && endDate.touched">
                    Fecha fin inválida
                </small>
            </div>
        </div>

        <!-- sector -->
        <div class="col-12 col-sm-6 mb-4" [ngClass]="{'col-lg-3' : !isLatamSelected, 'col-lg-2' : isLatamSelected}">
            <span class="mb-1 h4">Sector</span>
            <mat-select formControlName="sectors" multiple placeholder="Selecciona un Sector" disableOptionCentering>
                <mat-select-trigger>
                    <div class="select-value-container">
                        <span class="select-value">
                            {{
                            sectors.value
                            ? sectors.value[0]?.name
                            ? sectors.value[0]?.name
                            : sectors.value[1]?.name
                            : ''
                            }}
                        </span>
                        <span *ngIf="sectorsCounter > 1" class="example-additional-selection ml-1">
                            (+ {{ sectorsCounter === 2 ? 'otro' : 'otros' }}
                            {{ sectorsCounter === 2 ? '' : sectorsCounter - 1 }} )
                        </span>
                    </div>
                </mat-select-trigger>
                <mat-option #allSelectedSectors (click)="toggleAllSelection('sectors','sector')" [value]="0"
                    class="font-weight-bold">
                    Todos
                </mat-option>
                <mat-option class="mat-option-container" *ngFor="let sector of sectorList" [value]="sector"
                    (click)="tosslePerOne('allSelectedSectors', 'sectors', 'sectorList')">
                    <span class="option-name">{{ sector.name }}</span>
                    <button type="button" class="btn btn-sm btn-secondary"
                        (click)="uniqueSelection('sectors', 'sector', sector)">
                        Solamente
                    </button>
                </mat-option>
            </mat-select>
            <small class="text-danger" *ngIf="sectors?.value?.length < 1 && sectors.touched">
                Selecciona al menos un Sector
            </small>
            <small class="text-danger" *ngIf="sectorsErrorMsg">
                {{ sectorsErrorMsg }}
            </small>
        </div>

        <!-- category -->
        <div class="col-12 col-sm-6 mb-4" [ngClass]="{'col-lg-3' : !isLatamSelected, 'col-lg-2' : isLatamSelected}">
            <span class="mb-1 h4">Categoría</span>
            <mat-select formControlName="categories" multiple placeholder="Selecciona una Categoría"
                disableOptionCentering>
                <mat-select-trigger>
                    <div class="select-value-container">
                        <span class="select-value">
                            {{
                            categories.value
                            ? categories.value[0]?.name
                            ? categories.value[0]?.name
                            : categories.value[1]?.name
                            : ''
                            }}
                        </span>
                        <span *ngIf="categoriesCounter > 1" class="example-additional-selection ml-1">
                            (+ {{ categoriesCounter === 2 ? 'otra' : 'otras' }}
                            {{ categoriesCounter === 2 ? '' : categoriesCounter - 1 }} )
                        </span>
                    </div>
                </mat-select-trigger>
                <mat-option #allSelectedCategories (click)="toggleAllSelection('categories', 'category')" [value]="0"
                    class="font-weight-bold">
                    Todas
                </mat-option>
                <mat-option class="mat-option-container" *ngFor="let category of categoryList" [value]="category"
                    (click)="tosslePerOne('allSelectedCategories', 'categories', 'categoryList')">
                    <span class="option-name">{{ category.name }}</span>
                    <button type="button" class="btn btn-sm btn-secondary"
                        (click)="uniqueSelection('categories', 'category', category)">
                        Solamente
                    </button>
                </mat-option>
            </mat-select>
            <small class="text-danger" *ngIf="categories?.value?.length < 1 && categories.touched">
                Selecciona al menos una Categoría
            </small>
            <small class="text-danger" *ngIf="categoriesErrorMsg">
                {{ categoriesErrorMsg }}
            </small>
        </div>

        <!-- campaign -->
        <div [hidden]="!retailerID" class="col-12 col-sm-6 col-lg-3 mb-4">
            <span class="mb-1 h4">Campaña</span>
            <mat-select formControlName="campaigns" multiple placeholder="Selecciona una Campaña" disableOptionCentering
                [disabled]="(campaignList?.length < 1 && campaignsReqStatus === 2) || campaignsErrorMsg">
                <div class="input-group input-group-alternative mb-1">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-search"></i></span>
                    </div>
                    <input class="form-control" [(ngModel)]="campaignFilter" matInput type="text"
                        (keyup)="filterFromList('campaigns', 'campaign', $event.target.value)"
                        placeholder="Buscar Campaña" [ngModelOptions]="{standalone: true}"
                        (keydown.space)="$event.stopPropagation()">
                </div>
                <mat-select-trigger>
                    <div class="select-value-container">
                        <span class="select-value">
                            {{
                            campaigns.value
                            ? campaigns.value[0]?.name
                            ? campaigns.value[0]?.name
                            : campaigns.value[1]?.name
                            : ''
                            }}
                        </span>
                        <span *ngIf="campaignsCounter > 1" class="example-additional-selection ml-1">
                            (+ {{ campaignsCounter === 2 ? 'otra' : 'otras' }}
                            {{ campaignsCounter === 2 ? '' : campaignsCounter - 1 }} )
                        </span>
                    </div>
                </mat-select-trigger>
                <mat-option #allSelectedCampaigns (click)="toggleAllSelection('campaigns', 'campaign')" [value]="0"
                    class="font-weight-bold">
                    Todas
                </mat-option>
                <ng-container *ngFor="let campaign of campaignList">
                    <mat-option class="mat-option-container" [hidden]="campaign.hidden" [value]="campaign"
                        (click)="tosslePerOne('allSelectedCampaigns', 'campaigns', 'campaignList')">
                        <span class="option-name" #tooltip="matTooltip" md-raised-button [matTooltip]="campaign.name"
                            matTooltipPosition="below" matTooltipClass="custom-tooltip">
                            {{ campaign.name }}
                        </span>
                        <button type="button" class="btn btn-sm btn-secondary"
                            (click)="uniqueSelection('campaigns', 'campaign', campaign)">
                            Solamente
                        </button>
                    </mat-option>
                </ng-container>
            </mat-select>
            <small class="text-muted mt-1" *ngIf="campaignList?.length < 1 && campaignsReqStatus === 2">
                No existen campañas para el Periodo, Sectores y Categorías seleccionados
            </small>
            <small class="text-danger" *ngIf="campaignsErrorMsg">
                {{ campaignsErrorMsg }}
            </small>
        </div>

        <!-- source -->
        <div [hidden]="!isLatamSelected" class="col-12 col-sm-6 col-lg-2 mb-4">
            <span class="mb-1 h4">Fuente</span>
            <mat-select formControlName="sources" multiple placeholder="Selecciona una Fuente" disableOptionCentering>
                <mat-select-trigger>
                    <div class="select-value-container">
                        <span class="select-value">
                            {{
                            sources.value
                            ? sources.value[0]?.name
                            ? sources.value[0]?.name
                            : sources.value[1]?.name
                            : ''
                            }}
                        </span>
                        <span *ngIf="sourcesCounter > 1" class="example-additional-selection ml-1">
                            (+ {{ sourcesCounter === 2 ? 'otra' : 'otras' }}
                            {{ sourcesCounter === 2 ? '' : sourcesCounter - 1 }} )
                        </span>
                    </div>
                </mat-select-trigger>
                <mat-option #allSelectedSources (click)="toggleAllSelection('sources', 'source')" [value]="0"
                    class="font-weight-bold">
                    Todas
                </mat-option>
                <mat-option class="mat-option-container" *ngFor="let source of sourceList" [value]="source"
                    (click)="tosslePerOne('allSelectedSources', 'sources', 'sourceList')">
                    <span class="option-name">{{ source.name }}</span>
                    <button type="button" class="btn btn-sm btn-secondary"
                        (click)="uniqueSelection('sources', 'source', source)">
                        Solamente
                    </button>
                </mat-option>
            </mat-select>
        </div>
    </div>
</form>

<div class="row">
    <div class="col-12 text-right">
        <button type="button" class="btn btn-primary" [disabled]="
            (isLatamSelected && this.countries?.value?.length < 1) ||
            (isLatamSelected && this.retailers?.value?.length < 1) ||
            (isLatamSelected && this.sources?.value?.length < 1) ||
            (!startDate.valid && startDate.touched) ||
            (!endDate.valid && endDate.touched) ||
            (sectors?.value?.length < 1 && sectors.touched) ||
            (categories?.value?.length < 1 && categories.touched)
            " (click)="applyFilters(true)">
            <i class="fas fa-filter mr-2"></i>
            Filtrar
        </button>
    </div>
</div>