<form role="form" [formGroup]="form">
    <div class="row">
        <div class="col-12 col-sm-6 col-lg-3 mb-4">
            <div class="date-picker">
                <span class="mb-1 h4">Periodo</span>
                <mat-form-field appearance="fill">
                    <mat-date-range-input [rangePicker]="picker">
                        <input matStartDate formControlName="startDate" placeholder="Fecha inicio">
                        <input matEndDate formControlName="endDate" placeholder="Fecha fin">
                    </mat-date-range-input>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-date-range-picker #picker></mat-date-range-picker>
                </mat-form-field>
                <small class="text-danger" *ngIf="!startDate.valid && startDate.touched">
                    Fecha inicio inválida
                </small>
                <small class="text-danger" *ngIf="!endDate.valid && endDate.touched">
                    Fecha fin inválida
                </small>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-3 mb-4">
            <span class="mb-1 h4">Sector</span>
            <mat-select formControlName="sectors" multiple placeholder="Selecciona un Sector">
                <mat-select-trigger>
                    <div class="select-value-container">
                        <span class="select-value">{{sectors.value ? sectors.value[0]?.name : ''}}</span>
                        <span *ngIf="sectors.value?.length > 1" class="example-additional-selection ml-1">
                            (+ {{sectors.value?.length === 2 ? 'otra' : 'otras'}}
                            {{ sectors.value?.length === 2 ? '' : sectors.value.length - 1}})
                        </span>
                    </div>
                </mat-select-trigger>
                <mat-option *ngFor="let sector of sectorList" [value]="sector">{{sector.name}}</mat-option>
            </mat-select>
            <small class="text-danger" *ngIf="sectors?.value?.length < 1 && sectors.touched">
                Selecciona al menos un sector
            </small>
            <small class="text-danger" *ngIf="sectorsErrorMsg">
                {{ sectorsErrorMsg }}
            </small>
        </div>
        <div class="col-12 col-sm-6 col-lg-3 mb-4">
            <span class="mb-1 h4">Categoría</span>
            <mat-select formControlName="categories" multiple placeholder="Selecciona una Categoría">
                <mat-select-trigger>
                    <div class="select-value-container">
                        <span class="select-value">{{categories.value ? categories.value[0]?.name : ''}}</span>
                        <span *ngIf="categories.value?.length > 1" class="example-additional-selection ml-1">
                            (+ {{categories.value?.length === 2 ? 'otra' : 'otras'}}
                            {{ categories.value?.length === 2 ? '' : categories.value.length - 1}})
                        </span>
                    </div>
                </mat-select-trigger>
                <mat-option *ngFor="let category of categoryList" [value]="category">{{category.name}}</mat-option>
            </mat-select>
            <small class="text-danger" *ngIf="categories?.value?.length < 1 && categories.touched">
                Selecciona al menos una categoría
            </small>
            <small class="text-danger" *ngIf="categoriesErrorMsg">
                {{ categoriesErrorMsg }}
            </small>
        </div>
        <div class="col-12 col-sm-6 col-lg-3 mb-4" [hidden]="!retailerID">
            <span class="mb-1 h4">Campaña</span>
            <mat-select formControlName="campaigns" multiple placeholder="Selecciona una Campaña"
                [disabled]="(campaignList?.length < 1 && campaignsReqStatus === 2) || campaignsErrorMsg">
                <mat-select-trigger>
                    <div class="select-value-container">
                        <span class="select-value">{{campaigns.value ? campaigns.value[0]?.name : ''}}</span>
                        <span *ngIf="campaigns.value?.length > 1" class="example-additional-selection ml-1">
                            (+ {{campaigns.value?.length === 2 ? 'otra' : 'otras'}}
                            {{ campaigns.value?.length === 2 ? '' : campaigns.value.length - 1}})
                        </span>
                    </div>
                </mat-select-trigger>
                <mat-option *ngFor="let campaign of campaignList" [value]="campaign">{{campaign.name}}</mat-option>
            </mat-select>
            <small class="text-muted mt-1" *ngIf="campaignList?.length < 1 && campaignsReqStatus === 2">
                No existen campañas para el Periodo, Sectores y Categorías seleccionados
            </small>
            <small class="text-danger" *ngIf="campaignsErrorMsg">
                {{ campaignsErrorMsg }}
            </small>
        </div>
    </div>
</form>

<div class="row">
    <div class="col-12 text-right">
        <button type="button" class="btn btn-primary" [disabled]="
        (!startDate.valid && startDate.touched) || 
        (!endDate.valid && endDate.touched) ||
        (sectors?.value?.length < 1 && sectors.touched) ||
        (categories?.value?.length < 1 && categories.touched)
        ">
            <i class="fas fa-filter mr-2"></i>
            Filtrar
        </button>
    </div>
</div>