.select-value {
    // max-width: calc(100% - 70px);
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.select-value-container {
    align-items: center;
    display: flex;
}

.text-muted {
    line-height: 18px;
    display: inline-block;
}

::ng-deep .custom-tooltip {
    font-size: 12px !important;
    margin-bottom: 0px !important;
    margin-top: 0px !important;
    max-width: unset !important;
}
