<div class="container pb-7 pt-8 pb-md-7 pt-md-9">
  <div class="row justify-content-center">
    <div class="col-lg-5 col-md-7">
      <div class="card shadow border-0">
        <div class="card-body px-lg-5 py-lg-5">

          <div class="logo-container text-center mb-4">
            <img src="assets/img/brand/hp-logo.png">
          </div>

          <p class="text-center bold my-4"><b>Restablecer contraseña</b></p>

          <ng-container *ngIf="reqStatus !== 2">
            <div class="text-center mb-4">
              <small>
                Ingresa tu cuenta de correo electrónico y te enviaremos un enlace de restablecemiento de contraseña.
              </small>
            </div>

            <!-- form -->
            <form role="form" [formGroup]="form" (ngSubmit)="sendPswResetEmail(email.value)">
              <div class="form-group mb-3">
                <div class="input-group input-group-alternative is-invalid"
                  [ngClass]="{'is-invalid': !email.valid && email.touched || !email.valid && email.touched}">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                  </div>
                  <input [formControl]="email" class="form-control" placeholder="Correo electrónico" type="email">
                </div>
                <small class="text-danger" *ngIf="!email.valid && email.touched || !email.valid && email.touched">
                  Ingresa un correo electrónico válido.
                </small>
              </div>

              <div *ngIf="reqStatus === 3" class="text-center mb-4">
                <small class="text-danger">
                  {{ errorMsg }}
                </small>
              </div>
              <div class="text-center">
                <button type="submit" class="btn btn-primary my-4" [disabled]="!form.valid || reqStatus === 1">
                  Enviar correo
                </button>
              </div>
            </form>
          </ng-container>

          <!-- successful request -->
          <div *ngIf="reqStatus === 2" class="text-center">
            <small>
              Revisa tu correo electrónico para encontrar el enlace de restablecimiento de contraseña.
            </small>

            <br>
            <button type="button" class="btn btn-light my-4" routerLink="/login">
              Regresar a Inicio de sesión
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>