<div class="main-container mt-4">
    <ul class="nav nav-tabs mb-4">
        <li class="nav-item">
            <a class="nav-link" [ngClass]="{'active bg-light' : activeTabView === 1}" (click)="activeTabView = 1">
                <span class="h2 py-2 ml-3 mr-3">Visión general</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [ngClass]="{'active bg-light' : activeTabView === 2}" (click)="activeTabView = 2">
                <span class="h2 py-2 ml-3 mr-3">Campaña hacia el retail</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [ngClass]="{'active bg-light' : activeTabView === 3}" (click)="activeTabView = 3">
                <span class="h2 py-2 ml-3 mr-3">Campaña en el retail</span>
            </a>
        </li>
        <!-- only visible for all retailers in Brazil and some retailers in Mexico -->
        <li class="nav-item" *ngIf="googleMyBusiness">
            <a class="nav-link" [ngClass]="{'active bg-light' : activeTabView === 4}" (click)="activeTabView = 4">
                <span class="h2 py-2 ml-3 mr-3">Google My Business</span>
            </a>
        </li>
    </ul>

    <ng-container *ngIf="activeTabView === 1">
        <app-overview-wrapper selectedType="retailer" [requestInfoChange]="requestInfoChange$"
            [showTrafficAndSalesSection]="retailerID !== 11 ? true : false"></app-overview-wrapper>
    </ng-container>

    <ng-container *ngIf="activeTabView === 2">
        <app-campaign-towards-retail-wrapper [requestInfoChange]="requestInfoChange$">
        </app-campaign-towards-retail-wrapper>
    </ng-container>

    <ng-container *ngIf="activeTabView === 3">
        <app-campaign-in-retail-wrapper [requestInfoChange]="requestInfoChange$"></app-campaign-in-retail-wrapper>
    </ng-container>

    <ng-container *ngIf="activeTabView === 4">
        <app-google-business-wrapper [requestInfoChange]="requestInfoChange$"></app-google-business-wrapper>
    </ng-container>
</div>