.nav-item {
    border-radius: 0.375rem;
}

table {
    width: 100%;
}

.adaptable-container {
    overflow: auto;
}

.header {
    border-radius: 0.375rem;;
}

.stats-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;

    @media screen and (max-width: 1200px) {
        grid-template-columns: repeat(3, 1fr);
    }

    @media screen and (max-width: 1000px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (max-width: 480px) {
        grid-template-columns: 1fr;
    }
}

.metric-container {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 16px;

    .icon {
        height: 2rem;
        width: 2rem;
    }
}

.nav-link {
    cursor: pointer;
}

.value-container {
    display: grid;
    grid-template-columns: 40px auto;
    gap: 8px;
}