<div class="main-container mt-4">
    <ul class="nav nav-tabs mb-4">
        <li class="nav-item">
            <a class="nav-link" [ngClass]="{'active bg-light' : activeTabView === 1}" (click)="activeTabView = 1">
                <span class="h2 py-2 ml-3 mr-3">Campaña hacia el retail</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [ngClass]="{'active bg-light' : activeTabView === 2}" (click)="activeTabView = 2">
                <span class="h2 py-2 ml-3 mr-3">Campaña en el retail</span>
            </a>
        </li>
    </ul>

    <ng-container *ngIf="activeTabView === 1">
        <div class="row mb-5">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <app-graph-line-series [series]="campMetrics" name="campaign-metrics">
                        </app-graph-line-series>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-5" *ngFor="let item of [1,2,3]">
            <div class="col-12">
                <div class="header bg-light mb-2">
                    <p class="h4 py-1 ml-3 mr-3">
                        <ng-container [ngSwitch]="item">
                            <span *ngSwitchCase="1">Google Search - Display & Video</span>
                            <span *ngSwitchCase="2">Display & Video (Marketing)</span>
                            <span *ngSwitchCase="3">Social Media</span>
                        </ng-container>

                    </p>
                </div>
                <div class="adaptable-container">
                    <table mat-table [dataSource]="dataSource">

                        <!-- name column -->
                        <ng-container matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef> Campaña </th>
                            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                        </ng-container>

                        <!-- investment column -->
                        <ng-container matColumnDef="investment">
                            <th mat-header-cell *matHeaderCellDef> Inversión </th>
                            <td mat-cell *matCellDef="let element"> {{element.investment}} </td>
                        </ng-container>

                        <!-- impressions -->
                        <ng-container matColumnDef="impressions">
                            <th mat-header-cell *matHeaderCellDef> Impresiones</th>
                            <td mat-cell *matCellDef="let element"> {{element.impressions}} </td>
                        </ng-container>

                        <!-- clicks -->
                        <ng-container matColumnDef="clicks">
                            <th mat-header-cell *matHeaderCellDef> Clicks</th>
                            <td mat-cell *matCellDef="let element"> {{element.clicks}} </td>
                        </ng-container>

                        <!-- CTR -->
                        <ng-container matColumnDef="ctr">
                            <th mat-header-cell *matHeaderCellDef> CTR</th>
                            <td mat-cell *matCellDef="let element"> {{element.ctr}} </td>
                        </ng-container>

                        <!-- CPM -->
                        <ng-container matColumnDef="cpm">
                            <th mat-header-cell *matHeaderCellDef> CPM</th>
                            <td mat-cell *matCellDef="let element"> {{element.cpm}} </td>
                        </ng-container>

                        <!-- CPC -->
                        <ng-container matColumnDef="cpc">
                            <th mat-header-cell *matHeaderCellDef> CPC</th>
                            <td mat-cell *matCellDef="let element"> {{element.cpc}} </td>
                        </ng-container>

                        <!-- disclaimer column -->
                        <ng-container matColumnDef="disclaimer">
                            <td mat-footer-cell *matFooterCellDef colspan="3">
                                <div class="text-danger text-center" *ngIf="getReqStatus === 3">
                                    Ocurrió un error al consultar los usuarios
                                </div>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        <tr mat-footer-row *matFooterRowDef="['disclaimer']" class="example-second-footer-row"
                            [hidden]="getReqStatus !== 3"></tr>
                    </table>
                </div>
                <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
            </div>
        </div>
    </ng-container>

    <ng-container *ngIf="activeTabView === 2">
        <app-retail-filters></app-retail-filters>

        <!-- CARD STATS -->
        <div class="row mt-4">
            <div class="col-12">
                <div class="stats-container">
                    <app-card-stat *ngFor="let stat of stats" [stat]="stat"></app-card-stat>
                </div>
            </div>
        </div>


        <!-- ROAS CARDS -->
        <div class="row mt-5 mb-2">
            <div class="col-12">
                <span class="h3">ROAS por sector</span>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-sm-4">
                <div class="card card-stats mb-4">
                    <div class="card-body ">
                        <div class="metric-container">
                            <div class="metric-data">
                                <h5 class="card-title text-uppercase text-muted mb-0">Search</h5>
                                <span class="h3 font-weight-bold mb-0">20%</span>
                            </div>
                            <div class="metric-icon">
                                <div class="icon icon-shape text-white bg-default rounded-circle shadow">
                                    <i class="fab fa-google"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-4">
                <div class="card card-stats mb-4">
                    <div class="card-body">
                        <div class="metric-container">
                            <div class="metric-data">
                                <h5 class="card-title text-uppercase text-muted mb-0">Marketing</h5>
                                <span class="h3 font-weight-bold mb-0">60%</span>
                            </div>
                            <div class="metric-icon">
                                <div class="icon icon-shape text-white bg-info rounded-circle shadow">
                                    <i class="fas fa-bullhorn"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-4">
                <div class="card card-stats mb-4">
                    <div class="card-body">
                        <div class="metric-container">
                            <div class="metric-data">
                                <h5 class="card-title text-uppercase text-muted mb-0">Ventas</h5>
                                <span class="h3 font-weight-bold mb-0">15%</span>
                            </div>
                            <div class="metric-icon">
                                <div class="icon icon-shape text-white bg-purple rounded-circle shadow">
                                    <i class="fas fa-store"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- ACCORDION -->
        <div class="mt-4">
            <mat-accordion multi>
                <mat-expansion-panel (opened)="panelChange('panel1',true)" (closed)="panelChange('panel1',false)">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <span class="h3 mb-0">Audiencias</span>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <app-audiences-wrapper></app-audiences-wrapper>
                </mat-expansion-panel>

                <mat-expansion-panel (opened)="panelChange('panel2',true)" (closed)="panelChange('panel2',false)">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <span class="h3 mb-0">Adquisición</span>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>Contenido de adiquisición</p>
                </mat-expansion-panel>

                <mat-expansion-panel (opened)="panelChange('panel3',true)" (closed)="panelChange('panel3',false)">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <span class="h3 mb-0">Comportamiento</span>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>Contenido de comportamiento</p>
                </mat-expansion-panel>

                <mat-expansion-panel (opened)="panelChange('panel4',true)" (closed)="panelChange('panel4',false)">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <span class="h3 mb-0">Conversión</span>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>Contenido de conversión</p>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </ng-container>
</div>