<div class="main-container mt-4">
    <ul class="nav nav-tabs mb-4">
        <li class="nav-item"
            *ngIf="levelPage.latam || (levelPage.country && country?.indexed) || (levelPage.retailer && retailer?.indexed)">
            <a class="nav-link" [ngClass]="{'active bg-light' : activeTabView === 1}"
                (click)="sectionChange('indexed')">
                <span class="h2 py-2 ml-3 mr-3">Indexado</span>
            </a>
        </li>
        <li class="nav-item"
            *ngIf="levelPage.latam || (levelPage.country && country?.omnichat) || (levelPage.retailer && retailer?.omnichat)">
            <a class="nav-link" [ngClass]="{'active bg-light' : activeTabView === 2}"
                (click)="sectionChange('omnichat')">
                <span class="h2 py-2 ml-3 mr-3">OmniChat</span>
            </a>
        </li>
        <li class="nav-item"
            *ngIf="levelPage.latam || (levelPage.country && country?.pc_selector) || (levelPage.retailer && retailer?.pc_selector)">
            <a class="nav-link" [ngClass]="{'active bg-light' : activeTabView === 3}"
                (click)="sectionChange('pc-selector')">
                <span class="h2 py-2 ml-3 mr-3">PC Selector</span>
            </a>
        </li>
    </ul>

    <ng-container *ngIf="activeTabView === 1">
        <app-indexed-wrapper [levelPage]="levelPage" [levelPageChange]="levelPageChange$"
            [requestInfoChange]="requestInfoChange$">
        </app-indexed-wrapper>
    </ng-container>

    <ng-container *ngIf="activeTabView === 2">
        <app-omnichat-wrapper [levelPage]="levelPage" [requestInfoChange]="requestInfoChange$">
        </app-omnichat-wrapper>
    </ng-container>

    <ng-container *ngIf="activeTabView === 3">
        <app-pc-selector-wrapper [levelPage]="levelPage" [requestInfoChange]="requestInfoChange$">
        </app-pc-selector-wrapper>
    </ng-container>
</div>