.form-container {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.section-header {
    div:last-child {
        text-align: right;

        @media screen and (min-width: 400px) and (max-width: 990px) {
            text-align: left;
        }
    }
}

.aditional-info {
    padding: 20px;
}

.loader-subgroup {
    display: grid;
    grid-template-columns: 20px 1fr;
    grid-gap: 16px;
}


.button-loader {
    display: flex;
    justify-content: flex-end;

    .bar-loader {
        width: 130px;
    }
}
