<div class="row mt-4">
    <div class="col-12">
        <p class="h2 mb-5 text-xl">Invitar usuario</p>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <!-- form -->
                <div class="form-container" *ngIf="form && inviteReqStatus !== 2">
                    <form role="form" [formGroup]="form" (ngSubmit)="onSubmit()">

                        <!-- loader (emal and role) -->
                        <div class="loader" *ngIf="getRoleStatus === 1">
                            <div class="row">
                                <div class="col-12 col-sm-6 mb-4">
                                    <div class="bar-loader component"></div>
                                </div>
                                <div class="col-12 col-sm-6 mb-4">
                                    <div class="bar-loader component"></div>
                                </div>
                            </div>

                            <div class="row mt-4">
                                <div class="col-12 button-loader">
                                    <div class="bar-loader component"></div>
                                </div>
                            </div>
                        </div>

                        <!-- email and role -->
                        <div class="row" *ngIf="getRoleStatus !== 1">
                            <div class="col-12 col-sm-6">
                                <div class="form-group mb-3">
                                    <div class="input-group input-group-alternative"
                                        [ngClass]="{'is-invalid': !email.valid && email.touched || !email.valid && email.touched}">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                                        </div>
                                        <input [formControl]="email" class="form-control"
                                            placeholder="Correo electrónico" type="email">
                                    </div>
                                    <small class="text-danger"
                                        *ngIf="!email.valid && email.touched || !email.valid && email.touched">
                                        Ingresa un correo electrónico válido.
                                    </small>
                                </div>
                            </div>

                            <div class="col-12 col-sm-6">
                                <mat-select formControlName="role" placeholder="Select a role" [(value)]="selectedRole"
                                    (selectionChange)="roleChange()" disableOptionCentering>
                                    <mat-option *ngFor="let role of roles" [value]="role" [ngSwitch]="role.name">
                                        <span *ngSwitchCase="'admin'"> {{ 'administrador' | titlecase }}</span>
                                        <span *ngSwitchCase="'country'"> {{ 'país' | titlecase }}</span>
                                        <span *ngSwitchCase="'hp'"> {{ 'hp' | uppercase }}</span>
                                        <span *ngSwitchDefault> {{ role.name | titlecase }}</span>
                                    </mat-option>
                                </mat-select>
                            </div>
                        </div>

                        <!-- loader (contries, retailers, sectors and categories) -->
                        <div class="loader row mt-4" *ngIf="getReqStatus === 1">
                            <div class="col-12 col-sm-6">
                                <div class="loader-group mb-4">
                                    <div class="bar-loader title dark"></div>
                                    <div class="bar-loader"></div>
                                    <div class="loader-subgroup" *ngFor="let bar of [1,2,3,4,5,6]">
                                        <div class="bar-loader checkbox"></div>
                                        <div class="bar-loader"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 d-none d-sm-block">
                                <div class="loader-group mb-4">
                                    <div class="bar-loader title dark"></div>
                                    <div class="bar-loader"></div>
                                    <div class="loader-subgroup" *ngFor="let bar of [1,2,3,4,5,6]">
                                        <div class="bar-loader checkbox"></div>
                                        <div class="bar-loader"></div>
                                    </div>
                                </div>

                                <div class="loader-group mb-4 d-none d-sm-block">
                                    <div class="bar-loader title dark"></div>
                                    <div class="bar-loader"></div>
                                    <div class="loader-subgroup" *ngFor="let bar of [1,2,3,4,5,6]">
                                        <div class="bar-loader checkbox"></div>
                                        <div class="bar-loader"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- contries, retailers, sectors and categories -->
                        <ng-container *ngIf="getReqStatus === 2">
                            <div class="row mt-4"
                                *ngIf="selectedRole && selectedRole?.name !== 'admin' && selectedRole?.name !== 'hp'">
                                <div class="col-12 col-sm-6">
                                    <div class="mb-4">
                                        <!-- COUNTRIES -->
                                        <ng-container *ngIf="selectedRole?.name === 'country'">
                                            <p class="text-uppercase text-sm mb-2">Paises</p>
                                            <div class="row section-header">
                                                <div class="col-12 col-lg-6 mb-2">
                                                    <small>Selecciona al menos un país</small>
                                                </div>

                                                <div class="col-12 col-lg-6 mb-2">
                                                    <button *ngIf="countriesFilter?.length === 0 || !countriesFilter"
                                                        type="button" class="btn btn-outline-primary btn-sm"
                                                        (click)="convertAllOptionsTo('countries')">
                                                        <div *ngIf="!allOptionsSelected('countries')">
                                                            <i class="fas fa-check"></i>
                                                            <span>
                                                                Seleccionar todo
                                                            </span>
                                                        </div>
                                                        <div *ngIf="allOptionsSelected('countries')">
                                                            <i class="fas fa-minus"></i>
                                                            <span>
                                                                Deseleccionar todo
                                                            </span>
                                                        </div>
                                                    </button>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-12 col-lg-7 mb-2 options-filter">
                                                    <div class="input-group input-group-alternative">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text"><i
                                                                    class="fas fa-search"></i></span>
                                                        </div>
                                                        <input class="form-control" [(ngModel)]="countriesFilter"
                                                            matInput type="text"
                                                            (keyup)="filterFromList('countries', $event.target.value)"
                                                            placeholder="Buscar País"
                                                            [ngModelOptions]="{standalone: true}">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="options-container">
                                                <ng-container *ngFor="let country of countries; let i = index"
                                                    formArrayName="countries">
                                                    <div [hidden]="country.hidden"
                                                        class="custom-control custom-control-alternative custom-checkbox my-1">
                                                        <input type="checkbox" class="custom-control-input"
                                                            [formControlName]="i" [id]="'country-custom-checkbox-'+i">
                                                        <label class="custom-control-label"
                                                            [for]="'country-custom-checkbox-'+i">
                                                            <span class="text-muted">{{ country.name }}</span>
                                                        </label>
                                                    </div>
                                                </ng-container>
                                            </div>

                                        </ng-container>

                                        <!-- RETAILERS -->
                                        <ng-container *ngIf="selectedRole?.name === 'retailer'">
                                            <p class="text-uppercase text-sm mb-2">Retailers</p>
                                            <div class="row section-header">
                                                <div class="col-12 col-lg-6 mb-2">
                                                    <small>Selecciona al menos un retailer</small>
                                                </div>

                                                <div class="col-12 col-lg-6 mb-2">
                                                    <button *ngIf="retailersFilter?.length === 0 || !retailersFilter"
                                                        type="button" class="btn btn-outline-primary btn-sm"
                                                        (click)="convertAllOptionsTo('retailers')">
                                                        <div *ngIf="!allOptionsSelected('retailers')">
                                                            <i class="fas fa-check"></i>
                                                            <span>
                                                                Seleccionar todo
                                                            </span>
                                                        </div>
                                                        <div *ngIf="allOptionsSelected('retailers')">
                                                            <i class="fas fa-minus"></i>
                                                            <span>
                                                                Deseleccionar todo
                                                            </span>
                                                        </div>
                                                    </button>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-12 col-lg-7 mb-2 options-filter">
                                                    <div class="input-group input-group-alternative">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text"><i
                                                                    class="fas fa-search"></i></span>
                                                        </div>
                                                        <input class="form-control" [(ngModel)]="retailersFilter"
                                                            matInput type="text"
                                                            (keyup)="filterFromList('retailers', $event.target.value)"
                                                            placeholder="Buscar Retailer"
                                                            [ngModelOptions]="{standalone: true}">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="options-container">
                                                <ng-container *ngFor="let retailer of retailers; let i = index"
                                                    formArrayName="retailers">
                                                    <div [hidden]="retailer.hidden"
                                                        class="custom-control custom-control-alternative custom-checkbox my-1">
                                                        <input type="checkbox" class="custom-control-input"
                                                            [formControlName]="i" [id]="'retailer-custom-checkbox-'+i">
                                                        <label class="custom-control-label"
                                                            [for]="'retailer-custom-checkbox-'+i">
                                                            <span class="text-muted">{{ retailer.name }}</span>
                                                        </label>
                                                    </div>
                                                </ng-container>

                                            </div>
                                        </ng-container>
                                    </div>
                                </div>

                                <div class="col-12 col-sm-6"
                                    *ngIf="selectedRole?.name === 'country' || selectedRole?.name === 'retailer'">

                                    <!-- SECTORS -->
                                    <div class="mb-4">
                                        <p class="text-uppercase text-sm mb-2">Sectores</p>
                                        <div class="row section-header">
                                            <div class="col-12 col-lg-6 mb-2">
                                                <small>Selecciona al menos un Sector</small>
                                            </div>

                                            <div class="col-12 col-lg-6 mb-2">
                                                <button type="button" class="btn btn-outline-primary btn-sm"
                                                    (click)="convertAllOptionsTo('sectors')">
                                                    <div *ngIf="!allOptionsSelected('sectors')">
                                                        <i class="fas fa-check"></i>
                                                        <span>
                                                            Seleccionar todo
                                                        </span>
                                                    </div>
                                                    <div *ngIf="allOptionsSelected('sectors')">
                                                        <i class="fas fa-minus"></i>
                                                        <span>
                                                            Deseleccionar todo
                                                        </span>
                                                    </div>
                                                </button>
                                            </div>
                                        </div>

                                        <div class="custom-control custom-control-alternative custom-checkbox my-1"
                                            *ngFor="let sector of sectors; let i = index" formArrayName="sectors">
                                            <input type="checkbox" class="custom-control-input" [formControlName]="i"
                                                [id]="'sector-custom-checkbox-'+i">
                                            <label class="custom-control-label" [for]="'sector-custom-checkbox-'+i">
                                                <span class="text-muted">{{ sector.name }}</span>
                                            </label>
                                        </div>
                                    </div>

                                    <!-- CATEGORIES -->
                                    <div>
                                        <p class="text-uppercase text-sm mb-2">Categorías</p>
                                        <div class="row section-header">
                                            <div class="col-12 col-lg-6 mb-2">
                                                <small>Selecciona al menos una categoría</small>
                                            </div>

                                            <div class="col-12 col-lg-6 mb-2">
                                                <button type="button" class="btn btn-outline-primary btn-sm"
                                                    (click)="convertAllOptionsTo('categories')">
                                                    <div *ngIf="!allOptionsSelected('categories')">
                                                        <i class="fas fa-check"></i>
                                                        <span>
                                                            Seleccionar todo
                                                        </span>
                                                    </div>
                                                    <div *ngIf="allOptionsSelected('categories')">
                                                        <i class="fas fa-minus"></i>
                                                        <span>
                                                            Deseleccionar todo
                                                        </span>
                                                    </div>
                                                </button>
                                            </div>
                                        </div>

                                        <div class="custom-control custom-control-alternative custom-checkbox my-1"
                                            *ngFor="let category of categories; let i = index"
                                            formArrayName="categories">
                                            <input type="checkbox" class="custom-control-input" [formControlName]="i"
                                                [id]="'category-custom-checkbox-'+i">
                                            <label class="custom-control-label" [for]="'category-custom-checkbox-'+i">
                                                <span class="text-muted">{{ category.name }}</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                        </ng-container>

                        <!-- admin and hp legend -->
                        <div class="row" *ngIf="selectedRole?.name === 'admin' || selectedRole?.name === 'hp'">
                            <div class="col-12 text-center">
                                <div class="aditional-info bg-secondary">
                                    <small>
                                        Con el rol de
                                        <b>{{ selectedRole.name === 'admin' ? 'Administrador' : 'HP' }}</b>
                                        el usuario podrá visualizar información de todos los paises, retailers,
                                        sectores
                                        y categorías
                                    </small>
                                </div>
                            </div>
                        </div>

                        <!-- send invitation button -->
                        <div class="text-right" *ngIf="getRoleStatus !== 1">
                            <button type="submit" class="btn btn-primary mt-4"
                                [disabled]="!form.valid || inviteReqStatus === 1">
                                Enviar invitación
                            </button>
                        </div>

                        <!-- GET error message -->
                        <div class="row mt-4" *ngIf="getRoleStatus === 3 || getReqStatus === 3">
                            <div class="col-12 text-center text-danger">
                                <small>
                                    Ocurrió un error al consultar la información de roles y permisos.
                                    Vuelva a intentarlo más tarde.
                                </small>
                            </div>
                        </div>
                    </form>
                </div>

                <!-- invite message -->
                <div class="row mt-4" *ngIf="inviteReqStatus > 1">
                    <div class="col-12 text-center">
                        <div class="text-muted" *ngIf="inviteReqStatus === 2">
                            <small>
                                Invitación enviada
                            </small>
                            <br>
                            <button type="button" class="btn btn-light my-4" routerLink="/dashboard/users">
                                Regresar a Administrar usuarios
                            </button>
                        </div>

                        <small class="text-danger" *ngIf="inviteReqStatus === 3">
                            Ocurrió un error al enviar la invitación al usuario: <br>
                            {{ this.inviteErrorMsg }}
                        </small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>