.dashboard-container {
    position: relative;

    .container-fluid-lg {
        padding-left: 10px;
        padding-right: 10px;
        margin-left: auto;
        margin-right: auto;
        width: calc(100% - 58px);

        @media screen and (max-width: 767px){
            width: calc(100% - 10px);   
        }
    }

    .filters-container {
        @media screen and (min-width: 575px) {
            background: #F8F9FE;
            padding-top: 36px;
            position: sticky;
            top: 50px;
            z-index: 100;   
        }
    
        hr {
            border-top: 1px solid rgba(0, 0, 0, 0.05) !important;
        }
    }    
}
