<!-- TARJETAS DE MÉTRICAS -->
<div class="row mt-5">
    <div class="col-12">
        <div class="stats-container">
            <app-card-stat *ngFor="let stat of staticData.kpis" [stat]="stat"
                [loader]="staticDataReqStatus[0].reqStatus <= 1" [smallHeader]="true" height="100px">
            </app-card-stat>
        </div>
        <p class="text-center text-muted mt-3 mb-0" [hidden]="staticDataReqStatus[0].reqStatus !== 3">
            Error al consultar datos
        </p>
    </div>
</div>

<!-- USUARIOS AND REVENUE -->
<div class="row mt-5">
    <div class="col-12">
        <div class="pills-container">
            <ul class="nav nav-pills nav-fill">
                <li class="nav-item">
                    <a class="nav-link p-2" [ngClass]="{'active': selectedTab1 === 1}"
                        (click)="getUsersAndRevenue('conversions-vs-users');">Usuarios - Conversiones</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link p-2" [ngClass]="{'active': selectedTab1 === 2}"
                        (click)="getUsersAndRevenue('aup-vs-revenue')">Revenue - AUP</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="col-12 mt-4">
        <div class="card">
            <div class="card-header">
                <span class="h4">{{ selectedTab1 === 1 ? 'Usuarios vs Conversiones' : 'Revenue vs AUP '}} </span>
            </div>
            <div class="card-body">
                <app-chart-multiple-axes [data]="usersAndRevenue"
                    [value1]="selectedTab1 === 1 ? 'transactions' : 'quantity'"
                    [value2]="selectedTab1 === 1 ? 'users' : 'aup'"
                    [valueName1]="selectedTab1 === 1 ? 'Conversiones' : 'Revenue'"
                    [valueName2]="selectedTab1 === 1 ? 'Usuarios' : 'AUP'" [valueFormat1]="selectedTab1 === 2 && 'USD'"
                    [valueFormat2]="selectedTab1 === 2 && 'USD'" name="omnichat-traffic-vs-conversions"
                    [status]="usersAndRevenueReqStatus">
                </app-chart-multiple-axes>
            </div>
        </div>
    </div>
</div>
<hr>

<!-- CHATS POR PAÍS, RETAILER & CATEGORIA -->
<div class="row mt-5">
    <div class="col-12">
        <div class="mb-3">
            <span class="h3">Tráfico y Conversiones</span>
        </div>
    </div>
    <div class="col-12" *ngIf="!selectedLevelPage.retailer">
        <div class="pills-container">
            <ul class="nav nav-pills nav-fill">
                <li class="nav-item">
                    <a class="nav-link p-2" [ngClass]="{'active': selectedTab2 === 1}"
                        (click)="getDataByLevel('traffic')">Tráfico</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link p-2" [ngClass]="{'active': selectedTab2 === 2}"
                        (click)="getDataByLevel('sales')">Conversiones</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="col-12 col-lg-4 mt-4" *ngIf="selectedLevelPage.latam">
        <div class="card height-fluid">
            <div class="card-header">
                <span class="h4">{{ selectedTab2 === 1 ? 'Tráfico' : 'Conversiones' }} por país</span>
            </div>
            <div class="card-body">
                <app-chart-bar-horizontal [data]="dataByLevel.country" name="omnichat-chats-by-country"
                    category="country" value="chats" [singleColorBars]="true"
                    [status]="dataByLevelReqStatus[0].reqStatus">
                </app-chart-bar-horizontal>
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-4 mt-4" *ngIf="selectedLevelPage.latam || selectedLevelPage.country"
        [ngClass]="{'col-lg-6' : !selectedLevelPage.latam}">
        <div class="card height-fluid superimposed">
            <div class="card-header">
                <span class="h4">{{ selectedTab2 === 1 ? 'Tráfico' : 'Conversiones' }} por retailer</span>
            </div>
            <div class="card-body retailers-chart-container">
                <div class="superimposed">
                    <app-chart-bar-horizontal [data]="dataByLevel.retailer" name="omnichat-chats-by-retailer"
                        category="retailer" value="chats" [truncateLabels]="true" [singleColorBars]="true"
                        height="600px" [status]="dataByLevelReqStatus[1].reqStatus">
                    </app-chart-bar-horizontal>
                </div>

            </div>
        </div>
    </div>
    <div class="col-12 col-lg-4 mt-4" [ngClass]="{'col-lg-6' : !selectedLevelPage.latam}">
        <div class="card height-fluid">
            <div class="card-header">
                <span class="h4" *ngIf="!selectedLevelPage.retailer">{{ selectedTab2 === 1 ? 'Tráfico' : 'Conversiones'
                    }} por
                    categoría</span>
                <span class="h4" *ngIf="selectedLevelPage.retailer">Tráfico por categoría</span>
            </div>
            <div class="card-body">
                <app-chart-pie [data]="dataByLevel.category1" [status]="dataByLevelReqStatus[2].reqStatus"
                    name="omnichat-chats-by-category-1" legendPosition="bottom">
                </app-chart-pie>
            </div>
        </div>
    </div>

    <div class="col-12 col-lg-6 mt-4" *ngIf="selectedLevelPage.retailer">
        <div class="card height-fluid">
            <div class="card-header">
                <span class="h4" *ngIf="selectedLevelPage.retailer">Conversiones por categoría</span>
            </div>
            <div class="card-body">
                <app-chart-pie [data]="dataByLevel.category2" [status]="dataByLevelReqStatus[3].reqStatus"
                    name="omnichat-chats-by-category-2" legendPosition="bottom">
                </app-chart-pie>
            </div>
        </div>
    </div>
</div>
<hr>

<!-- CONVERSIONES - TASAS DE CONVERSION -->
<div class="row mt-5">
    <div class="col-12">
        <span class="h3">Análisis de conversión por categoría</span>
        <p class="h4 mt-3">Tasas de conversión</p>
        <div class="row">
            <div *ngFor="let stat of staticData.conversionRate" class="col-lg-4 mb-2">
                <app-card-stat [stat]="stat" [loader]="false" [smallHeader]="true" height="auto"></app-card-stat>
            </div>
            <div class="col-12 mt--3 mt-xl-2" [hidden]="staticDataReqStatus[1].reqStatus !== 3">
                <p class="text-center text-muted mb-0">
                    Error al consultar datos
                </p>
            </div>
        </div>
    </div>
    <div class="col-12 mt-3">
        <div class="pills-container" *ngIf="selectedCategories.length > 1">
            <ul class="nav nav-pills nav-fill">
                <li class="nav-item" *ngFor="let category of selectedCategories">
                    <a class="nav-link p-2" [ngClass]="{'active': category.id === selectedTab3}"
                        (click)="getSalesByProduct(category); getUsersSalesAndCR(category)">
                        {{ category.name }}
                    </a>
                </li>
            </ul>
        </div>
        <div class="row">
            <div class="col-12 mt-4">
                <div class="card height-fluid superimposed">
                    <div class="card-header">
                        <span class="h4">Conversiones por producto</span>
                    </div>
                    <div class="card-body">
                        <app-chart-bar-horizontal [data]="salesByProduct" name="omnichat-transactions-by-product"
                            category="product" value="quantity" [singleColorBars]="true"
                            [status]="salesByProductReqStatus">
                        </app-chart-bar-horizontal>
                        <small class="text-muted mt-2 d-block d-sm-none">
                            Para mejor visualización usar la versión de <strong>Escritorio</strong>
                        </small>
                    </div>
                </div>
            </div>
            <div class="col-12 mt-4">
                <div class="card height-fluid">
                    <div class="card-header">
                        <span class="h4">Usuarios, Conversiones y Tasa de conversión por fecha</span>
                    </div>
                    <div class="card-body">
                        <div class="chart-legend mt-0 mb-2">
                            <div class="legend-container legend-right">
                                <div class="legend-square color-1"></div>
                                <div class="legend-label">Usuarios</div>
                            </div>
                            <div class="legend-container ml-3">
                                <div class="legend-square color-2"></div>
                                <div class="legend-label">Conversiones</div>
                            </div>
                            <div class="legend-container ml-3">
                                <div class="legend-square color-3"></div>
                                <div class="legend-label">Tasa de conversión</div>
                            </div>
                        </div>
                        <app-chart-bar-group [data]="usersSalesAndBr" name="omnichat-users-transactions-rate"
                            height="325px" valueBar1="users" valueBar2="transactions" valueLine1="conversion_rate"
                            valueNameBar1="Usuarios" valueNameBar2="Conversiones" valueFormatLine1="%"
                            [status]="usersSalesAndBrReqStatus">
                        </app-chart-bar-group>
                    </div>
                </div>
            </div>

            <!-- <div class="col-12 mt-4">
                <app-generic-table [displayedColumns]="categoriesAndUsersColumns" [tableData]="categoriesAndUsers2"
                    [tableDataChange]="categoriesAndUsers2.data" errorMsg="Error al consultar datos"
                    emptyDataMsg="No se encontraron datos">
                </app-generic-table>
            </div> -->

            <!-- CATEGORY AND USERS TABLE -->
            <div class="col-12 mt-4">
                <div class="adaptable-container" [ngClass]="{'auto': categoryAndUsersReqStatus === 3}">
                    <div class="loading-shade" [hidden]="categoryAndUsersReqStatus > 1">
                        <mat-spinner></mat-spinner>
                    </div>

                    <table mat-table [dataSource]="categoryAndUsersSource">
                        <!-- category column -->
                        <ng-container matColumnDef="category">
                            <th mat-header-cell *matHeaderCellDef>Categoría</th>
                            <td mat-cell *matCellDef="let element">
                                {{ element.category }}
                            </td>
                        </ng-container>

                        <!-- users column -->
                        <ng-container matColumnDef="users">
                            <th mat-header-cell *matHeaderCellDef>Usuarios</th>
                            <td mat-cell *matCellDef="let element">
                                <span>{{ element.users | number }}</span>
                            </td>
                        </ng-container>

                        <!-- conversion_rate -->
                        <ng-container matColumnDef="conversion_rate">
                            <th mat-header-cell *matHeaderCellDef>Tasa de conversión</th>
                            <td mat-cell *matCellDef="let element">
                                {{ element.conversion_rate }}%
                            </td>
                        </ng-container>

                        <!-- conversion_rate_yoy -->
                        <ng-container matColumnDef="conversion_rate_yoy">
                            <th mat-header-cell *matHeaderCellDef>%YoY</th>
                            <td mat-cell *matCellDef="let element">
                                <div class="value-container">
                                    <span>{{ element.conversion_rate_yoy }}%</span>
                                    <i class="fas fa-arrow-up text-success" *ngIf="element.conversion_rate_yoy > 0"></i>
                                    <i class="fas fa-equals text-warning" *ngIf="element.conversion_rate_yoy === 0"></i>
                                    <i class="fas fa-arrow-down text-danger"
                                        *ngIf="element.conversion_rate_yoy < 0"></i>
                                </div>
                            </td>
                        </ng-container>

                        <!-- amount -->
                        <ng-container matColumnDef="amount">
                            <th mat-header-cell *matHeaderCellDef>Cantidad</th>
                            <td mat-cell *matCellDef="let element">
                                {{ element.amount | number }}
                            </td>
                        </ng-container>

                        <!-- amount_yoy -->
                        <ng-container matColumnDef="amount_yoy">
                            <th mat-header-cell *matHeaderCellDef>%YoY</th>
                            <td mat-cell *matCellDef="let element">
                                <div class="value-container">
                                    <span>{{ element.amount_yoy }}%</span>
                                    <i class="fas fa-arrow-up text-success" *ngIf="element.amount_yoy > 0"></i>
                                    <i class="fas fa-equals text-warning" *ngIf="element.amount_yoy === 0"></i>
                                    <i class="fas fa-arrow-down text-danger" *ngIf="element.amount_yoy < 0"></i>
                                </div>
                            </td>
                        </ng-container>

                        <!-- revenue -->
                        <ng-container matColumnDef="revenue">
                            <th mat-header-cell *matHeaderCellDef>Revenue</th>
                            <td mat-cell *matCellDef="let element">
                                {{ element.revenue | number }}
                            </td>
                        </ng-container>

                        <!-- revenue_yoy -->
                        <ng-container matColumnDef="revenue_yoy">
                            <th mat-header-cell *matHeaderCellDef>%YoY</th>
                            <td mat-cell *matCellDef="let element">
                                <div class="value-container">
                                    <span>{{ element.revenue_yoy }}%</span>
                                    <i class="fas fa-arrow-up text-success" *ngIf="element.revenue_yoy > 0"></i>
                                    <i class="fas fa-equals text-warning" *ngIf="element.revenue_yoy === 0"></i>
                                    <i class="fas fa-arrow-down text-danger" *ngIf="element.revenue_yoy < 0"></i>
                                </div>
                            </td>
                        </ng-container>

                        <!-- aup -->
                        <ng-container matColumnDef="aup">
                            <th mat-header-cell *matHeaderCellDef>AUP</th>
                            <td mat-cell *matCellDef="let element">
                                {{ element.aup | number }}
                            </td>
                        </ng-container>

                        <!-- aup_yoy -->
                        <ng-container matColumnDef="aup_yoy">
                            <th mat-header-cell *matHeaderCellDef>%YoY</th>
                            <td mat-cell *matCellDef="let element">
                                <div class="value-container">
                                    <span>{{ element.aup_yoy }}%</span>
                                    <i class="fas fa-arrow-up text-success" *ngIf="element.aup_yoy > 0"></i>
                                    <i class="fas fa-equals text-warning" *ngIf="element.aup_yoy === 0"></i>
                                    <i class="fas fa-arrow-down text-danger" *ngIf="element.aup_yoy < 0"></i>
                                </div>
                            </td>
                        </ng-container>

                        <!-- ERROR COLUMN -->
                        <ng-container matColumnDef="disclaimer">
                            <td mat-footer-cell *matFooterCellDef colspan="3">
                                <div class="text-danger text-center" [hidden]="categoryAndUsersReqStatus !== 3">
                                    Ocurrió un error al consultar los productos
                                </div>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="categoryAndUsersColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: categoryAndUsersColumns;"></tr>
                        <tr mat-footer-row *matFooterRowDef="['disclaimer']" class="example-second-footer-row"
                            [hidden]="categoryAndUsersReqStatus !== 3"></tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>

<!-- TRAFFICO Y CONVERSIONES (7 GRAFICOS) -->
<div class="row mt-5">
    <div class="col-12">
        <span class="h3">Audiencia</span>
    </div>
    <div class="col-12 mt-3">
        <div class="row">
            <div class="col-12">
                <div class="pills-container">
                    <ul class="nav nav-pills nav-fill">
                        <li class="nav-item">
                            <a class="nav-link p-2" [ngClass]="{'active': selectedTab4 === 1}"
                                (click)="getDataByTrafficAndSales2('traffic'); chartsInitLoad = chartsInitLoad && false;">Tráfico</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link p-2" [ngClass]="{'active': selectedTab4 === 2}"
                                (click)="getDataByTrafficAndSales2('sales'); chartsInitLoad = chartsInitLoad && false;">Conversiones</a>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- devices -->
            <div class="col-12 col-md-6 mt-4">
                <div class="card">
                    <div class="card-header">
                        <span class="h4">{{selectedTab4 === 1 ? 'Tráfico' : 'Conversiones'}} por dispositivos</span>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 col-xl-6 mt-5 mt-xl-0">
                                <div class="chart-legend legend-center mt-0">
                                    <div class="legend-container">
                                        <div class="legend-square on color-4"></div>
                                        <div class="legend-label">Desktop {{ desktopAudiences[1].value }}%</div>
                                    </div>
                                </div>
                                <app-chart-pictorial [data]="desktopAudiences" name="omnichat-devices-desktop"
                                    [uniqueDimensionConf]="{color: '#67B6DC'}" category="name" iconType="monitor"
                                    height="280px">
                                </app-chart-pictorial>
                            </div>
                            <div class="col-12 col-xl-6 mt-5 mt-xl-0">
                                <div class="chart-legend legend-center mt-0">
                                    <div class="legend-container">
                                        <div class="legend-square on color-5"></div>
                                        <div class="legend-label">Mobile {{ mobileAudiences[1].value }}%</div>
                                    </div>
                                </div>
                                <app-chart-pictorial [data]="mobileAudiences" name="omnichat-devices-mobile"
                                    [uniqueDimensionConf]="{color: '#6794DC'}" category="name" iconType="cellphone"
                                    height="280px">
                                </app-chart-pictorial>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- gender -->
            <div class="col-12 col-md-6 mt-4">
                <div class="card">
                    <div class="card-header">
                        <span class="h4">{{selectedTab4 === 1 ? 'Tráfico' : 'Conversiones'}} por Género</span>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 col-xl-6 mt-5 mt-xl-0">
                                <div class="chart-legend legend-center mt-0">
                                    <div class="legend-container">
                                        <div class="legend-square on color-4"></div>
                                        <div class="legend-label">Hombres {{ menAudiences[1].value }}%</div>
                                    </div>
                                </div>
                                <app-chart-pictorial [data]="menAudiences" name="omnichat-gender-man"
                                    [uniqueDimensionConf]="{color: '#67B6DC'}" category="name" iconType="man"
                                    height="280px">
                                </app-chart-pictorial>
                            </div>

                            <div class="col-12 col-xl-6 mt-5 mt-xl-0">
                                <div class="chart-legend legend-center mt-0">
                                    <div class="legend-container">
                                        <div class="legend-square on color-5"></div>
                                        <div class="legend-label">Mujeres {{ womenAudiences[1].value }}%</div>
                                    </div>
                                </div>
                                <app-chart-pictorial [data]="womenAudiences" name="omnichat-gender-woman"
                                    [uniqueDimensionConf]="{color: '#6794DC'}" category="name" iconType="woman"
                                    height="280px">
                                </app-chart-pictorial>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- age -->
            <div class="col-12 col-md-6 mt-4">
                <div class="card">
                    <div class="card-header">
                        <span class="h4">{{selectedTab4 === 1 ? 'Tráfico' : 'Conversiones'}} por Edad</span>
                    </div>
                    <div class="card-body">
                        <app-chart-lollipop [data]="trafficAndSales['age']" name="omnichat-age" category="age"
                            [value]="selectedTab4 === 1 ? 'visits' : 'sales'" height="280px"
                            [status]="trafficSalesReqStatus[2].reqStatus">
                        </app-chart-lollipop>
                    </div>
                </div>
            </div>

            <!-- age and gender -->
            <div class="col-12 col-md-6 mt-4">
                <div class="card">
                    <div class="card-header">
                        <span class="h4">{{selectedTab4 === 1 ? 'Tráfico' : 'Conversiones'}} por Género y Edad</span>
                    </div>
                    <div class="card-body" style="height: 328px">
                        <!-- loader -->
                        <app-chart-loader *ngIf="chartsInitLoad && trafficSalesReqStatus[3].reqStatus <= 1">
                        </app-chart-loader>

                        <!-- ready -->
                        <app-chart-pyramid *ngIf="trafficAndSales['genderByAge']?.length > 0"
                            [data]="trafficAndSales['genderByAge']" name="omnichat-age-and-gender"
                            [status]="trafficSalesReqStatus[3].reqStatus" height="280px">
                        </app-chart-pyramid>

                        <!-- empty data -->
                        <div *ngIf="trafficSalesReqStatus[3].reqStatus === 2 && trafficAndSales['genderByAge']?.length === 0"
                            class="chart-error-container text-muted">
                            <p class="text-center">
                                Sin datos disponibles <br>
                                Muestra insuficiente
                            </p>
                        </div>

                        <!-- error -->
                        <div *ngIf="chartsInitLoad && trafficSalesReqStatus[3].reqStatus === 3"
                            class="chart-error-container text-muted">
                            <span>Error al consultar datos</span>
                        </div>
                    </div>
                </div>
            </div>

            <!-- weekday and hour -->
            <div class="col-12 col-lg-6 mt-4">
                <div class="card" style="height: 100%;">
                    <div class="card-header">
                        <span class="h4">{{selectedTab4 === 1 ? 'Tráfico' : 'Conversiones'}}
                            por día de la semana y hora del día</span>
                    </div>
                    <div class="card-body">
                        <app-chart-heat-map [data]="heatmapData" name="omnichat-weekday-sesions" height="100%">
                        </app-chart-heat-map>
                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-6 mt-4">
                <!-- weekday -->
                <div class="card">
                    <div class="card-header">
                        <span class="h4">{{selectedTab4 === 1 ? 'Tráfico' : 'Conversiones'}}
                            por día de la semana</span>
                    </div>
                    <div class="card-body">
                        <app-chart-bar-horizontal [data]="trafficByDay" name="omnichat-traffic-day" category='weekday'
                            value='value' height="250px">
                        </app-chart-bar-horizontal>
                    </div>
                </div>

                <div class="card mt-4">
                    <!-- hour -->
                    <div class="card-header">
                        <span class="h4">{{selectedTab4 === 1 ? 'Tráfico' : 'Conversiones'}}
                            por hora del día</span>
                    </div>
                    <div class="card-body">
                        <app-chart-lollipop [data]="trafficByHour" name="omnichat-traffic-hour" category="hour"
                            value="visits" height="250px">
                        </app-chart-lollipop>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>