<div class="row mt-5">
    <div *ngFor="let stat of kpis" class="col-12 col-md-6 col-lg-4 col-xl-2 mb-xl-4"
        [ngClass]="{'offset-xl-8' : stat.metricName === 'transactions' }">
        <app-card-stat [stat]="stat" [loader]="kpisReqStatus <= 1" [smallHeader]="true" height="100px"></app-card-stat>
    </div>
</div>

<!-- CHATS POR PAIS Y RETAILER -->
<div class="row mt-1">
    <div class="col-12 col-md-6 mt-4">
        <div class="card">
            <div class="card-header">
                <span class="h4">Chats por país</span>
            </div>
            <div class="card-body">
                <app-chart-bar-horizontal [data]="chatsByCountry" name="omnichat-chats-by-country" category="country"
                    value="chats" [showCategoryInToolip]="true" [singleColorBars]="true">
                </app-chart-bar-horizontal>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6 mt-4">
        <div class="card">
            <div class="card-header">
                <span class="h4">Chats por retailer</span>
            </div>
            <div class="card-body">
                <div class="retailers-chart-container">
                    <app-chart-bar-horizontal [data]="chatsByRetailer" name="omnichat-chats-by-retailer"
                        category="retailer" value="chats" height="600px" [showCategoryInToolip]="true"
                        [singleColorBars]="true">
                    </app-chart-bar-horizontal>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- CHATS (TRAFFICO, DISPOSITIVO Y CATEGORIA) -->
<div class="row">
    <div class="col-12 col-lg-4 mt-4">
        <app-card-stat [stat]="proactiveChatData" [loader]="false" [smallHeader]="true" height="100px"></app-card-stat>

        <div class="card mt-4">
            <div class="card-header">
                <span class="h4">Chats vs Tráfico</span>
            </div>
            <div class="card-body">
                <app-chart-gauge [value]="32" name="omnichat-charts-vs-traffic" height="250px"></app-chart-gauge>
            </div>
        </div>

    </div>
    <div class="col-12 col-md-6 col-lg-4 mt-4">
        <div class="card height-fluid">
            <div class="card-header">
                <span class="h4">Chats por dispositivo</span>
            </div>
            <div class="card-body">
                <app-chart-pictorial [data]="chatsByDevices" name="omnichat-chats-by-devices" category="name"
                    iconType="monitor" [status]="devicesReqStatus" position="bottom" valign="middle"
                    [legendSquareSize]="14">
                </app-chart-pictorial>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4 mt-4">
        <div class="card height-fluid">
            <div class="card-header">
                <span class="h4">Chats por categoría</span>
            </div>
            <div class="card-body">
                <app-chart-pie [data]="chatsByCategories" name="omnichat-chats-by-category" legendPosition="bottom">
                </app-chart-pie>
            </div>
        </div>
    </div>
</div>

<!-- HISTORICO DE CHATS -->
<div class="row mt-5">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <span class="h4">Histórico de chats</span>
            </div>
            <div class="card-body">
                <app-chart-line [data]="chatHistory" name="omnichat-chat-history">
                </app-chart-line>
            </div>
        </div>
    </div>
</div>

<!-- TRAFFICO Y VENTAS (4 GRAFICOS) -->
<ng-container>
    <div class="row mt-5">
        <div class="col-12">
            <div class="pills-container">
                <ul class="nav nav-pills nav-fill">
                    <li class="nav-item">
                        <a class="nav-link p-2" [ngClass]="{'active': selectedTab1 === 1}"
                            (click)="getDataByTrafficAndSales('traffic'); chartsInitLoad = chartsInitLoad && false;">Tráfico</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link p-2" [ngClass]="{'active': selectedTab1 === 2}"
                            (click)="getDataByTrafficAndSales('sales'); chartsInitLoad = chartsInitLoad && false;">Ventas</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- devices -->
        <div class="col-12 col-md-6 mt-4">
            <div class="card">
                <div class="card-header">
                    <span class="h4">{{selectedTab1 === 1 ? 'Tráfico' : 'Ventas'}} por dispositivos</span>
                </div>
                <div class="card-body">
                    <app-chart-pictorial [data]="trafficAndSales['device']" name="omnichat-devices" category="name"
                        iconType="monitor" [status]="trafficSalesReqStatus[0].reqStatus" height="280px">
                    </app-chart-pictorial>
                </div>
            </div>
        </div>

        <!-- gender -->
        <div class="col-12 col-md-6 mt-4">
            <div class="card">
                <div class="card-header">
                    <span class="h4">{{selectedTab1 === 1 ? 'Tráfico' : 'Ventas'}} por Género</span>
                </div>
                <div class="card-body">
                    <app-chart-pictorial [data]="trafficAndSales['gender']" name="omnichat-gender" category="name"
                        iconType="man" [status]="trafficSalesReqStatus[1].reqStatus" height="280px">
                    </app-chart-pictorial>
                </div>
            </div>
        </div>

        <!-- age -->
        <div class="col-12 col-md-6 mt-4">
            <div class="card">
                <div class="card-header">
                    <span class="h4">{{selectedTab1 === 1 ? 'Tráfico' : 'Ventas'}} por Edad</span>
                </div>
                <div class="card-body">
                    <app-chart-lollipop [data]="trafficAndSales['age']" name="omnichat-age" category="age"
                        [value]="selectedTab1 === 1 ? 'visits' : 'sales'" height="280px"
                        [status]="trafficSalesReqStatus[2].reqStatus">
                    </app-chart-lollipop>
                </div>
            </div>
        </div>

        <!-- age and gender -->
        <div class="col-12 col-md-6 mt-4">
            <div class="card">
                <div class="card-header">
                    <span class="h4">{{selectedTab1 === 1 ? 'Tráfico' : 'Ventas'}} por Género y Edad</span>
                </div>
                <div class="card-body" style="height: 328px">
                    <!-- loader -->
                    <app-chart-loader *ngIf="chartsInitLoad && trafficSalesReqStatus[3].reqStatus <= 1">
                    </app-chart-loader>

                    <!-- ready -->
                    <app-chart-pyramid *ngIf="trafficAndSales['genderByAge']?.length > 0"
                        [data]="trafficAndSales['genderByAge']" name="omnichat-age-and-gender"
                        [status]="trafficSalesReqStatus[3].reqStatus" height="280px">
                    </app-chart-pyramid>

                    <!-- empty data -->
                    <div *ngIf="trafficSalesReqStatus[3].reqStatus === 2 && trafficAndSales['genderByAge']?.length === 0"
                        class="chart-error-container text-muted">
                        <p class="text-center">
                            Sin datos disponibles <br>
                            Muestra insuficiente
                        </p>
                    </div>

                    <!-- error -->
                    <div *ngIf="chartsInitLoad && trafficSalesReqStatus[3].reqStatus === 3"
                        class="chart-error-container text-muted">
                        <span>Error al consultar datos</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-container>


<!-- TRAFICO Y CONVERSIONES POR DIA Y HORA -->
<ng-container>
    <div class="row mt-5">
        <div class="col-12">
            <div class="mb-3">
                <span class="h3">Tráfico y conversiones por hora y por día</span>
            </div>
        </div>
        <div class="col-12">
            <div class="pills-container">
                <ul class="nav nav-pills nav-fill">
                    <li class="nav-item">
                        <a class="nav-link p-2" [ngClass]="{'active': selectedTab2 === 1}"
                            (click)="selectedTab2 = 1">Tráfico</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link p-2" [ngClass]="{'active': selectedTab2 === 2}"
                            (click)="selectedTab2 = 2">Conversiones</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row" *ngIf="selectedTab2 === 1 || selectedTab2 === 2">
        <div class="col-12 col-lg-6 mt-4">
            <div class="card" style="height: 100%;">
                <div class="card-header">
                    <span class="h4">{{selectedTab2 === 1 ? 'Tráfico' : 'Conversiones'}}
                        por día de la semana y hora del día</span>
                </div>
                <div class="card-body">
                    <app-chart-heat-map [data]="heatmapData" name="omnichat-weekday-sesions" height="100%">
                    </app-chart-heat-map>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6 mt-4">
            <div class="card">
                <div class="card-header">
                    <span class="h4">{{selectedTab2 === 1 ? 'Tráfico' : 'Conversiones'}}
                        por día de la semana</span>
                </div>
                <div class="card-body">
                    <app-chart-bar-horizontal [data]="trafficByDay" name="omnichat-traffic-day" category='weekday'
                        value='value' height="250px">
                    </app-chart-bar-horizontal>
                </div>
            </div>

            <div class="card mt-4">
                <div class="card-header">
                    <span class="h4">{{selectedTab2 === 1 ? 'Tráfico' : 'Conversiones'}}
                        por hora del día</span>
                </div>
                <div class="card-body">
                    <app-chart-lollipop [data]="trafficByHour" name="omnichat-traffic-hour" category="hour"
                        value="visits" height="250px">
                    </app-chart-lollipop>
                </div>
            </div>
        </div>
    </div>
</ng-container>


<!-- TRANSACCIONES -->
<div class="row mt-5">
    <div class="col-12">
        <div class="mb-3">
            <span class="h3">Transacciones</span>
        </div>
    </div>
    <div class="col-12 col-lg-4">
        <div class="row">
            <div *ngFor="let item of transactionsData; let i = index" class="mb-xl-2"
                [ngClass]="{'col-12' : i === 0, 'col-md-6 col-lg-12 col-xl-6' : i > 0}">
                <app-card-stat [stat]="item" [loader]="false" [smallHeader]="true" height="80px">
                </app-card-stat>
            </div>
            <div class="col-12">
                <p>* Un usuario puede generar mas de 1 chat.</p>
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-8">
        <div class="card">
            <div class="card-header">
                <span class="h4">Usuarios vs Transacciones</span>
            </div>
            <div class="card-body">
                <app-chart-multiple-axes [data]="trafficVsTransactions" valueName1="Tráfico" valueName2="Transacciones"
                    value1="traffic" value2="transactions" name="omnichat-traffic-vs-transactions">
                </app-chart-multiple-axes>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12 col-md-6 mt-4">
        <div class="card">
            <div class="card-header">
                <span class="h4">Transacciones por país</span>
            </div>
            <div class="card-body">
                <app-chart-bar-horizontal [data]="chatsByCountry" name="omnichat-transactions-by-country"
                    category="country" value="chats" [showCategoryInToolip]="true" [singleColorBars]="true">
                </app-chart-bar-horizontal>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6 mt-4">
        <div class="card">
            <div class="card-header">
                <span class="h4">Transacciones por retailer</span>
            </div>
            <div class="card-body">
                <div class="retailers-chart-container">
                    <app-chart-bar-horizontal [data]="chatsByRetailer" name="omnichat-transactions-by-retailer"
                        category="retailer" value="chats" height="600px" [showCategoryInToolip]="true"
                        [singleColorBars]="true">
                    </app-chart-bar-horizontal>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- TRAFFICO Y VENTAS (CATEGORIAS) -->
<div class="row mt-5">
    <div class="col-12">
        <div class="mb-3">
            <span class="h3">Tráfico y conversiones</span>
        </div>
    </div>
    <div class="col-12">
        <div class="pills-container">
            <ul class="nav nav-pills nav-fill">
                <li class="nav-item">
                    <a class="nav-link p-2" [ngClass]="{'active': selectedTab3 === 1}"
                        (click)="selectedTab3 = 1">Tráfico</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link p-2" [ngClass]="{'active': selectedTab3 === 2}"
                        (click)="selectedTab3 = 2">Conversiones</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-12 mt-3">
        <p class="h4">Tasas de conversión</p>
        <div class="row">
            <div *ngFor="let stat of conversionByCategories" class="col-lg-4 mb-2">
                <app-card-stat [stat]="stat" [loader]="false" [smallHeader]="true" height="auto"></app-card-stat>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 col-xl-3 mt-xl-3">
        <div class="card">
            <div class="card-header">
                <span class="h4">Transacciones por categoría</span>
            </div>
            <div class="card-body">
                <app-chart-pie [data]="chatsByCategories" name="omnichat-transactions-by-category"
                    legendPosition="bottom" height="425px">
                </app-chart-pie>
            </div>
        </div>
    </div>

    <div class="col-12 col-xl-9 mt-3 bordered-panel">
        <div class="pills-container">
            <ul class="nav nav-pills nav-fill">
                <li class="nav-item">
                    <a class="nav-link p-2" [ngClass]="{'active': selectedTab4 === 1}" (click)="selectedTab4 = 1">PS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link p-2" [ngClass]="{'active': selectedTab4 === 2}" (click)="selectedTab4 = 2">HW
                        Print</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link p-2" [ngClass]="{'active': selectedTab4 === 3}"
                        (click)="selectedTab4 = 3">Supplies</a>
                </li>
            </ul>
        </div>
        <div class="row">
            <div class="col-12 col-xl-5 mt-4">
                <div class="card height-fluid superimposed">
                    <div class="card-header">
                        <span class="h4">Transacciones por producto</span>
                    </div>
                    <div class="card-body">
                        <app-chart-bar-horizontal [data]="transactionsByProduct" name="omnichat-transactions-by-product"
                            category="product" value="transactions" [truncateLabels]="true"
                            [showCategoryInToolip]="true" [singleColorBars]="true">
                        </app-chart-bar-horizontal>
                    </div>
                </div>
            </div>
            <div class="col-12 col-xl-7 mt-4">
                <div class="card height-fluid">
                    <div class="card-header">
                        <span class="h4">Usuarios, Transacciones y Tasa de conversión por fecha</span>
                    </div>
                    <div class="card-body">
                        <div class="chart-legend mt-0 mb-2">
                            <div class="legend-container">
                                <div class="legend-square color-1"></div>
                                <div class="legend-label">Usuarios</div>
                            </div>
                            <div class="legend-container ml-3">
                                <div class="legend-square color-2"></div>
                                <div class="legend-label">Transacciones</div>
                            </div>
                            <div class="legend-container ml-3">
                                <div class="legend-square color-3"></div>
                                <div class="legend-label">Tasa de conversión</div>
                            </div>
                        </div>
                        <app-chart-bar-group name="omnichat-users-transactions-rate" height="325px">
                        </app-chart-bar-group>
                    </div>
                </div>
            </div>

            <div class="col-12 mt-4">
                <div class="card height-fluid">
                    <div class="card-header">
                        <span class="h4">AUP vs Revenue</span>
                    </div>
                    <div class="card-body">
                        <app-chart-multiple-axes [data]="aupVsRevenue" valueName1="AUP" valueName2="Revenue"
                            value1="aup" value2="revenue" name="omnichat-aup-vs-revenue" valueFormat1="USD"
                            valueFormat2="USD">
                        </app-chart-multiple-axes>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- CATEGORY AND USERS TABLE -->
<div class="row mt-5">
    <div class="adaptable-container" [ngClass]="{'auto': categoryAndUsersReqStatus === 3}">
        <div class="loading-shade" [hidden]="categoryAndUsersReqStatus > 1">
            <mat-spinner></mat-spinner>
        </div>

        <table mat-table [dataSource]="categoryAndUsersSource">
            <!-- category column -->
            <ng-container matColumnDef="category">
                <th mat-header-cell *matHeaderCellDef>Categoría</th>
                <td mat-cell *matCellDef="let element">
                    {{ element.category }}
                </td>
            </ng-container>

            <!-- users column -->
            <ng-container matColumnDef="users">
                <th mat-header-cell *matHeaderCellDef>Usuarios</th>
                <td mat-cell *matCellDef="let element">
                    <span>{{ element.users | number }}</span>
                </td>
            </ng-container>

            <!-- conversion_rate -->
            <ng-container matColumnDef="conversion_rate">
                <th mat-header-cell *matHeaderCellDef>Tasa de conversión</th>
                <td mat-cell *matCellDef="let element">
                    {{ element.conversion_rate }}%
                </td>
            </ng-container>

            <!-- conversion_rate_yoy -->
            <ng-container matColumnDef="conversion_rate_yoy">
                <th mat-header-cell *matHeaderCellDef>%YoY</th>
                <td mat-cell *matCellDef="let element">
                    <div class="value-container">
                        <span>{{ element.conversion_rate_yoy }}%</span>
                        <i class="fas fa-arrow-up text-success" *ngIf="element.conversion_rate_yoy > 0"></i>
                        <i class="fas fa-equals text-warning" *ngIf="element.conversion_rate_yoy === 0"></i>
                        <i class="fas fa-arrow-down text-danger" *ngIf="element.conversion_rate_yoy < 0"></i>
                    </div>
                </td>
            </ng-container>

            <!-- amount -->
            <ng-container matColumnDef="amount">
                <th mat-header-cell *matHeaderCellDef>Cantidad</th>
                <td mat-cell *matCellDef="let element">
                    {{ element.amount | number }}
                </td>
            </ng-container>

            <!-- amount_yoy -->
            <ng-container matColumnDef="amount_yoy">
                <th mat-header-cell *matHeaderCellDef>%YoY</th>
                <td mat-cell *matCellDef="let element">
                    <div class="value-container">
                        <span>{{ element.amount_yoy }}%</span>
                        <i class="fas fa-arrow-up text-success" *ngIf="element.amount_yoy > 0"></i>
                        <i class="fas fa-equals text-warning" *ngIf="element.amount_yoy === 0"></i>
                        <i class="fas fa-arrow-down text-danger" *ngIf="element.amount_yoy < 0"></i>
                    </div>
                </td>
            </ng-container>

            <!-- revenue -->
            <ng-container matColumnDef="revenue">
                <th mat-header-cell *matHeaderCellDef>Revenue</th>
                <td mat-cell *matCellDef="let element">
                    {{ element.revenue | number }}
                </td>
            </ng-container>

            <!-- revenue_yoy -->
            <ng-container matColumnDef="revenue_yoy">
                <th mat-header-cell *matHeaderCellDef>%YoY</th>
                <td mat-cell *matCellDef="let element">
                    <div class="value-container">
                        <span>{{ element.revenue_yoy }}%</span>
                        <i class="fas fa-arrow-up text-success" *ngIf="element.revenue_yoy > 0"></i>
                        <i class="fas fa-equals text-warning" *ngIf="element.revenue_yoy === 0"></i>
                        <i class="fas fa-arrow-down text-danger" *ngIf="element.revenue_yoy < 0"></i>
                    </div>
                </td>
            </ng-container>

            <!-- aup -->
            <ng-container matColumnDef="aup">
                <th mat-header-cell *matHeaderCellDef>AUP</th>
                <td mat-cell *matCellDef="let element">
                    {{ element.aup | number }}
                </td>
            </ng-container>

            <!-- aup_yoy -->
            <ng-container matColumnDef="aup_yoy">
                <th mat-header-cell *matHeaderCellDef>%YoY</th>
                <td mat-cell *matCellDef="let element">
                    <div class="value-container">
                        <span>{{ element.aup_yoy }}%</span>
                        <i class="fas fa-arrow-up text-success" *ngIf="element.aup_yoy > 0"></i>
                        <i class="fas fa-equals text-warning" *ngIf="element.aup_yoy === 0"></i>
                        <i class="fas fa-arrow-down text-danger" *ngIf="element.aup_yoy < 0"></i>
                    </div>
                </td>
            </ng-container>

            <!-- ERROR COLUMN -->
            <ng-container matColumnDef="disclaimer">
                <td mat-footer-cell *matFooterCellDef colspan="3">
                    <div class="text-danger text-center" [hidden]="categoryAndUsersReqStatus !== 3">
                        Ocurrió un error al consultar los productos
                    </div>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="categoryAndUsersColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: categoryAndUsersColumns;"></tr>
            <tr mat-footer-row *matFooterRowDef="['disclaimer']" class="example-second-footer-row"
                [hidden]="categoryAndUsersReqStatus !== 3"></tr>
        </table>
    </div>
</div>

<!-- USUARIOS - TRANSACCIONES & CANTIDAD - AUP -->
<div class="row mb-5">
    <div class="col-12">
        <div class="pills-container">
            <ul class="nav nav-pills nav-fill">
                <li class="nav-item">
                    <a class="nav-link p-2" [ngClass]="{'active': selectedTab5 === 1}" (click)="selectedTab5=1">Usuarios
                        - Transacciones</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link p-2" [ngClass]="{'active': selectedTab5 === 2}" (click)="selectedTab5=2">Cantidad
                        - AUP</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-12 mt-4">
        <div class="card">
            <div class="card-header">
                <span class="h4" [hidden]="selectedTab5 === 2">Usuarios vs Transacciones</span>
                <span class="h4" [hidden]="selectedTab5 === 1">Cantidad vs AUP</span>
            </div>
            <div class="card-body">
                <app-chart-line-comparison [data]="usersAndAmount" name="omnichat-users-vs-transaccions"
                    [valueName1]="selectedTab5 === 1 ? 'Usuarios' : 'Cantidad'"
                    [valueName2]="selectedTab5 === 1 ? 'Transacciones' : 'AUP'"
                    [valueFormat2]="selectedTab5 === 2 && 'USD'" height="250px">
                </app-chart-line-comparison>
            </div>
        </div>
    </div>
</div>