<div class="chart" [style.height]="height">
    <!-- loader -->
    <app-chart-loader [hidden]="status > 1"></app-chart-loader>

    <!-- ready -->
    <div [hidden]="status !== 2 || data?.length < 1" [id]="chartID" style="height: 100%"></div>

    <!-- empty data -->
    <div [hidden]="status !== 2 || data?.length > 0" class="chart-error-container text-muted">
        <p class="text-center">
            Sin datos disponibles <br>
            Muestra insuficiente
        </p>
    </div>

    <!-- error -->
    <div [hidden]="status !== 3" class="chart-error-container text-muted">
        <span [hidden]="!errorLegend">{{ errorLegend }}</span>
        <span [hidden]="errorLegend">Error al consultar datos</span>
    </div>
</div>