<div class="row mt-4">
    <div class="col-12">
        <p class="h2 mb-5 text-xl">Mi Perfil</p>
    </div>
</div>

<div class="row">
    <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
        <div class="card card-profile shadow height-fluid">
            <div class="row justify-content-center">
                <div class="col-lg-3 order-lg-2">
                    <div class="card-profile-image">
                        <a href="javascript:void(0)">
                            <img src="assets/img/theme/team-3-800x800.jpg" class="rounded-circle">
                        </a>
                    </div>
                </div>
            </div>
            <!-- <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
                <div class="d-flex justify-content-center">
                    <a href="javascript:void(0)" class="btn btn-sm btn-primary">Subir imagen</a>
                </div>
            </div> -->
            <div class="card-body pt-0 pt-9">
                <div class="row">
                    <div class="col-12">
                        <div class="file-status text-center mb-4">
                            <progress *ngIf="file?.status === 'loading'"
                                [ngClass]="{'completed': file?.progress === 100}" max="100"
                                [value]="file?.progress"></progress>

                            <small *ngIf="file?.name && file?.status !== 'loaded'" class="text-muted mb-2">
                                {{ file.name }}
                            </small>

                            <small *ngIf="file?.status === 'failed'" class="text-danger">
                                Error al subir la imagen
                            </small>

                            <small *ngIf="file?.status === 'invalid'" class="text-danger">
                                Formato de imágen inválido <br>
                                (debe de ser un .png, .jpg o .jpeg)
                            </small>
                        </div>

                        <div class="d-flex justify-content-center">
                            <ng-container *ngIf="!file || file?.status === 'invalid'">
                                <input class="input-file" type="file" #fileInput
                                    (change)="onFileSelected($event.target.files)">
                                <button class="btn btn-primary" (click)="fileInput.click()">
                                    <i class="fas fa-camera mr-2"></i>
                                    Nueva foto de perfil
                                </button>
                            </ng-container>
                            <ng-container *ngIf="file && file?.status !== 'invalid'">
                                <button class="btn btn-primary" (click)="uploadImage()"
                                    [disabled]="file?.status === 'loading'">
                                    <i class="fas fa-save mr-2"></i>
                                    Guardar foto de perfil
                                </button>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-8 order-xl-1">
        <div class="card shadow">
            <div class="card-body">
                <form role="form" [formGroup]="form">
                    <div class="pl-lg-4">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group mb-3">
                                    <label class="form-control-label" for="input-name">Apellido</label>

                                    <div class="input-group input-group-alternative"
                                        [ngClass]="{'is-invalid': !name.valid && name.touched || !name.valid && name.touched}">
                                        <input [formControl]="name" id="input-name" class="form-control"
                                            placeholder="Nombre" type="text" autocomplete="new-name" disabled>
                                    </div>

                                    <small class="text-danger"
                                        *ngIf="!name.valid && name.touched || !name.valid && name.touched">
                                        Ingresa un nombre válido.
                                    </small>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group mb-3">
                                    <label class="form-control-label" for="input-last-name">Apellido</label>

                                    <div class="input-group input-group-alternative"
                                        [ngClass]="{'is-invalid': !lastName.valid && lastName.touched || !lastName.valid && lastName.touched}">
                                        <input [formControl]="lastName" id="input-last-name" class="form-control"
                                            placeholder="Apellido" type="text" autocomplete="new-last-name" disabled>
                                    </div>

                                    <small class="text-danger"
                                        *ngIf="!lastName.valid && lastName.touched || !lastName.valid && lastName.touched">
                                        Ingresa un apellido válido.
                                    </small>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-control-label" for="input-email">Email address</label>

                                    <div class="input-group input-group-alternative"
                                        [ngClass]="{'is-invalid': !email.valid && email.touched || !email.valid && email.touched}">
                                        <input [formControl]="email" class="form-control"
                                            placeholder="Correo electrónico" type="email" disabled>
                                    </div>

                                    <small class="text-danger"
                                        *ngIf="!email.valid && email.touched || !email.valid && email.touched">
                                        Ingresa un correo electrónico válido.
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>