<div class="row mt-4">
    <div class="col-12">
        <p class="h2 mb-5 text-xl">{{ 'userProfile.profile' | translate }}</p>
    </div>
</div>

<div class="row">
    <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
        <div class="card card-profile shadow height-fluid">
            <div class="row justify-content-center">
                <div class="col-lg-12 order-lg-2">
                    <div class="card-profile-image">
                        <!-- without avatar image -->
                        <div *ngIf="!avatarUrl" class="avatar-container default">
                            <i class="ni ni-single-02"></i>
                        </div>

                        <!-- with avatar image -->
                        <div *ngIf="avatarUrl" class="avatar-container">
                            <img [src]="avatarUrl">
                        </div>

                        <!-- loader -->
                        <div *ngIf="file?.status === 'loading'" class="loading-shade">
                            <mat-spinner></mat-spinner>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card-body pt-0 pt-9">
                <div class="row">
                    <div class="col-12">
                        <div class="file-status text-center mb-4">
                            <!-- selected file name -->
                            <small *ngIf="file?.name && file?.status !== 'loaded'" class="text-muted mb-2">
                                {{ file.name }}
                            </small>

                            <!-- invalid file -->
                            <small *ngIf="file?.status === 'invalid'" class="text-danger">
                                {{ 'userProfile.invalidFormat' | translate }} <br>
                                {{ 'userProfile.formatSuggestions' | translate }}
                            </small>

                            <!-- uploading error -->
                            <small *ngIf="file?.status === 'failed'" class="text-danger">
                                {{ 'userProfile.uploadErrorMsg' | translate }}
                            </small>

                            <!-- uploading success -->
                            <small *ngIf="file?.status === 'loaded'" class="text-success">
                                {{ 'userProfile.uploadSuccessMsg' | translate }}
                            </small>
                        </div>

                        <div class="d-flex justify-content-center">
                            <ng-container *ngIf="!file || file?.status === 'invalid' || file?.status === 'loaded'">
                                <input class="input-file" type="file" #fileInput
                                    (change)="onFileSelected($event.target.files)">
                                <button class="btn btn-primary" (click)="fileInput.click()">
                                    <i class="fas fa-camera mr-2"></i>
                                    {{ 'userProfile.newPhoto' | translate }}
                                </button>
                            </ng-container>
                            <ng-container *ngIf="file && file?.status !== 'invalid' && file?.status !== 'loaded'">
                                <button class="btn btn-primary" (click)="uploadImage()"
                                    [disabled]="file?.status === 'loading'">
                                    <i class="fas fa-save mr-2"></i>
                                    {{ 'userProfile.savePhoto' | translate }}
                                </button>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-8 order-xl-1">
        <div class="card shadow height-fluid">
            <div class="card-body">
                <form role="form" [formGroup]="form">
                    <div class="pl-lg-4">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group mb-3">
                                    <label class="form-control-label" for="input-name">
                                        {{ 'userProfile.name' | translate }}
                                    </label>

                                    <div class="input-group input-group-alternative"
                                        [ngClass]="{'is-invalid': !name.valid && name.touched || !name.valid && name.touched}">
                                        <input [formControl]="name" id="input-name" class="form-control"
                                            [placeholder]="'userProfile.name' | translate" type="text"
                                            autocomplete="new-name" disabled>
                                    </div>

                                    <small class="text-danger"
                                        *ngIf="!name.valid && name.touched || !name.valid && name.touched">
                                        {{ 'userProfile.invalidName' | translate }}
                                    </small>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group mb-3">
                                    <label class="form-control-label" for="input-last-name">
                                        {{ 'userProfile.lastName' | translate }}
                                    </label>

                                    <div class="input-group input-group-alternative"
                                        [ngClass]="{'is-invalid': !lastName.valid && lastName.touched || !lastName.valid && lastName.touched}">
                                        <input [formControl]="lastName" id="input-last-name" class="form-control"
                                            [placeholder]="'userProfile.lastName' | translate" type="text"
                                            autocomplete="new-last-name" disabled>
                                    </div>

                                    <small class="text-danger"
                                        *ngIf="!lastName.valid && lastName.touched || !lastName.valid && lastName.touched">
                                        {{ 'userProfile.invalidLastName' | translate }}
                                    </small>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-control-label" for="input-email">
                                        {{ 'userProfile.email' | translate }}
                                    </label>

                                    <div class="input-group input-group-alternative"
                                        [ngClass]="{'is-invalid': !email.valid && email.touched || !email.valid && email.touched}">
                                        <input [formControl]="email" class="form-control"
                                            [placeholder]="'userProfile.email' | translate" type="email" disabled>
                                    </div>

                                    <small class="text-danger"
                                        *ngIf="!email.valid && email.touched || !email.valid && email.touched">
                                        {{ 'userProfile.invalidEmail' | translate }}
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>