.stats-container {
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    gap: 20px;

    @media screen and (max-width: 1200px) {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    @media screen and (max-width: 1000px) {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    @media screen and (max-width: 480px) {
        grid-template-columns: minmax(0, 1fr);
    }
}

.metric-container,
.panel-title-container {
    display: grid;
    grid-template-columns: minmax(0, 1fr) auto;
    gap: 16px;

    .icon {
        height: 2rem;
        width: 2rem;
    }
}

.panel-title-container {
    align-items: center;
}

