<div class="header bg-gradient-info pb-7 pt-8 pb-md-7 pt-md-9">
    <div class="container">
      <div class="header-body text-center mb-6">
        <div class="row justify-content-center">
          <div class="col-lg-5 col-md-6">
            <h1 class="text-white">Welcome to CO-OP Dashboard</h1>
            <!-- <p class="text-lead text-light">Use these awesome forms to login or create new account in your project for free.</p> -->
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- Page content -->
<div class="container mt--8 pb-5">
  <div class="row justify-content-center">
    <div class="col-lg-5 col-md-7">
      <div class="card bg-secondary shadow border-0">
        <div class="card-body px-lg-5 py-lg-5">
            <div class="text-center text-muted mb-4">
                <small>
                    You will have access to this dashboard through the account email <b>user_email@test.com</b>, you just have to create a password</small>
            </div>
          <form role="form">
            <div class="form-group mb-3">
                <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                    </div>
                    <input class="form-control" placeholder="Password" type="password">
                </div>
            </div>
            <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                </div>
                <input class="form-control" placeholder="Confirm password" type="password">
            </div>
            <div class="text-center">
              <button type="button" class="btn btn-primary my-4">Use password</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
  
