<!-- KPIS PERFOMANCE -->
<div class="row mt-4">
    <div class="col-12 col-md-4" *ngFor="let kpi of kpis">
        <app-card-stat [stat]="kpi" [height]="auto"></app-card-stat>
    </div>
    <div class="col-12 mt--3 mt-xl-2" [hidden]="kpisReqStatus !== 3">
        <p class="text-center text-muted mb-0">
            Error al consultar datos
        </p>
    </div>
</div>

<!-- PRODUCTS TABLE -->
<div class="row mt-5">
    <div class="col-12">
        <app-generic-table [displayedColumns]="productsTableColumns" [tableData]="products"
            [tableDataChange]="products.data">
        </app-generic-table>
    </div>
</div>

<!-- USERS VS TRANSACCIONS / CANTIDAD VS AUP -->
<div class="row mt-5">
    <div class="col-12">
        <div class="pills-container">
            <ul class="nav nav-pills nav-fill">
                <li class="nav-item">
                    <a class="nav-link p-2" [ngClass]="{'active': selectedTab === 1}"
                        (click)="getDataByMetric('conversions-vs-users')">Usuarios - Transacciones</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link p-2" [ngClass]="{'active': selectedTab === 2}"
                        (click)="getDataByMetric('quantity-vs-aup')">Cantidad - AUP</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-12 mt-4">
        <div class="card">
            <div class="card-header">
                <span class="h4" [hidden]="selectedTab === 2">Usuarios vs Transacciones</span>
                <span class="h4" [hidden]="selectedTab === 1">Cantidad vs AUP</span>
            </div>
            <div class="card-body">
                <app-chart-multiple-axes name="conv-users-amount" [value1]="selectedTab === 1 ? 'users' : 'quantity'"
                    [valueName1]="selectedTab === 1 ? 'Usuarios' : 'Cantidad'"
                    [value2]="selectedTab === 1 ? 'transactions' : 'aup'"
                    [valueName2]="selectedTab === 1 ? 'Transacciones' : 'AUP'"
                    [valueFormat2]="selectedTab === 2 && 'USD'" [data]="usersAndAmount"
                    [status]="usersAndAmountReqStatus">
                </app-chart-multiple-axes>
            </div>
        </div>
    </div>
</div>