.conversion-wrapper {
    table {
        width: 100%;
    
        th:nth-of-type(n + 3),
        td:nth-of-type(n + 3) {
            text-align: center;
        }
    }
    
    .adaptable-container {
        overflow: auto;
    }
    
    .lg-container {
        max-width: 27rem;
        span {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            max-width: inherit;
            display: inline-block;
        }
    }

    .value-container {
        align-items: center;
        display: grid;
        grid-template-columns: 40px 30px;
        gap: 8px;
        justify-content: center;
    }
}

.pills-container {
    width: 60%;

    .nav-item .nav-link {
        cursor: pointer;
    }

    @media screen and (max-width: 820px) {
        width: 100%;
    }
}
