.stats-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;

    @media screen and (max-width: 1200px) {
        grid-template-columns: repeat(3, 1fr);
    }

    @media screen and (max-width: 1000px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (max-width: 480px) {
        grid-template-columns: 1fr;
    }
}

.card-header {
    padding: 0.5rem 1.5rem;
}

.header {
   border-radius: 0.375rem;;
}

.pills-container {
    width: 60%;

    .nav-item .nav-link {
        cursor: pointer;
    }

    @media screen and (max-width: 820px) {
        width: 100%;
    }
}

.card-body {
    .nav-tabs {
        .nav-link {
            cursor: pointer;
            color:rgba(0, 0, 0, 0.5);
    
            &.active {
                color: rgba(0, 0, 0, 0.9);
            }
        }
    }

    .pills-container {
        .nav-link {
            box-shadow: 0 2px 3px rgb(50 50 93 / 11%), 0 1px 3px rgb(0 0 0 / 8%);
        } 
    }
}

.chart-legend {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    padding: 0 15px;

    .legend-container {
        align-items: center;
        display: flex;
       
        .legend-square {
            border-radius: 4px;
            height: 25px;
            margin-right: 4px;
            width: 25px;

            &.on {
                background-color: #67B6DC;
            }

            &.off {
                background-color: #e9e9e9;
            }
        }

        .legend-label {
            color: #000000;
            font-size: 12px;
        }
    }
}

.adaptable-container {
    overflow: auto;

    table {
        width: 100%;
    
        th:nth-of-type(n + 3),
        td:nth-of-type(n + 3) {
            text-align: center;
        }
    }

    .lg-container {
        max-width: 27rem;
        span {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            max-width: inherit;
            display: inline-block;
        }
    }
}
