.stats-container {
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    gap: 20px;

    @media screen and (max-width: 1200px) {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    @media screen and (max-width: 1000px) {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    @media screen and (max-width: 480px) {
        grid-template-columns: minmax(0, 1fr);
    }
}

.header {
   border-radius: 0.375rem;;
}

.pills-container {
    width: 60%;

    @media screen and (max-width: 820px) {
        width: 100%;
    }
}

.nav-item .nav-link {
    cursor: pointer;
}

.card-body {
    .nav-tabs {
        .nav-link {
            cursor: pointer;
            color:rgba(0, 0, 0, 0.5);
    
            &.active {
                color: rgba(0, 0, 0, 0.9);
            }
        }
    }

    .pills-container {
        .nav-link {
            box-shadow: 0 2px 3px rgb(50 50 93 / 11%), 0 1px 3px rgb(0 0 0 / 8%);
        } 
    }
}

.chart-legend {
    display: flex;
    padding: 0 15px;

    &.legend-right {
        justify-content: flex-end;
    }

    &.legend-center {
        justify-content: center;
    }

    .legend-container {
        align-items: center;
        display: flex;

        .legend-square {
            border-radius: 4px;
            height: 16px;
            margin-right: 4px;
            width: 16px;

            &.color-1 {
                background-color: #67B6DC;
            }

            &.color-2 {
                background-color: #6794DC;
            }
        }

        .legend-label {
            color: #000000;
            font-size: 12px;
        }
    }
}
