<div class="container pb-7 pt-8 pb-md-7 pt-md-9">
  <div class="row justify-content-center">
    <div class="col-lg-5 col-md-7">
      <div class="card shadow border-0">
        <div class="card-body px-lg-5 py-lg-5">

          <div class="logo-container text-center mb-4">
            <img src="assets/img/brand/hp-logo.png">
          </div>

          <p class="text-center text-muted bold my-4"><b>Change password</b></p>

          <app-set-psw submitBtnLegend="Change password" (passwordChange)="resetPsw($event)"
            [submitting]="reqStatus === 1 || reqStatus === 2 ? true : false" [submitErrorLegend]="errorMsg">
          </app-set-psw>

          <div class="text-center">
            <small class="text-success" *ngIf="reqStatus === 2">
              Your <b>password</b> has been updated successfully. Redirecting to <b>Login page.</b>
            </small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>