.stats-container {
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    gap: 20px;

    @media screen and (max-width: 1200px) {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    @media screen and (max-width: 1000px) {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    @media screen and (max-width: 480px) {
        grid-template-columns: minmax(0, 1fr);
    }
}

.card-header {
    padding: 0.5rem 1.5rem;
}

.header {
   border-radius: 0.375rem;;
}

.pills-container {
    width: 60%;

    .nav-item .nav-link {
        cursor: pointer;
    }

    @media screen and (max-width: 820px) {
        width: 100%;
    }
}

.chart-legend {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    padding: 0 15px;

    &.legend-right {
        justify-content: flex-end;
    }

    &.legend-center {
        justify-content: center;
    }

    .legend-container-hp {
        align-items: center;
        display: flex;
       
        .legend-square {
            border-radius: 4px;
            height: 25px;
            margin-right: 4px;
            width: 25px;

            &.on {
                background-color: #67B6DC;
            }

            &.off {
                background-color: #e9e9e9;
            }
        }

        .legend-label {
            color: #000000;
            font-size: 12px;
        }
    }

    .legend-container {
        align-items: center;
        display: flex;

        .legend-square {
            border-radius: 4px;
            height: 16px;
            margin-right: 4px;
            width: 16px;

            &.color-1 {
                background-color: #67B6DC;
            }

            &.color-2 {
                background-color: #6794DC;
            }
        }

        .legend-label {
            color: #000000;
            font-size: 12px;
        }
    }
}
