<div class="main-container mt-4">
    <!-- invitations -->
    <div *ngIf="getReqSatus > 1">
        <div class="row">
            <div class="col-12" *ngIf="invitations?.length > 0 || getReqSatus === 3">
                <p class="h3 mb-4 text-muted">Invitaciones enviadas</p>
            </div>

            <div class="col-12 mb-5" *ngIf="invitations?.length > 0">
                <app-invitation *ngFor="let invitation of invitations" [invitation]="invitation"
                    (invitationDeleted)="getInvitations()"></app-invitation>
            </div>
        </div>

        <!-- error message -->
        <div class="row" *ngIf="getReqSatus === 3">
            <div class="col-12 mb-5">
                <div class="card">
                    <div class="card-body">
                        <p class="text-muted text-center mb-0">
                            Se generó un error al consultar las invitaciones enviadas
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <p class="h2 mb-5 text-xl">Administar usuarios</p>
        </div>
    </div>
    <!-- invite new user button -->
    <div class="row">
        <div class="col-12 mb-4 text-right">
            <button type="button" class="btn btn-primary" routerLink="/dashboard/users/invite-user">
                <i class="fas fa-user-plus text-white mr-1"></i>
                Invitar a un nuevo usuario
            </button>
        </div>
    </div>

    <!-- users list -->
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    <app-users-list></app-users-list>
                </div>
            </div>
        </div>
    </div>
</div>