// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$coop-dashboard-primary: mat-palette($mat-blue);
$coop-dashboard-accent: mat-palette($mat-blue, A200, A100, A400);

// The warn palette is optional (defaults to red).
$coop-dashboard-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$coop-dashboard-theme: mat-light-theme((
  color: (
    primary: $coop-dashboard-primary,
    accent: $coop-dashboard-accent,
    warn: $coop-dashboard-warn,
  )
));

// Define a custom typography config that overrides the font-family as well as the
// `headlines` and `body-1` levels.
$custom-typography: mat-typography-config(
  $font-family: 'HPSimplifiedLight, Arial, sans-serif',
  $headline: mat-typography-level(32px, 48px, 700),
  $body-1: mat-typography-level(16px, 24px, 500)
);
@include mat-core($custom-typography);
// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($coop-dashboard-theme);

/* You can add global styles to this file, and also import other style files */

// **** CUSTOM ANGULAR MATERIAL ****

// *** mat-dialog ***
.mat-dialog-container {
  background: #fff;
  max-height: auto !important;
  margin-right: auto;
  margin-left: auto;
  @media screen and (max-width: 480px) {
    width: 90vw !important;
  }

  @media screen and (min-width: 552px) {
    width: 520px !important;
  }
}

// *** table ***
th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
  padding: 0 8px !important;
}

.mat-header-cell  {
  font-size: 14.5px;
}

.mat-cell, .mat-footer-cell {
  font-size: 14px;
}

// *** select ***
.mat-select-trigger {
  border-radius: 0.375rem;
  box-shadow: 0 1px 3px rgba(50, 50, 93, 0.15), 0 1px 0 rgba(0, 0, 0, 0.02);
  border: 0;
  transition: box-shadow 0.15s ease;
  padding: 0.625rem 0.75rem;
  white-space: nowrap;

    .mat-select-value {
      color: #767676;
      font-size: 0.875rem;
      font-weight: 400;
      line-height: 1.5;
    }

    .mat-select-arrow {
      color: #adb5bd;
    }
}

.mat-select-panel:not([class*=mat-elevation-z]){
  box-shadow: 0 1px 3px rgba(50, 50, 93, 0.15), 0 1px 0 rgba(0, 0, 0, 0.02);
  border-radius: 0.375rem;
}

.mat-select-panel .mat-optgroup-label, .mat-select-panel .mat-option {
  height: 2.5em !important;
  color: #767676;
  font-size: 0.875rem !important;
}

// *** paginator ***
.mat-paginator-page-size-select {
  width: 70px !important;
}
