<!-- TRAFFIC AND CONVERSIONS - DEMOGRAPHICS -->
<ng-container>
    <div class="row mt-4">
        <div class="col-12">
            <div class="mb-3">
                <span class="h3">{{ 'audiences.section1Title' | translate }}</span>
            </div>
        </div>
        <div class="col-12">
            <div class="pills-container">
                <ul class="nav nav-pills nav-fill">
                    <li class="nav-item">
                        <a class="nav-link p-2" [ngClass]="{'active': selectedTab1 === 1}"
                            (click)="getDomographicsByMetric('traffic')">{{ 'general.traffic' | translate }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link p-2" [ngClass]="{'active': selectedTab1 === 2}"
                            (click)="getDomographicsByMetric('conversions')">{{ 'general.conversions' | translate }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link p-2" [ngClass]="{'active': selectedTab1 === 3}"
                            (click)="getDomographicsByMetric('aup')">AUP</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link p-2" [ngClass]="{'active': selectedTab1 === 4}"
                            (click)="getDomographicsByMetric('bouncerate')">BR</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row">
        <!-- devices and gender in Traffic and Conversions -->
        <ng-container *ngIf="selectedTab1 !== 3">
            <!-- devices -->
            <div class="col-12 col-md-6 mt-4">
                <div class="card height-fluid">
                    <div class="card-header h4">
                        <ng-container [ngSwitch]="selectedTab1">
                            <span *ngSwitchCase="1">{{ 'general.traffic' | translate }}</span>
                            <span *ngSwitchCase="2">{{ 'general.conversions' | translate }}</span>
                            <span *ngSwitchCase="3">AUP</span>
                            <span *ngSwitchCase="4">BR</span>
                        </ng-container>
                        <span>{{ 'charts.byDevice' | translate }}</span>
                    </div>

                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 col-xl-6 mt-5 mt-xl-0">
                                <div class="chart-legend legend-center mt-0">
                                    <div class="legend-container" *ngIf="demographics?.desktop?.length > 0">
                                        <div class="legend-square on color-1"></div>
                                        <div class="legend-label">Desktop {{ demographics.desktop[1].value }}%
                                        </div>
                                    </div>
                                </div>
                                <app-chart-pictorial [data]="demographics?.desktop" name="aud-devices-desktop"
                                    [uniqueDimensionConf]="{color: '#67B6DC'}" category="name" iconType="monitor"
                                    [status]="demoReqStatus[0].reqStatus" height="280px">
                                </app-chart-pictorial>
                            </div>
                            <div class="col-12 col-xl-6 mt-5 mt-xl-0">
                                <div class="chart-legend legend-center mt-0">
                                    <div class="legend-container" *ngIf="demographics?.mobile?.length > 0">
                                        <div class="legend-square on color-2"></div>
                                        <div class="legend-label">Mobile {{ demographics.mobile[1].value }}%
                                        </div>
                                    </div>
                                </div>
                                <app-chart-pictorial [data]="demographics?.mobile" name="aud-devices-mobile"
                                    [uniqueDimensionConf]="{color: '#6794DC'}" category="name" iconType="cellphone"
                                    height="280px" [status]="demoReqStatus[0].reqStatus">
                                </app-chart-pictorial>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- gender -->
            <div class="col-12 col-md-6 mt-4">
                <div class="card height-fluid">
                    <div class="card-header h4">
                        <ng-container [ngSwitch]="selectedTab1">
                            <span *ngSwitchCase="1">{{ 'general.traffic' | translate }}</span>
                            <span *ngSwitchCase="2">{{ 'general.conversions' | translate }}</span>
                            <span *ngSwitchCase="3">AUP</span>
                            <span *ngSwitchCase="4">BR</span>
                        </ng-container>
                        <span>{{ 'charts.byGender' | translate }}</span>
                    </div>

                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 col-xl-6 mt-5 mt-xl-0">
                                <div class="chart-legend legend-center mt-0">
                                    <div class="legend-container" *ngIf="demographics?.men?.length > 0">
                                        <div class="legend-square on color-1"></div>
                                        <div class="legend-label">
                                            {{ ('others.men'| translate) + ' '}}
                                            {{ demographics.men[1].value }}%
                                        </div>
                                    </div>
                                </div>
                                <app-chart-pictorial [data]="demographics?.men" name="aud-gender-man"
                                    [uniqueDimensionConf]="{color: '#67B6DC'}" category="name" iconType="man"
                                    [status]="demoReqStatus[1].reqStatus"
                                    [emptyDataLegend]="retailerID === 11 && 'audiences.retailErrorMsg' | translate"
                                    height="280px">
                                </app-chart-pictorial>
                            </div>
                            <div class="col-12 col-xl-6 mt-5 mt-xl-0">
                                <div class="chart-legend legend-center mt-0">
                                    <div class="legend-container" *ngIf="demographics?.women?.length > 0">
                                        <div class="legend-square on color-2"></div>
                                        <div class="legend-label">
                                            {{ ('others.women'| translate) + ' '}}
                                            {{ demographics.women[1].value }}%
                                        </div>
                                    </div>
                                </div>
                                <app-chart-pictorial [data]="demographics?.women" name="aud-gender-woman"
                                    [uniqueDimensionConf]="{color: '#6794DC'}" category="name" iconType="woman"
                                    [status]="demoReqStatus[1].reqStatus"
                                    [emptyDataLegend]="retailerID === 11 && 'audiences.retailErrorMsg' | translate"
                                    height="280px">
                                </app-chart-pictorial>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>

        <!-- devices and gender in AUP -->
        <ng-container *ngIf="selectedTab1 === 3">
            <!-- devices -->
            <div class="col-12 col-md-6 mt-4">
                <div class="card">
                    <div class="card-header h4">
                        <span>AUP {{ 'charts.byDevice' | translate }}</span>
                    </div>
                    <div class="card-body">
                        <app-chart-bar name="aud-devices" [data]="demographics?.device"
                            [status]="demoReqStatus[0].reqStatus" valueFormat="USD" category="name" height="280px"
                            [legendsByCategory]="true">
                        </app-chart-bar>
                    </div>
                </div>
            </div>

            <!-- gender -->
            <div class="col-12 col-md-6 mt-4">
                <div class="card">
                    <div class="card-header h4">
                        <span>AUP {{ 'charts.byGender' | translate }}</span>
                    </div>
                    <div class="card-body">
                        <app-chart-bar name="aud-gender" [data]="demographics?.gender"
                            [status]="demoReqStatus[1].reqStatus" valueFormat="USD" category="name" height="280px"
                            [legendsByCategory]="true"
                            [emptyDataLegend]="retailerID === 11 && 'audiences.retailErrorMsg' | translate">
                        </app-chart-bar>
                    </div>
                </div>
            </div>
        </ng-container>

        <!-- age -->
        <div class="col-12 col-md-6 mt-4">
            <div class="card">
                <div class="card-header h4">
                    <ng-container [ngSwitch]="selectedTab1">
                        <span *ngSwitchCase="1">{{ 'general.traffic' | translate }}</span>
                        <span *ngSwitchCase="2">{{ 'general.conversions' | translate }}</span>
                        <span *ngSwitchCase="3">AUP</span>
                        <span *ngSwitchCase="4">BR</span>
                    </ng-container>
                    <span>{{ 'charts.byAge' | translate }}</span>
                </div>
                <div class="card-body">
                    <app-chart-lollipop name="aud-age" [data]="demographics?.age" category="age"
                        [value]="selectedTab1 === 1 ? 'visits' : selectedTab1 === 2 ? 'sales' : selectedTab1 === 3 ? 'aup' : 'value'"
                        [valueFormat]="selectedTab1 === 2 || selectedTab1 === 3 ? 'USD' :  selectedTab1 === 4 && '%'"
                        height="280px" [status]="demoReqStatus[2].reqStatus"
                        [emptyDataLegend]="retailerID === 11 && 'audiences.retailErrorMsg' | translate">
                    </app-chart-lollipop>
                </div>
            </div>
        </div>

        <!-- age and gender -->
        <div class="col-12 col-md-6 mt-4">
            <div class="card">
                <div class="card-header h4" [ngSwitch]="selectedTab1">
                    <ng-container>
                        <span *ngSwitchCase="1">{{ 'general.traffic' | translate }}</span>
                        <span *ngSwitchCase="2">{{ 'general.conversions' | translate }}</span>
                        <span *ngSwitchCase="3">AUP</span>
                        <span *ngSwitchCase="4">BR</span>
                    </ng-container>
                    <span>{{ 'charts.byGenderAndAge' | translate }}</span>
                </div>
                <div class="card-body" style="height: 328px">
                    <!-- loader -->
                    <app-chart-loader *ngIf="chartsInitLoad && demoReqStatus[3].reqStatus <= 1">
                    </app-chart-loader>

                    <!-- ready -->
                    <app-chart-pyramid *ngIf="demographics?.genderByAge?.length > 0" name="aud-age-and-gender"
                        [data]="demographics?.genderByAge" [status]="demoReqStatus[3].reqStatus"
                        [valueFormat]="selectedTab1 === 2 || selectedTab1 === 3 ? 'USD' :  selectedTab1 === 4 && '%'"
                        height="280px">
                    </app-chart-pyramid>

                    <!-- empty data -->
                    <div *ngIf="demoReqStatus[3].reqStatus === 2 && demographics?.genderByAge?.length === 0"
                        class="chart-error-container text-muted text-center">
                        <p *ngIf="retailerID !== 11">
                            {{ 'general.withoutData' | translate }} <br>
                            {{ 'general.withoutData2' | translate }}
                        </p>
                        <p *ngIf="retailerID === 11">
                            {{ 'audiences.retailErrorMsg' | translate }}
                        </p>
                    </div>

                    <!-- error -->
                    <div *ngIf="chartsInitLoad && demoReqStatus[3].reqStatus === 3"
                        class="chart-error-container text-muted">
                        <span> {{ 'general.errorData' | translate }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-container>

<!-- TRAFFIC AND CONVERSIONS - WEEKDAYS / HOURS -->
<ng-container>
    <div class="row mt-5">
        <div class="col-12">
            <div class="mb-3">
                <span class="h3">{{ 'audiences.section2Title' | translate }}</span>
            </div>
        </div>
        <div class="col-12">
            <div class="pills-container">
                <ul class="nav nav-pills nav-fill">
                    <li class="nav-item">
                        <a class="nav-link p-2" [ngClass]="{'active': selectedTab2 === 1}"
                            (click)="getWeekdaysAndHoursByMetric('traffic')">{{ 'general.traffic' | translate }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link p-2" [ngClass]="{'active': selectedTab2 === 2}"
                            (click)="getWeekdaysAndHoursByMetric('conversions')">{{ 'general.conversions' | translate
                            }}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row" *ngIf="selectedTab2 === 1 || selectedTab2 === 2">
        <div class="col-12 col-lg-6 mt-4">
            <div class="card">
                <div class="card-header">
                    <span class="h4">
                        {{ ((selectedTab2 === 1 ? 'general.traffic' : 'general.conversions') | translate) +
                        ('charts.byDayAndHour' | translate) }}
                    </span>
                </div>
                <div class="card-body">
                    <app-chart-heat-map name="aud-weekday-sesions" [data]="weekDaysAndHours?.weekdayAndHour"
                        [status]="weekDaysAndHoursReqStatus[0].reqStatus" categoryX="weekdayName" height="615px">
                    </app-chart-heat-map>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6 mt-4">
            <div class="card">
                <div class="card-header">
                    <span class="h4">
                        {{ ((selectedTab2 === 1 ? 'general.traffic' : 'general.conversions') | translate) +
                        ('charts.byWeekday' | translate) }}
                    </span>
                </div>
                <div class="card-body">
                    <app-chart-bar-horizontal name="aud-traffic-day" [data]="weekDaysAndHours?.weekday"
                        [status]="weekDaysAndHoursReqStatus[1].reqStatus" category='weekdayName' value='value'
                        height="250px">
                    </app-chart-bar-horizontal>
                </div>
            </div>

            <div class="card mt-4">
                <div class="card-header">
                    <span class="h4">
                        {{ ((selectedTab2 === 1 ? 'general.traffic' : 'general.conversions') | translate) +
                        ('charts.byHour' | translate) }}
                    </span>
                </div>
                <div class="card-body">
                    <app-chart-lollipop name="aud-traffic-hour" [data]="weekDaysAndHours?.hour"
                        [status]="weekDaysAndHoursReqStatus[2].reqStatus" category="hour" height="250px">
                    </app-chart-lollipop>
                </div>
            </div>
        </div>
    </div>

    <!-- CONVERSIONES VS TRÁFICO -->
    <div class="row mt-5">
        <div class="col-12">
            <span class="h3">{{ 'audiences.section3Title' | translate }}</span>
        </div>
        <div class="col-12 col-lg-6 mt-4">
            <div class="card">
                <div class="card-header">
                    <span class="h4">{{ 'audiences.chart10CardTitle' | translate }}</span>
                </div>
                <div class="card-body">
                    <!-- <app-chart-multiple-axes name="aud-conv-tra-day" category="weekday" value1="conversions" value2="visits"
                    valueName1="Conversiones" valueName2="Tráfico"
                    [data]="conversionsVsTraffic?.weekday" [status]="conversionsVsTrafficReqStatus[0].reqStatus">
                    </app-chart-multiple-axes> -->

                    <app-chart-column-line-mix name="aud-conv-tra-day" [data]="conversionsVsTraffic?.weekday"
                        [status]="conversionsVsTrafficReqStatus[0].reqStatus" category="weekdayName"
                        columnValue="visits" lineValue="conversions" [columnName]="'general.traffic' | translate"
                        [lineName]="'general.conversions' | translate" [XYCursor]="true">
                    </app-chart-column-line-mix>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6 mt-4">
            <div class="card">
                <div class="card-header">
                    <span class="h4">{{ 'audiences.chart11CardTitle' | translate }}</span>
                </div>
                <div class="card-body">
                    <!-- <app-chart-multiple-axes name="aud-conv-tra-hour" category="hour" value1="conversions" value2="visits"
                        valueName1="Conversiones" valueName2="Tráfico"
                        [data]="conversionsVsTraffic?.hour" [status]="conversionsVsTrafficReqStatus[1].reqStatus" inputDateFormat="HH:mm">
                    </app-chart-multiple-axes> -->

                    <app-chart-column-line-mix name="aud-conv-tra-hour" [data]="conversionsVsTraffic?.hour"
                        [status]="conversionsVsTrafficReqStatus[1].reqStatus" category="hour" columnValue="visits"
                        lineValue="conversions" [columnName]="'general.traffic' | translate"
                        [lineName]="'general.conversions' | translate" joinTextInTooltip="a las" [XYCursor]="true">
                    </app-chart-column-line-mix>
                </div>
            </div>
        </div>
    </div>
</ng-container>

<!-- INTERESTS -->
<div class="row mt-5">
    <div class="col-12">
        <span class="h3">{{ 'audiences.section4Title' | translate }}</span>
    </div>
    <div class="col-12 col-xl-6 mt-4">
        <div class="card height-fluid">
            <div class="card-header header-info">
                <span class="h4 mr-2 mb-0">{{ 'charts.affinityCategory' | translate }}</span>
                <div class="info-popover" ngbDropdown>
                    <a ngbDropdownToggle>
                        <i class="fas fa-info-circle"></i>
                    </a>
                    <div class="content" ngbDropdownMenu>
                        <p>{{ 'charts.affinityCategoryDesc' | translate }}</p>
                    </div>
                </div>
            </div>
            <div class="card-body sm-chart-container">
                <app-chart-bar-horizontal name="aud-interests-affinity-category" [data]="interests?.affinityCategory"
                    [status]="interestsReqStatus[0].reqStatus" value="users" [singleColorBars]="true">
                </app-chart-bar-horizontal>

                <small class="text-muted mt-2 d-block d-sm-none">
                    {{ 'charts.mobileSuggestion' | translate }} <strong>{{ 'charts.mobileSuggestion2' | translate
                        }}</strong>
                </small>
            </div>
        </div>
    </div>
    <div class="col-12 col-xl-6 mt-4">
        <div class="card height-fluid">
            <div class="card-header header-info">
                <span class="h4 mr-2 mb-0">{{ 'charts.marketSegment' | translate }}</span>
                <div class="info-popover" ngbDropdown>
                    <a ngbDropdownToggle>
                        <i class="fas fa-info-circle"></i>
                    </a>
                    <div class="content" ngbDropdownMenu>
                        <p>{{ 'charts.marketSegmentDesc' | translate }}</p>
                    </div>
                </div>
            </div>
            <div class="card-body sm-chart-container">
                <app-chart-bar-horizontal name="aud-interests-market-segment" [data]="interests?.marketSegment"
                    [status]="interestsReqStatus[1].reqStatus" value="users" [singleColorBars]="true">
                </app-chart-bar-horizontal>
                <small class="text-muted mt-2 d-block d-sm-none">
                    {{ 'charts.mobileSuggestion' | translate }} <strong>{{ 'charts.mobileSuggestion2' | translate
                        }}</strong>
                </small>
            </div>
        </div>
    </div>
</div>