<div class="row mt-4 mb-5">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <span class="h4">Análisis por tráfico</span>
            </div>
            <div class="card-body">
                <app-chart-line [data]="trafficByMonths" name="traffic-months" date="date" value="visits">
                </app-chart-line>
            </div>
        </div>
    </div>
</div>

<!-- ANALISIS, CINVERSIONES Y AUP -->
<div class="mb-5">
    <div class="row">
        <div class="col-12">
            <div class="mb-3 mt-0">
                <span class="h3">Análisis Conversiones, AUP & BR</span>
            </div>
        </div>
        <div class="col-12">
            <div class="pills-container">
                <ul class="nav nav-pills nav-fill">
                    <li class="nav-item">
                        <a class="nav-link p-2" [ngClass]="{'active': selectedTab1 === 1}"
                            (click)="selectedTab1 = 1">Género</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link p-2" [ngClass]="{'active': selectedTab1 === 2}"
                            (click)="selectedTab1 = 2">Edad</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link p-2" [ngClass]="{'active': selectedTab1 === 3}"
                            (click)="selectedTab1 = 3">Dispositivo</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row" *ngIf="selectedTab1 === 1">
        <div class="col-12 col-lg-4 mt-4">
            <div class="card">
                <div class="card-header">
                    <span class="h4">Conversión</span>
                </div>
                <div class="card-body">
                    <app-chart-bar [data]="genderConversion" name="gender-conversion" category='gender' value='value'>
                    </app-chart-bar>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-4 mt-4">
            <div class="card">
                <div class="card-header">
                    <span class="h4">AUP</span>
                </div>
                <div class="card-body">
                    <app-chart-bar [data]="genderAUP" name="gender-aup" category='gender' value='value'>
                    </app-chart-bar>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-4 mt-4">
            <div class="card">
                <div class="card-header">
                    <span class="h4">BR</span>
                </div>
                <div class="card-body">
                    <app-chart-bar [data]="genderBR" name="gender-br" category='gender' value='value'>
                    </app-chart-bar>
                </div>
            </div>
        </div>
    </div>

    <div class="row" *ngIf="selectedTab1 === 2">
        <div class="col-12 col-lg-4 mt-4">
            <div class="card">
                <div class="card-header">
                    <span class="h4">Conversión</span>
                </div>
                <div class="card-body">
                    <app-chart-bar [data]="ageConversion" name="age-conversion" category='age' value='value'>
                    </app-chart-bar>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-4 mt-4">
            <div class="card">
                <div class="card-header">
                    <span class="h4">AUP</span>
                </div>
                <div class="card-body">
                    <app-chart-bar [data]="ageAUP" name="age-aup" category='age' value='value'>
                    </app-chart-bar>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-4 mt-4">
            <div class="card">
                <div class="card-header">
                    <span class="h4">BR</span>
                </div>
                <div class="card-body">
                    <app-chart-bar [data]="ageBR" name="age-br" category='age' value='value'>
                    </app-chart-bar>
                </div>
            </div>
        </div>
    </div>

    <div class="row" *ngIf="selectedTab1 === 3">
        <div class="col-12 col-lg-4 mt-4">
            <div class="card">
                <div class="card-header">
                    <span class="h4">Conversión</span>
                </div>
                <div class="card-body">
                    <app-chart-pie [data]="deviceConversion" name="device-conversion" category='device' value='value'>
                    </app-chart-pie>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-4 mt-4">
            <div class="card">
                <div class="card-header">
                    <span class="h4">AUP</span>
                </div>
                <div class="card-body">
                    <app-chart-pie [data]="deviceAUP" name="device-aup" category='device' value='value'>
                    </app-chart-pie>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-4 mt-4">
            <div class="card">
                <div class="card-header">
                    <span class="h4">BR</span>
                </div>
                <div class="card-body">
                    <app-chart-pie [data]="deviceBR" name="device-br" category='device' value='value'>
                    </app-chart-pie>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- TRAFICO Y CONVERSIONES POR DIA Y HORA -->
<ng-container>
    <div class="row">
        <div class="col-12">
            <div class="mb-3 mt-0">
                <span class="h3">Tráfico y conversiones por hora y por día</span>
            </div>
        </div>
        <div class="col-12">
            <div class="pills-container">
                <ul class="nav nav-pills nav-fill">
                    <li class="nav-item">
                        <a class="nav-link p-2" [ngClass]="{'active': selectedTab2 === 1}"
                            (click)="selectedTab2 = 1">Tráfico</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link p-2" [ngClass]="{'active': selectedTab2 === 2}"
                            (click)="selectedTab2 = 2">Conversiones</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row" *ngIf="selectedTab2 === 1">
        <div class="col-12 col-lg-6 mt-4">
            <div class="card" style="height: 100%;">
                <div class="card-header">
                    <span class="h4">Día de la semana / Sesiones</span>
                </div>
                <div class="card-body">
                    <app-chart-heat-map [data]="heatmapData" name="weekday-sesions">
                    </app-chart-heat-map>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6 mt-4">
            <div class="card">
                <div class="card-header">
                    <span class="h4">Tráfico por día de la semana</span>
                </div>
                <div class="card-body">
                    <app-chart-bar-horizontal [data]="trafficByDay" name="traffic-day" category='weekday' value='value'
                        height="250px">
                    </app-chart-bar-horizontal>
                </div>
            </div>

            <div class="card mt-4">
                <div class="card-header">
                    <span class="h4">Tráfico por hora del día</span>
                </div>
                <div class="card-body">
                    <app-chart-lollipop [data]="trafficByHour" name="traffic-hour" category="hour" value="visits"
                        height="250px">
                    </app-chart-lollipop>
                </div>
            </div>
        </div>
    </div>

    <div class="row" *ngIf="selectedTab2 === 2">
        <div class="col-12 col-lg-6 mt-4">
            <div class="card">
                <div class="card-header">
                    <span class="h4">Conversiones y tráfico por día</span>
                </div>
                <div class="card-body">
                    <app-chart-line-comparison [data]="conversionsTrafficPerDay" name="conv-tra-day">
                    </app-chart-line-comparison>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6 mt-4">
            <div class="card">
                <div class="card-header">
                    <span class="h4">Conversiones y tráfico por hora</span>
                </div>
                <div class="card-body">
                    <app-chart-line-comparison [data]="conversionsTrafficPerHour" name="conv-tra-hour">
                    </app-chart-line-comparison>
                </div>
            </div>
        </div>
    </div>
</ng-container>