iframe {
    border: 0;
}

figcaption,
figure,
main {
    display: block;
}

main {
    overflow: hidden;
}


body {
    font-family: 'HPSimplifiedLight',Arial,sans-serif !important;
    color: $black !important;
}

b, strong {
    font-family: 'HPSimplified',Arial,sans-serif !important;  
}