<!-- USERS (BY SECTOR / BY SOURCE) -->
<div class="row mt-4">
    <div class="col-12">
        <div class="pills-container">
            <ul class="nav nav-pills nav-fill">
                <li class="nav-item">
                    <a class="nav-link p-2" [ngClass]="{'active': selectedTab1 === 1}"
                        (click)="getUsers('sectors')">Usuarios por Sector</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link p-2" [ngClass]="{'active': selectedTab1 === 2}"
                        (click)="getUsers('sources')">Usuarios por Fuente</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-12 mt-4">
        <div class="card">
            <div class="card-header">
                <span class="h4">Usuarios por {{ selectedTab1 === 1 ? 'Sector' : 'Fuente '}}</span>
            </div>
            <div class="card-body">
                <app-chart-line-series name="acq-users-sector" [series]="users" yTitle="Usuarios" [status]="usersReqStatus">
                </app-chart-line-series>
            </div>
        </div>
    </div>
</div>

<!-- CAMPAIGNS -->
<div class="row mt-4">
    <div class="col-12">
        <app-generic-table [displayedColumns]="campaignsTableColumns" [tableData]="campaigns"
            [tableDataChange]="campaigns.data">
        </app-generic-table>
    </div>
</div>