.card-header {
    padding: 0.5rem 1.5rem;
}

table {
    width: 100%;
}

.adaptable-container {
    overflow: auto;
}


.pills-container {
    width: 60%;

    .nav-item .nav-link {
        cursor: pointer;
    }

    @media screen and (max-width: 820px) {
        width: 100%;
    }
}
