<!-- USERS (BY SECTOR / BY SOURCE) -->
<div class="row mt-4">
    <div class="col-12">
        <div class="pills-container">
            <ul class="nav nav-pills nav-fill">
                <li class="nav-item">
                    <a class="nav-link p-2" [ngClass]="{'active': selectedTab1 === 1}" (click)="getUsers('sectors')">
                        {{ 'acquisition.chart1CardTitle1' | translate }}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link p-2" [ngClass]="{'active': selectedTab1 === 2}" (click)="getUsers('sources')">
                        {{ 'acquisition.chart1CardTitle2' | translate }}
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-12 mt-4">
        <div class="card">
            <div class="card-header">
                <span *ngIf="selectedTab1 === 1" class="h4">{{ 'acquisition.chart1CardTitle1' | translate }}</span>
                <span *ngIf="selectedTab1 === 2" class="h4">{{ 'acquisition.chart1CardTitle2' | translate }}</span>
            </div>
            <div class="card-body">
                <app-chart-line-series name="acq-users-sector" [series]="users" [yTitle]="'general.users' | translate"
                    [status]="usersReqStatus">
                </app-chart-line-series>
            </div>
        </div>
    </div>
</div>

<!-- CAMPAIGNS -->
<div class="row mt-4">
    <div class="col-12">
        <app-generic-table [displayedColumns]="campaignsTableColumns" [tableData]="campaigns"
            [tableDataChange]="campaigns.data">
        </app-generic-table>
    </div>
</div>