<div class="adaptable-container" [ngClass]="{'auto': tableData?.reqStatus > 1 }">
    <div class="loading-shade" [hidden]="tableData?.reqStatus > 1">
        <mat-spinner></mat-spinner>
    </div>

    <table mat-table [dataSource]="dataSource" matSort [ngClass]="{'reduced-padding': reducedPadding}">
        <ng-container *ngFor="let column of displayedColumns">
            <ng-container [matColumnDef]="column.name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header
                    [ngClass]="column.textAlign ? column.textAlign + '-align' : 'left-align'">
                    {{ column.title }}
                </th>

                <td mat-cell *matCellDef="let element" [style.width.vw]="column.maxWidthColumn && column.maxWidthColumn"
                    [style.text-align]="column.textAlign ? column.textAlign : 'left'">
                    <!-- with empty line -->
                    <span *ngIf="column.emptyLine && !element[column.name]">-</span>

                    <!-- with tooltip -->
                    <div *ngIf="column.tooltip && !(column.emptyLine && !element[column.name])" #tooltip="matTooltip"
                        md-raised-button [matTooltip]="element[column.name]" matTooltipPosition="below"
                        matTooltipClass="custom-tooltip" [ngClass]="{'value-container' : column.comparativeName}">

                        <div [ngSwitch]="column.formatValue" [ngClass]="{'lg-container': column.maxWidthColumn}"
                            [style.width.vw]="column.maxWidthColumn" [style.max-width.vw]="column.maxWidthColumn">
                            <span *ngSwitchCase="'currency'">
                                {{ element[column.name] | currency:'USD':'symbol-narrow':'1.2-2' }}
                            </span>
                            <span *ngSwitchCase="'percentage'">
                                {{ element[column.name] | number : '1.2-2' }}%
                            </span>
                            <span *ngSwitchCase="'decimal'">
                                {{ element[column.name] | number : '1.2-2' }}
                            </span>
                            <span *ngSwitchCase="'integer'">
                                {{ element[column.name] | number : '1.0-0' }}
                            </span>
                            <span *ngSwitchDefault>
                                {{ element[column.name] }}
                            </span>
                        </div>

                        <ng-container *ngIf="column.comparativeName">
                            <ng-container *ngIf="column.comparativeOrder !== 'comparativeOverOriginal'">
                                <i class="fas fa-arrow-up"
                                    [ngClass]="{'text-success': !column.comparativeLowIsBetter, 'text-danger': column.comparativeLowIsBetter}"
                                    *ngIf="element[column.name] > element[column.comparativeName]"></i>
                                <i class="fas fa-equals text-warning"
                                    *ngIf="element[column.name] === element[column.comparativeName]"></i>
                                <i class="fas fa-arrow-down"
                                    [ngClass]="{'text-danger': !column.comparativeLowIsBetter, 'text-success': column.comparativeLowIsBetter}"
                                    *ngIf="element[column.name] < element[column.comparativeName]"></i>
                            </ng-container>

                            <ng-container *ngIf="column.comparativeOrder === 'comparativeOverOriginal'">
                                <i class="fas fa-arrow-up"
                                    [ngClass]="{'text-success': !column.comparativeLowIsBetter, 'text-danger': column.comparativeLowIsBetter}"
                                    *ngIf="element[column.comparativeName] > element[column.name]"></i>
                                <i class="fas fa-equals text-warning"
                                    *ngIf="element[column.comparativeName] === element[column.name]"></i>
                                <i class="fas fa-arrow-down"
                                    [ngClass]="{'text-danger': !column.comparativeLowIsBetter, 'text-success': column.comparativeLowIsBetter}"
                                    *ngIf="element[column.comparativeName] < element[column.name]"></i>
                            </ng-container>
                        </ng-container>
                    </div>

                    <!-- without tooltip -->
                    <div *ngIf="!column.tooltip && !(column.emptyLine && !element[column.name])"
                        [ngClass]="{'value-container' : column.comparativeName}">

                        <div [ngSwitch]="column.formatValue" [ngClass]="{'lg-container': column.maxWidthTdPercentage}">
                            <span *ngSwitchCase="'currency'">
                                {{ element[column.name] | currency:'USD':'symbol-narrow':'1.2-2' }}
                            </span>
                            <span *ngSwitchCase="'percentage'">
                                {{ element[column.name] | number : '1.2-2' }}%
                            </span>
                            <span *ngSwitchCase="'decimal'">
                                {{ element[column.name] | number : '1.2-2' }}
                            </span>
                            <span *ngSwitchCase="'integer'">
                                {{ element[column.name] | number : '1.0-0' }}
                            </span>
                            <span *ngSwitchDefault>
                                {{ element[column.name] }}
                            </span>
                        </div>

                        <ng-container *ngIf="column.comparativeName">
                            <ng-container *ngIf="column.comparativeOrder !== 'comparativeOverOriginal'">
                                <i class="fas fa-arrow-up"
                                    [ngClass]="{'text-success': !column.comparativeLowIsBetter, 'text-danger': column.comparativeLowIsBetter}"
                                    *ngIf="element[column.name] > element[column.comparativeName]"></i>
                                <i class="fas fa-equals text-warning"
                                    *ngIf="element[column.name] === element[column.comparativeName]"></i>
                                <i class="fas fa-arrow-down"
                                    [ngClass]="{'text-danger': !column.comparativeLowIsBetter, 'text-success': column.comparativeLowIsBetter}"
                                    *ngIf="element[column.name] < element[column.comparativeName]"></i>
                            </ng-container>

                            <ng-container *ngIf="column.comparativeOrder === 'comparativeOverOriginal'">
                                <i class="fas fa-arrow-up"
                                    [ngClass]="{'text-success': !column.comparativeLowIsBetter, 'text-danger': column.comparativeLowIsBetter}"
                                    *ngIf="element[column.comparativeName] > element[column.name]"></i>
                                <i class="fas fa-equals text-warning"
                                    *ngIf="element[column.comparativeName] === element[column.name]"></i>
                                <i class="fas fa-arrow-down"
                                    [ngClass]="{'text-danger': !column.comparativeLowIsBetter, 'text-success': column.comparativeLowIsBetter}"
                                    *ngIf="element[column.comparativeName] < element[column.name]"></i>
                            </ng-container>
                        </ng-container>
                    </div>
                </td>
            </ng-container>
        </ng-container>

        <ng-container matColumnDef="disclaimer">
            <td mat-footer-cell *matFooterCellDef [attr.colspan]="displayedColumns?.length">
                <div class="text-muted text-center" *ngIf="tableData?.reqStatus === 3">
                    {{ errorMsg }}
                </div>
                <div class="text-muted text-center" *ngIf="tableData?.data.length === 0 && tableData?.reqStatus !== 3">
                    {{ emptyDataMsg }}
                </div>
            </td>
        </ng-container>

        <ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumnsHeaders"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsHeaders;"></tr>
        </ng-container>

        <tr mat-footer-row *matFooterRowDef="['disclaimer']" class="example-second-footer-row"
            [hidden]="tableData?.reqStatus <=1 || tableData?.data.length > 0"></tr>
    </table>
</div>
<mat-paginator class="paginator" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>