.adaptable-container {
    background-color: #ffffff;
    border-radius: 0.375rem;
    min-height: 250px;
    overflow: auto;
    position: relative;
  
    table {
        border-collapse: collapse;
        table-layout: auto;
        width: 100%;
    }

    .lg-container {
        display: flex;
        span {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            max-width: inherit;
            display: inline-block;
        }
    }

    .value-container {
        align-items: center;
        display: grid;
        grid-template-columns: 40px 30px;
        gap: 8px;
        justify-content: center;
    } 

    &.auto {
        min-height: auto;
    }

    .loading-shade {
        align-items: center;
        background: rgba(0, 0, 0, 0.03);
        bottom: 0px;
        display: flex;
        justify-content: center;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 1;
    }
}

::ng-deep .custom-tooltip {
    font-size: 12px !important;
    margin-bottom: 0px !important;
    margin-top: 0px !important;
    max-width: unset !important;
}

.reduced-padding {
    th.mat-header-cell {
        padding: 8px 4px !important;
    }

    td.mat-cell, td.mat-footer-cell {
        padding: 0 4px !important
    }
}
